body {
  width: 100%;
  height: 100%;
}
.header {
  width: 1200px;
  height: 56px;
  margin: 72px auto;
}
.header .header_left {
  vertical-align: middle;
  display: inline-block;
  text-align: right;
  height: 60px;
  width: 313px;
}
.header .header_left .headline {
  display: inline-block;
  margin-right: 34px;
}
.header .header_left .headline h2 {
  font-size: 25px;
  font-weight: bold;
  color: #f29004;
}
.header .header_left .headline p {
  color: #b6b6b6;
  font-size: 12px;
}
.header .header_left:before {
  content: '';
  display: inline-block;
  width: 72px;
  height: 55px;
  background: url('../../img/login_1.png') no-repeat 0 -26px;
}
.header .header_right {
  vertical-align: middle;
  display: inline-block;
  height: 28px;
  width: 108px;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  border-left: 1px solid #e6e6e6;
}
.section {
  width: 877px;
  height: 562px;
  margin: 0 auto;
}
.section .left_img {
  width: 475px;
  height: 411px;
  float: left;
}
.section .left_img img {
  width: 100%;
  height: 100%;
}
.section .right_login {
  width: 336px;
  height: 360px;
  margin-top: 35px;
  border: 1px solid #e6e6e6;
  box-shadow: 1px -1px 2px #e6e6e6, -1px 1px 2px #e6e6e6;
  float: right;
}
.section .right_login h4 {
  font-size: 16px;
  font-weight: bold;
  color: #f29004;
  margin: 18px 0 28px 36px;
}
.section .right_login form {
  margin-left: 36px;
}
.section .right_login form .divs {
  border: 1px solid #e6e6e6;
  width: 260px;
  height: 30px;
  vertical-align: middle;
  margin-bottom: 15px;
  position: relative;
}
.section .right_login form .divs:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  margin: 0 20px 0 6px;
  width: 18px;
  height: 22px;
  background: url('../../img/login_1.png');
}
.section .right_login form .inputs {
  outline: none;
  width: 200px;
  height: 100%;
  line-height: 30px;
  border: none;
}
.section .right_login form .phone_number {
  border: 1px solid #e6e6e6;
  width: 260px;
  height: 30px;
  vertical-align: middle;
  margin-bottom: 15px;
  position: relative;
}
.section .right_login form .phone_number:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  margin: 0 20px 0 6px;
  width: 18px;
  height: 22px;
  background: url('../../img/login_1.png');
}
.section .right_login form .phone_number:before {
  background-position: 0 0;
}
.section .right_login form .phone_number input {
  outline: none;
  width: 200px;
  height: 100%;
  line-height: 30px;
  border: none;
}
.section .right_login form .password {
  border: 1px solid #e6e6e6;
  width: 260px;
  height: 30px;
  vertical-align: middle;
  margin-bottom: 15px;
  position: relative;
}
.section .right_login form .password:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  margin: 0 20px 0 6px;
  width: 18px;
  height: 22px;
  background: url('../../img/login_1.png');
}
.section .right_login form .password:before {
  background-position: -54px 0;
}
.section .right_login form .password input {
  outline: none;
  width: 200px;
  height: 100%;
  line-height: 30px;
  border: none;
}
.section .right_login form .save {
  vertical-align: middle;
  color: #d0d0d0;
  font-size: 12px;
}
.section .right_login form .save input {
  vertical-align: middle;
}
.section .right_login form .save span {
  margin-left: 10px;
}
.section .right_login .sure_input {
  display: block;
  width: 260px;
  font-size: 16px;
  margin: 85px 0 12px 36px;
  height: 40px;
  line-height: 40px;
  color: white;
  border-radius: 4px;
  background-color: #f29004;
  text-align: center;
}
.section .right_login .login_bottom {
  width: 260px;
  margin-left: 36px;
}
.section .right_login .login_bottom a {
  color: #b8b8b8;
  font-size: 12px;
}
.section .right_login .login_bottom .register {
  float: left;
}
.section .right_login .login_bottom .forget {
  float: right;
}
