html,
body {
  margin: 0;
  padding: 0;
  font: 14px/1.5 helvetica, arial, "Microsoft Yahei";
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  padding: 0;
  margin: 0;
}
table,
td,
tr,
th {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: black;
}
ol,
ul {
  list-style: none;
}
li {
  list-style-type: none;
}
input,
select {
  -webkit-appearance: none;
  outline: none;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
address,
cite,
code,
em,
th,
i {
  font-weight: normal;
  font-style: normal;
}
/*.clearfix{zoom:1;}*/
/*.clearfix:after{
    display:block; 
    overflow:hidden; 
    clear:both; height:0; 
    visibility:hidden; 
    content:".";
    }*/
* {
  padding: 0;
  margin: 0;
}
.clearflo {
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.right_column {
  display: inline-block;
  width: 270px;
  height: 100%;
  font-size: 14px;
}
.right_column .search_box {
  height: 50px;
  line-height: 50px;
  border: 1px solid #ececec;
  margin-bottom: 20px;
}
.right_column .search_box input {
  margin-left: 20px;
  width: 200px;
  height: 25px;
  border: none;
  font-size: 16px;
}
.right_column .search_box:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-right: 8px;
  margin-top: 5px ;
  vertical-align: middle;
  background: url(../../img/static/icons2.png) -45px 0 no-repeat;
}
.right_column .title {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  font-style: italic;
  border-bottom: 2px solid;
  margin-top: 50px;
}
.right_column .title:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  vertical-align: middle;
  background: url(../../img/static/icons2.png) -66px 0 no-repeat;
}
.right_column .about_me {
  margin-bottom: 40px;
}
.right_column .about_me .avatar {
  text-align: center;
  margin-top: 50px;
}
.right_column .about_me .avatar a {
  display: inline-block;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  background-color: #b8b8b8;
  border-radius: 30px;
}
.right_column .about_me .avatar .p1 {
  margin-top: 20px;
  font-size: 16px;
}
.right_column .about_me .avatar .p2 {
  font-size: 14px;
  color: #878787;
  font-style: italic;
}
.right_column .about_me .shareway {
  text-align: center;
  margin-top: 25px;
  border-top: 2px solid #ececec;
}
.right_column .about_me .shareway p {
  color: #878787;
  margin-top: 15px;
  font-size: 16px;
}
.right_column .about_me .shareway .network_icons {
  width: 130px;
  margin: 20px auto;
}
.right_column .about_me .shareway .network_icons a {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 2px solid #ececec;
  border-radius: 15px;
  margin-left: 8px;
}
.right_column .about_me .shareway .network_icons a:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 7px;
  background: url(../../img/static/icons2.png);
}
.right_column .about_me .shareway .network_icons .fb:after {
  background-position: 0 -186px;
}
.right_column .about_me .shareway .network_icons .tt:after {
  background-position: -18px -152px;
}
.right_column .about_me .shareway .network_icons .pg:after {
  background-position: 0 -57px;
}
.right_column .latest_articles .articles_box ul {
  padding-bottom: 40px;
}
.right_column .latest_articles .articles_box ul li {
  height: 70px;
  overflow: hidden;
  padding: 0 15px;
  margin-top: 40px;
  cursor: pointer;
}
.right_column .latest_articles .articles_box ul li img {
  width: 70px;
  height: 70px;
  float: left;
}
.right_column .latest_articles .articles_box ul li div {
  width: 135px;
  float: left;
  margin-left: 27px;
}
.right_column .latest_articles .articles_box ul li div h1 {
  font-size: 16px;
  letter-spacing: 1px;
}
.right_column .latest_articles .articles_box ul li div .class {
  font-size: 14px;
  color: #878787;
  margin-top: 3px;
}
.right_column .latest_articles .articles_box ul li:hover h1,
.right_column .latest_articles .articles_box ul li:hover .class {
  color: #f0bc4b;
}
.right_column .Cage .cages > p,
.right_column .archi .months > p {
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
}
.right_column .cages > p:hover,
.right_column .months > p:hover {
  color: #f0bc4b;
}
.right_column .act {
  color: #f0bc4b;
}
.right_column .flicker_photo .photos {
  margin-top: 30px;
  overflow: hidden;
}
.right_column .flicker_photo .photos a {
  display: inline-block;
  float: left;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  margin-right: 30px;
  box-sizing: border-box;
}
.right_column .flicker_photo .photos a img {
  width: 100%;
  height: 100%;
}
.right_column .flicker_photo .photos a:hover {
  border: 2px solid #f0bc4b;
}
.right_column .flicker_photo .photos a:nth-of-type(3n) {
  margin-right: 0;
}
.right_column .tags span {
  display: inline-block;
  height: 38px;
  padding: 0 15px;
  line-height: 38px;
  border: 2px solid #ececec;
  margin-top: 20px;
  margin-right: 10px;
  letter-spacing: 1px;
  color: #878787;
  cursor: pointer;
}
.right_column .tags .tagsAct {
  border-color: black ;
  color: black;
}
.right_column .tags span:hover {
  border-color: black ;
  color: black;
}
