html,
body {
  margin: 0;
  padding: 0;
  font: 14px/1.5 helvetica, arial, "Microsoft Yahei";
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  padding: 0;
  margin: 0;
}
table,
td,
tr,
th {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: black;
}
ol,
ul {
  list-style: none;
}
li {
  list-style-type: none;
}
input,
select {
  -webkit-appearance: none;
  outline: none;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
address,
cite,
code,
em,
th,
i {
  font-weight: normal;
  font-style: normal;
}
/*.clearfix{zoom:1;}*/
/*.clearfix:after{
    display:block; 
    overflow:hidden; 
    clear:both; height:0; 
    visibility:hidden; 
    content:".";
    }*/
* {
  padding: 0;
  margin: 0;
}
.clearflo {
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
body {
  min-width: 1200px;
  margin: 0 auto;
}
#head {
  position: relative;
  height: 1000px;
}
#head .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  vertical-align: top;
}
#head .head-nav {
  padding-top: 2%;
  width: 1170px;
  margin: auto;
}
#head .head-nav .logo {
  max-width: 170px;
  width: 14.52991453%;
  min-width: 150px;
  margin-left: 15px;
}
#head .head-nav .logo a,
#head .head-nav .logo img {
  display: block;
  width: 100%;
}
#head .head-nav .navbar {
  min-width: 0;
  background-color: transparent;
  float: right;
  border: none;
}
#head .head-nav .navbar .li {
  margin-left: 50px;
}
#head .head-nav .navbar .li .a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 12px 0 18px 0;
  height: auto;
}
#head .head-nav .navbar .li .a:hover {
  text-decoration: none;
}
#head .head-nav .navbar .li.active {
  position: relative;
}
#head .head-nav .navbar .li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eeb013;
}
#head .head-nav .navbar .li.search {
  margin-left: 20px;
}
#head .enter {
  min-width: 50px;
  width: 4.32291667%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 65.29411765%;
}
#head .enter img {
  width: 100%;
  display: block;
}
#head .btn-left,
#head .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
  font-size: 18px;
}
#head .btn-left:after,
#head .btn-right:after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#head .btn-left {
  left: 3.125%;
}
#head .btn-right {
  right: 3.125%;
}
#footer {
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 25px;
  color: #636363;
}
#footer .container-fluid {
  width: 1200px;
}
#footer .container-fluid ul {
  list-style: none;
  padding: 0;
}
#footer .container-fluid .title {
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}
#footer .container-fluid .title:after {
  content: '';
  height: 3px;
  width: 19px;
  background-color: #f6b138;
  display: block;
}
#footer .container-fluid .title.active {
  color: #f6b138;
  border: none;
}
#footer .container-fluid .title.active:after {
  display: none;
}
#footer .container-fluid .text {
  font-size: 12px;
  line-height: 24px;
}
#footer .container-fluid .logo {
  margin-top: 25px;
}
#footer .container-fluid .link {
  padding-top: 6px;
}
#footer .container-fluid .link a {
  color: inherit;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 34px;
}
#footer .container-fluid .twitter {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 10px;
}
#footer .container-fluid .twitter .time {
  color: #3a3a3a;
  margin: 12px 0 30px 0;
}
#footer .container-fluid .twitter .time:before {
  content: '';
  display: inline-block;
  background: url("../../img/static/twitter.png") no-repeat;
  width: 20px;
  height: 18px;
  background-position: 0 10px;
}
#footer .container-fluid .right {
  padding-left: 26px;
}
#footer .container-fluid .instagram {
  padding-left: 26px;
}
#footer .container-fluid .instagram .clearfix {
  margin-top: 20px;
  margin-right: -15px;
}
#footer .container-fluid .instagram .clearfix li {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #414141;
  position: relative;
}
#footer .container-fluid .instagram .clearfix li.active {
  background-color: #eeb013;
}
#footer .container-fluid .instagram .clearfix li.active span {
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  color: #fff;
}
#footer .container-fluid .row2 {
  font-size: 11px;
  color: #3a3a3a;
  font-family: Montserrat;
  margin-top: 20px;
}
#footer .container-fluid .row2 .icon ul {
  width: 271px;
  height: 14px;
  float: right;
}
#footer .container-fluid .row2 .icon ul li {
  display: table-cell;
  width: 1%;
  margin: auto;
  text-align: right;
}
#footer .container-fluid .row2 .icon ul li a {
  display: inline-block;
  background-image: url("../../img/static/footer.png");
}
#footer .container-fluid .row2 .icon ul li.active .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px -16px;
}
#footer .container-fluid .row2 .icon ul li.active .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px -14px;
}
#footer .container-fluid .row2 .icon ul li .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
#footer .container-fluid .row2 .icon ul li .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -3px;
}
#footer .container-fluid .row2 .icon ul li .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px 0px;
}
#footer .container-fluid .row2 .icon ul li .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -2px;
}
#footer .container-fluid .row2 .icon ul li .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px 0;
}
#footer .container-fluid .row2 .icon ul li .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px 0;
}
.row {
  margin-bottom: 20px;
}
.icon_name,
.title {
  font-weight: bold;
  margin-bottom: 5px;
}
h1 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 40px;
}
.h1 {
  margin: 10px 0 20px 0;
  font-size: 16px;
  font-weight: bold;
}
.text,
.info {
  font-size: 14px;
  color: #878787;
}
.style {
  margin-bottom: 60px;
}
.body {
  min-width: 1200px;
  margin: 60px auto ;
}
.s1 .row {
  text-align: center;
}
.s1 .row div {
  display: inline-block;
  margin-right: 30px;
  min-width: 200px;
}
.s1 .row div span {
  display: inline-block;
  width: 68px;
  height: 68px;
  border: 2px solid #ececec;
  border-radius: 100%;
  vertical-align: middle;
  position: relative;
  margin-right: 15px;
}
.s1 .row div span:before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  background: url(../../img/home/static/icon.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.s1 .row div span.unique:before {
  margin-top: 22px;
  width: 35px;
  height: 26px;
  background-position-x: 0 ;
}
.s1 .row div span.photography:before {
  width: 31px;
  height: 26px;
  background-position-x: -37px;
}
.s1 .row div span.art:before {
  width: 28px;
  height: 29px;
  background-position-x: -68px;
}
.s2 .row {
  margin-bottom: 30px;
}
.s2 .row span {
  display: inline-block;
  width: 37px;
  height: 37px;
  margin-top: 5px;
  background: url(../../img/home/static/icon.png) top no-repeat;
}
.s2 .row span.icon1 {
  background-position-x: -200px;
}
.s2 .row span.icon2 {
  background-position-x: -237px;
}
.s2 .row span.icon3 {
  background-position-x: -274px;
}
.s2 .row span.icon4 {
  background-position-x: -309px;
}
.s2 .row span.icon5 {
  background-position-x: -346px;
}
.s2 .row span.icon6 {
  background-position-x: -385px;
}
.s3 .col-xs-4 {
  position: relative;
  height: 120px;
}
.s3 .col-xs-4 span {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  height: 110px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(../../img/home/static/icon.png) no-repeat;
}
.s3 .col-xs-4 span.icon1 {
  background-position: 0px -553px;
}
.s3 .col-xs-4 span.icon2 {
  background-position: -110px -553px;
}
.s3 .col-xs-4 span.icon3 {
  background-position: -220px -553px;
}
.s3 .col-xs-4 span.icon4 {
  background-position: -330px -553px;
}
.s3 .col-xs-4 span.icon5 {
  background-position: -440px -553px;
}
.s3 .col-xs-4 span.icon6 {
  background-position: -550px -553px;
}
.s3 .col-xs-8 {
  margin-top: 25px;
}
.s4 .row1 {
  margin-top: 60px;
  text-align: center;
}
.s4 .row1 .col-xs-3 .wrap {
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
}
.s4 .row1 .col-xs-3:before {
  content: '';
  display: block;
  margin: auto;
  width: 104px;
  height: 104px;
  background: url(../../img/home/static/icon.png) no-repeat;
  margin-bottom: 30px;
}
.s4 .row1 .col-xs-3.col1:before {
  background-position: 0 -181px;
}
.s4 .row1 .col-xs-3.col2:before {
  background-position: -104px -181px;
}
.s4 .row1 .col-xs-3.col3:before {
  background-position: -208px -181px;
}
.s4 .row1 .col-xs-3.col4:before {
  background-position: -312px -181px;
}
.s5 .title {
  margin-bottom: 5px;
}
.s5 .container-fluid {
  margin-top: 56px;
  width: 830px;
}
.s5 .container-fluid .col-xs-4 {
  text-align: center;
}
.s5 .container-fluid .col-xs-4:before {
  content: '';
  display: block;
  margin: auto;
  width: 104px;
  height: 104px;
  background-image: url("../../img/home/static/icon.png");
  margin-bottom: 35px;
}
.s5 .container-fluid .col1:before {
  background-position: 0 -365px;
}
.s5 .container-fluid .col2:before {
  background-position: -104px -365px;
}
.s5 .container-fluid .col3:before {
  background-position: -208px -365px;
}
.s6 .col-xs-4 {
  margin-top: 60px;
  text-align: center;
}
.s6 .col-xs-4:before {
  content: '';
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  background-image: url("../../img/home/static/icon.png");
  margin-bottom: 40px;
}
.s6 .col1:before {
  background-position: 0 -469px;
}
.s6 .col2:before {
  background-position: -80px -469px;
}
.s6 .col3:before {
  background-position: -160px -469px;
}
.s6 .col4:before {
  background-position: -240px -469px;
}
.s6 .col5:before {
  background-position: -320px -469px;
}
.s6 .col6:before {
  background-position: -400px -469px;
}
.s7 .col-xs-4 {
  margin-top: 60px;
  text-align: center;
}
.s7 .col-xs-4:before {
  content: '';
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  background-image: url("../../img/home/static/icon.png");
  margin-bottom: 40px;
}
.s7 .col1:before {
  background-position: 0 -824px;
}
.s7 .col2:before {
  background-position: -80px -824px;
}
.s7 .col3:before {
  background-position: -160px -824px;
}
.s8 .row1 .media-object {
  width: 100px;
  height: 100px;
  border: 2px solid #606060;
  position: relative;
  margin-right: 30px;
  border-radius: 100%;
}
.s8 .row1 .media-object:after {
  content: '';
  background-image: url("../../img/home/static/icon.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.s8 .row1 .media-object.obj1:after {
  width: 22px;
  height: 35px;
  background-position: -443px 0;
}
.s8 .row1 .media-object.obj2:after {
  width: 28px;
  height: 42px;
  background-position: -473px 0;
}
.s8 .row1 .media-object.obj3:after {
  width: 49px;
  height: 38px;
  background-position: -505px 0;
}
.s8 .row1 .media-body {
  color: #878787;
}
.s8 .row1 .media-body p {
  margin-bottom: 5px;
}
.s9 .row {
  margin-top: 80px;
}
.s9 .col-xs-3 {
  margin-top: 100px;
  text-align: center;
  border: 2px solid #ececec;
  min-width: 270px;
  border-radius: 8px;
  padding: 0 15px 60px;
  padding-bottom: 60px;
}
.s9 .col-xs-3:before {
  content: '';
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  background-image: url("../../img/home/static/icon.png");
  margin-top: -40px;
  margin-bottom: 20px;
}
.s9 .col1:before {
  background-position: 0 -824px;
}
.s9 .col2:before {
  background-position: -80px -824px;
}
.s9 .col3:before {
  background-position: -160px -824px;
}
.s9 .col4:before {
  background-position: -160px -824px;
}
.s10 .media .media-object {
  width: 70px;
  height: 70px;
  position: relative;
  margin-right: 15px;
}
.s10 .media .media-object:after {
  content: '';
  display: inline-block;
  background: url(../../img/home/static/icon.png) no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.s10 .media .media-object.obj1:after {
  width: 44px;
  height: 48px;
  background-position: 0 -63px;
}
.s10 .media .media-object.obj2:after {
  width: 48px;
  height: 40px;
  background-position: -53px -63px;
}
.s10 .media .media-object.obj3:after {
  width: 32px;
  height: 48px;
  background-position: -112px -63px;
}
.s10 .media .media-object.obj4:after {
  width: 49px;
  height: 48px;
  background-position: -152px -63px;
}
.s10 .media .media-object.obj5:after {
  width: 48px;
  height: 48px;
  background-position: -209px -63px;
}
.s10 .media .media-object.obj6:after {
  width: 48px;
  height: 48px;
  background-position: -264px -63px;
}
