body {
  min-width: 1200px;
  margin: 0 auto;
}
#head {
  position: relative;
  height: 1000px;
}
#head .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  vertical-align: top;
}
#head .head-nav {
  padding-top: 2%;
  width: 1170px;
  margin: auto;
}
#head .head-nav .logo {
  max-width: 170px;
  width: 14.52991453%;
  min-width: 150px;
  margin-left: 15px;
}
#head .head-nav .logo a,
#head .head-nav .logo img {
  display: block;
  width: 100%;
}
#head .head-nav .navbar {
  min-width: 0;
  background-color: transparent;
  float: right;
  border: none;
}
#head .head-nav .navbar .li {
  margin-left: 50px;
}
#head .head-nav .navbar .li .a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 12px 0 18px 0;
  height: auto;
}
#head .head-nav .navbar .li .a:hover {
  text-decoration: none;
}
#head .head-nav .navbar .li.active {
  position: relative;
}
#head .head-nav .navbar .li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eeb013;
}
#head .head-nav .navbar .li.search {
  margin-left: 20px;
}
#head .enter {
  min-width: 50px;
  width: 4.32291667%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 65.29411765%;
}
#head .enter img {
  width: 100%;
  display: block;
}
#head .btn-left,
#head .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
  font-size: 18px;
}
#head .btn-left:after,
#head .btn-right:after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#head .btn-left {
  left: 3.125%;
}
#head .btn-right {
  right: 3.125%;
}
#footer {
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 25px;
  color: #636363;
}
#footer .container-fluid {
  width: 1200px;
}
#footer .container-fluid ul {
  list-style: none;
  padding: 0;
}
#footer .container-fluid .title {
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}
#footer .container-fluid .title:after {
  content: '';
  height: 3px;
  width: 19px;
  background-color: #f6b138;
  display: block;
}
#footer .container-fluid .title.active {
  color: #f6b138;
  border: none;
}
#footer .container-fluid .title.active:after {
  display: none;
}
#footer .container-fluid .text {
  font-size: 12px;
  line-height: 24px;
}
#footer .container-fluid .logo {
  margin-top: 25px;
}
#footer .container-fluid .link {
  padding-top: 6px;
}
#footer .container-fluid .link a {
  color: inherit;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 34px;
}
#footer .container-fluid .twitter {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 10px;
}
#footer .container-fluid .twitter .time {
  color: #3a3a3a;
  margin: 12px 0 30px 0;
}
#footer .container-fluid .twitter .time:before {
  content: '';
  display: inline-block;
  background: url("../../img/static/twitter.png") no-repeat;
  width: 20px;
  height: 18px;
  background-position: 0 10px;
}
#footer .container-fluid .right {
  padding-left: 26px;
}
#footer .container-fluid .instagram {
  padding-left: 26px;
}
#footer .container-fluid .instagram .clearfix {
  margin-top: 20px;
  margin-right: -15px;
}
#footer .container-fluid .instagram .clearfix li {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #414141;
  position: relative;
}
#footer .container-fluid .instagram .clearfix li.active {
  background-color: #eeb013;
}
#footer .container-fluid .instagram .clearfix li.active span {
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  color: #fff;
}
#footer .container-fluid .row2 {
  font-size: 11px;
  color: #3a3a3a;
  font-family: Montserrat;
  margin-top: 20px;
}
#footer .container-fluid .row2 .icon ul {
  width: 271px;
  height: 14px;
  float: right;
}
#footer .container-fluid .row2 .icon ul li {
  display: table-cell;
  width: 1%;
  margin: auto;
  text-align: right;
}
#footer .container-fluid .row2 .icon ul li a {
  display: inline-block;
  background-image: url("../../img/static/footer.png");
}
#footer .container-fluid .row2 .icon ul li.active .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px -16px;
}
#footer .container-fluid .row2 .icon ul li.active .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px -14px;
}
#footer .container-fluid .row2 .icon ul li .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
#footer .container-fluid .row2 .icon ul li .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -3px;
}
#footer .container-fluid .row2 .icon ul li .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px 0px;
}
#footer .container-fluid .row2 .icon ul li .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -2px;
}
#footer .container-fluid .row2 .icon ul li .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px 0;
}
#footer .container-fluid .row2 .icon ul li .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px 0;
}
body {
  min-width: 1200px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  height: 0;
  font-size: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.btn {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid #141414;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
.h1 {
  margin: 10px 0 20px 0;
}
#head .list-inline a {
  color: #fff;
}
.head {
  clear: both;
  text-align: center;
}
.head .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
.head .knive_line {
  width: 230px;
  margin: 20px auto;
  position: relative;
  height: 1px;
  background-color: #d0d0d0;
}
.head .knive_line:before {
  content: '';
  display: block;
  width: 64px;
  height: 21px;
  background-image: url("../../img/home/static/icon.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  background-position: -110px -1px;
}
.head .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
  margin-bottom: 0;
}
#head li a {
  color: #141414;
}
#head .head_nav {
  width: 1170px;
  margin: auto;
  position: relative;
}
#head .head_nav .logo,
#head .head_nav .logo a,
#head .head_nav .logo img {
  display: block;
  margin: auto;
  vertical-align: top;
}
#head .head_nav .logo a {
  position: relative;
  top: 55px;
}
#head .list-inline li {
  margin: 10px;
}
#body {
  list-style: none;
  padding: 0;
  margin: 0;
  /*******************container1***********************/
  /*******************container1***********************/
  /*******************container2***********************/
  /*******************container2***********************/
  /*******************container3***********************/
  /*******************container3***********************/
  /*******************container4***********************/
  /*******************container4***********************/
  /*******************container5***********************/
  /*******************container5***********************/
  /*******************container6***********************/
  /*******************container6***********************/
  /*******************container7***********************/
  /*******************container7***********************/
  /*******************container8***********************/
  /*******************container8***********************/
  /*******************container9***********************/
  /*******************container9***********************/
}
#body .container1 {
  padding-top: 75px;
}
#body .container1 .container-fluid {
  width: 1200px;
  margin-top: 70px;
}
#body .container1 .container-fluid .col-xs-4:before {
  content: '';
  display: block;
  float: left;
  width: 110px;
  height: 110px;
  background-image: url("../../img/home/static/icon.png");
  margin-right: 30px;
  margin-bottom: 55px;
}
#body .container1 .container-fluid .col-xs-4.col1:before {
  background-position: 0px -553px;
}
#body .container1 .container-fluid .col-xs-4.col2:before {
  background-position: -110px -553px;
}
#body .container1 .container-fluid .col-xs-4.col3:before {
  background-position: -220px -553px;
}
#body .container1 .container-fluid .col-xs-4.col4:before {
  background-position: -330px -553px;
}
#body .container1 .container-fluid .col-xs-4.col5:before {
  background-position: -440px -553px;
}
#body .container1 .container-fluid .col-xs-4.col6:before {
  background-position: -550px -553px;
}
#body .container1 .container-fluid .col-xs-4 .info .title {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container1 .container-fluid .col-xs-4 .info .text {
  font-family: Montserrat;
  font-size: 12px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container2 {
  padding-top: 75px;
}
#body .container2 .list-inline {
  text-align: center;
  margin-top: 40px;
}
#body .container2 .list-inline li a {
  border-color: #ececec;
  padding: 10px 20px;
}
#body .container2 .container-fluid {
  margin-top: 38px;
}
#body .container2 .container-fluid .col-xs-4 {
  padding: 0;
}
#body .container2 .container-fluid .col-xs-4 .content {
  position: relative;
}
#body .container2 .container-fluid .col-xs-4 .content img {
  display: block;
  width: 100%;
}
#body .container2 .container-fluid .col-xs-4:hover .mask {
  display: block;
}
#body .container2 .container-fluid .col-xs-4 .mask {
  display: none;
  padding-top: 115px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#body .container2 .container-fluid .col-xs-4 .mask .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 15px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
#body .container2 .container-fluid .col-xs-4 .mask .info {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
  color: #fff;
}
#body .container2 .container-fluid .col-xs-4 .mask .enter {
  display: block;
  margin: 30px auto 0;
  width: 40px;
  height: 40px;
  border: 5px solid #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}
#body .container2 .buy {
  background-color: #ececec;
}
#body .container2 .buy .middle {
  width: 1170px;
  margin: auto;
  padding: 48px 0 ;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;
}
#body .container2 .buy .middle .btn {
  width: 170px;
  height: 50px;
  background-color: #141414;
  color: #fff;
}
#body .container3 {
  padding-top: 75px;
}
#body .container3 .media {
  width: 1170px;
  margin: 70px auto 0;
}
#body .container3 .media .pull-left {
  width: 370px;
}
#body .container3 .media .pull-left .media-object img {
  width: 100%;
  display: block;
}
#body .container3 .media .media-body {
  width: 700px;
}
#body .container3 .media .media-body .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container3 .media .media-body .test {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 14px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container3 .media .media-body hr {
  border-color: #141414;
  margin-top: 35px;
}
#body .container3 .media .media-body .info {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 16px;
  color: #6f6f6f;
  margin-top: 15px;
}
#body .container3 .media .media-body .yellowLine {
  width: 72px;
  height: 1px;
  margin-top: 28px;
  background-color: #eeb013;
}
#body .container3 .media .media-body .author {
  font-size: 10px;
  margin-top: 15px;
}
#body .container3 .media .media-body .author span {
  font-style: italic;
}
#body .container3 .meetOur {
  margin-top: 70px;
  text-align: center;
}
#body .container3 .meetOur .title {
  display: inline-block;
  border-bottom: 1px solid #141414;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  padding-bottom: 14px;
}
#body .container3 .container-fluid {
  margin-top: 50px;
  width: 1200px;
}
#body .container3 .container-fluid .col-xs-2 {
  padding: 0;
  position: relative;
  width: 195px;
  height: 195px;
}
#body .container3 .container-fluid .col-xs-2 .portait img {
  width: 100%;
  height: 100%;
  display: block;
}
#body .container3 .container-fluid .col-xs-2:hover .name {
  display: block;
}
#body .container3 .container-fluid .col-xs-2 .name {
  display: none;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  top: auto;
}
#body .container3 .container-fluid .col-xs-2 .name a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  left: auto;
  right: 10px;
  color: #eeb013;
}
#body .container3 .container-fluid .col-xs-2 .name a:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#body .container3 .container-fluid .col-xs-2 .name a span {
  margin-top: 13px;
}
#body .container3 .container-fluid .joinOUS {
  background-color: #141414;
  text-align: center;
}
#body .container3 .container-fluid .joinOUS a {
  padding-top: 60px;
  display: block;
  width: 100%;
  height: 100%;
}
#body .container3 .container-fluid .joinOUS a:hover {
  text-decoration: none;
}
#body .container3 .container-fluid .joinOUS a .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
#body .container3 .container-fluid .joinOUS a:after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 37px;
  background-image: url("../../img/home/static/icon.png");
  margin-top: 24px;
  background-position: -605px 0;
}
#body .container4 {
  padding-top: 75px;
}
#body .container4 .content {
  text-align: center;
  margin-top: 74px;
  padding-top: 64px;
  background-color: #2e2e2e;
  padding-bottom: 92px;
}
#body .container4 .content .portait {
  width: 143px;
  height: 143px;
  margin: auto;
}
#body .container4 .content .portait img {
  width: 100%;
  display: block;
}
#body .container4 .content .text {
  margin: 24px auto 0;
  width: 737px;
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
  color: #fff;
}
#body .container4 .content .line {
  margin: 30px auto 0;
  width: 65px;
  height: 2px;
  background-color: #fff;
}
#body .container4 .content .title {
  margin-top: 20px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
#body .container4 .content .job {
  margin-top: 20px;
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 12px;
  color: #6f6f6f;
  color: #fff;
}
#body .container4 .content .nav_pagination {
  margin-top: 30px;
  text-align: center;
}
#body .container4 .content .nav_pagination li {
  margin: 0;
}
#body .container4 .content .nav_pagination li.active a {
  background-color: #eeb013;
}
#body .container4 .content .nav_pagination li a {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-color: #d8d8d8;
  display: block;
}
#body .container4 .content .container-fluid {
  margin-top: 33px;
  width: 1200px;
}
#body .container5 {
  padding-top: 75px;
}
#body .container5 .container-fluid {
  width: 1200px;
  margin-top: 90px;
}
#body .container5 .container-fluid .col-xs-3 {
  text-align: center;
}
#body .container5 .container-fluid .score {
  position: relative;
}
#body .container5 .container-fluid .circle {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 40px;
  color: #6f6f6f;
  color: #fff;
  width: 131px;
  height: 131px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  line-height: 131px;
  background-color: #141414;
  margin: auto;
}
#body .container5 .container-fluid .arrow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  left: auto;
  color: #6f6f6f;
  font-size: 20px;
  width: 20px;
  height: 24px;
}
#body .container5 .container-fluid .work {
  margin-top: 35px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container5 .borde {
  background-image: url("../../img/home/static/yellowborder6.png");
  background-position: 50%;
  margin-top: 100px;
  height: 520px;
}
#body .container5 .borde .middle {
  width: 1170px;
  margin: auto;
  padding-top: 110px;
}
#body .container5 .borde .middle .content {
  width: 770px;
}
#body .container5 .borde .middle .content .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 26px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
#body .container5 .borde .middle .content .text {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 22px;
  color: #6f6f6f;
  margin-top: 35px;
  color: #fff;
}
#body .container5 .borde .middle .content .btn {
  margin-top: 60px;
  width: 34px;
  height: 34px;
  border: 2px solid #fff;
  color: #fff;
}
#body .container5 .borde .middle .content .btn span {
  margin-left: -4px;
}
#body .container5 .borde .middle .content .btn_left {
  margin-right: 35px;
}
#body .container5 .computer {
  width: 1170px;
  margin: auto;
  text-align: center;
}
#body .container5 .computer .img {
  margin-top: 100px;
}
#body .container5 .computer .img img {
  max-width: 1170px;
}
#body .container5 .computer .info .title {
  margin-top: 65px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container5 .computer .info .text {
  margin-top: 15px;
  font-family: Montserrat;
  font-size: 14px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container5 .computer .btn {
  margin-top: 46px;
  width: 170px;
  height: 50px;
  background-color: #141414;
  color: #fff;
}
#body .container6 {
  padding-top: 75px;
}
#body .container6 .container-fluid {
  margin-top: 125px;
  width: 1200px;
  text-align: center;
}
#body .container6 .container-fluid .col-xs-3 {
  padding: 0;
}
#body .container6 .container-fluid .col-xs-3.active {
  margin-top: -20px;
}
#body .container6 .container-fluid .col-xs-3.active .panel .panel-footer .btn {
  display: block;
}
#body .container6 .container-fluid .panel {
  width: 270px;
  margin: auto;
}
#body .container6 .container-fluid .panel.panel1 .panel-heading:before {
  background-position: 0px -667px;
}
#body .container6 .container-fluid .panel.panel2 .panel-heading:before {
  background-position: -80px -667px;
}
#body .container6 .container-fluid .panel.panel3 .panel-heading:before {
  background-position: -160px -667px;
}
#body .container6 .container-fluid .panel.panel4 .panel-heading:before {
  background-position: -240px -667px;
}
#body .container6 .container-fluid .panel .panel-heading {
  background-color: transparent;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  padding: 20px 0;
  position: relative;
}
#body .container6 .container-fluid .panel .panel-heading:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  bottom: auto;
  width: 80px;
  height: 80px;
  background-image: url("../../img/home/static/icon.png");
  top: -50px;
}
#body .container6 .container-fluid .panel .panel-heading .h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}
#body .container6 .container-fluid .panel .panel-heading sup {
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  vertical-align: super;
  transform: translateY(-10px);
}
#body .container6 .container-fluid .panel .panel-heading strong {
  font-size: 50px;
}
#body .container6 .container-fluid .panel .panel-heading sub {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 14px;
  color: #6f6f6f;
  color: #141414;
  margin-left: 10px;
}
#body .container6 .container-fluid .panel .panel-body a {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #6f6f6f;
  line-height: 26px;
  position: relative;
}
#body .container6 .container-fluid .panel .panel-body a.active:after {
  content: '';
  background-image: url("../../img/home/static/icon.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 13px;
  height: 10px;
  left: auto;
  right: 10px;
  background-position: -425px 0;
}
#body .container6 .container-fluid .panel .panel-footer {
  background-color: transparent;
  border: none;
  padding: 0;
}
#body .container6 .container-fluid .panel .panel-footer .btn {
  background-color: #141414;
  color: #fff;
  width: 270px;
  height: 67px;
  border: none;
  position: relative;
}
#body .container6 .container-fluid .panel .panel-footer .btn:hover {
  background-color: #eeb013;
}
#body .container6 .container-fluid .panel .panel-footer .btn:hover:before {
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  min-height: 0;
  border-style: solid dashed dashed dashed;
  border-color: #ffffff transparent transparent transparent;
  border-width: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  bottom: auto;
}
#body .container7 {
  padding-top: 75px;
}
#body .container7 .container-fluid {
  margin-top: 15px;
  width: 1200px;
}
#body .container7 .container-fluid .col-xs-6 {
  margin-top: 60px;
}
#body .container7 .container-fluid .media .pull-left {
  padding: 0;
  margin-right: 30px;
}
#body .container7 .container-fluid .media .pull-left .media-object {
  width: 170px;
  display: block;
}
#body .container7 .container-fluid .media .media-body .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container7 .container-fluid .media .media-body .text {
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 12px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container7 .container-fluid .media .media-body .btn {
  background-color: #eeb013;
  color: #fff;
  width: 120px;
  height: 40px;
  margin-top: 17px;
  border: none;
  line-height: 28px;
}
#body .container8 {
  padding-top: 75px;
}
#body .container8 .gallery {
  width: 1170px;
  margin: auto;
  height: 700px;
  margin-top: 80px;
}
#body .container8 .gallery .gallery-top {
  height: 80%;
  width: 100%;
}
#body .container8 .gallery .gallery-thumbs {
  height: 20%;
  padding: 10px 0;
}
#body .container8 .gallery .gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#body .container8 .gallery .gallery-thumbs .swiper-slide-active {
  opacity: 1;
  filter: alpha(opacity=100);
}
#body .container8 .gallery img {
  width: 100%;
  height: 100%;
}
#body .container9 {
  padding-top: 75px;
}
#body .container9 .map {
  margin-top: 80px;
}
#body .container9 .map img {
  width: 100%;
  display: block;
}
#body .container9 .form-horizontal {
  margin-top: 50px;
}
#body .container9 .form-horizontal .container-fluid {
  width: 1200px;
}
#body .container9 .form-horizontal .container-fluid .form-group {
  margin: 0;
  border: 2px solid #ececec;
  padding: 4px 0;
}
#body .container9 .form-horizontal .container-fluid .form-group label {
  font-style: italic;
}
#body .container9 .form-horizontal .container-fluid .form-group label sup {
  color: #eeb013;
}
#body .container9 .form-horizontal .container-fluid .form-group input,
#body .container9 .form-horizontal .container-fluid .form-group textarea {
  border: none;
  outline: none;
  box-shadow: none;
}
#body .container9 .form-horizontal .container-fluid .form-group textarea {
  resize: none;
  height: 210px;
}
#body .container9 .form-horizontal .container-fluid .col-xs-4 {
  margin-bottom: 10px;
}
#body .container9 .form-horizontal .container-fluid .col-xs-12 {
  margin-top: 35px;
}
#body .container9 .form-horizontal .btn {
  background-color: #eeb013;
  color: #fff;
  width: 160px;
  height: 40px;
  border: none;
}
#body .container9 .con2 {
  margin-top: 80px;
  height: 339px;
  background-color: #575757;
}
#body .container9 .con2 .row {
  height: 100%;
}
#body .container9 .con2 .col-xs-3 {
  position: relative;
  height: 100%;
}
#body .container9 .con2 .col-xs-3 .ability {
  width: 163px;
  height: 163px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  border: 7px solid #141414;
}
#body .container9 .con2 .col-xs-3 .ability .score {
  margin-top: 40px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
#body .container9 .con2 .col-xs-3 .ability .skill {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 11px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  margin-top: 20px;
  color: #fff;
}
