#head {
  position: relative;
  height: 1000px;
}
#head .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  vertical-align: top;
}
#head .head-nav {
  padding-top: 2%;
  width: 1170px;
  margin: auto;
}
#head .head-nav .logo {
  max-width: 170px;
  width: 14.52991453%;
  min-width: 150px;
  margin-left: 15px;
}
#head .head-nav .logo a,
#head .head-nav .logo img {
  display: block;
  width: 100%;
}
#head .head-nav .navbar {
  min-width: 0;
  background-color: transparent;
  float: right;
  border: none;
}
#head .head-nav .navbar .li {
  margin-left: 50px;
}
#head .head-nav .navbar .li .a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 12px 0 18px 0;
  height: auto;
}
#head .head-nav .navbar .li .a:hover {
  text-decoration: none;
}
#head .head-nav .navbar .li.active {
  position: relative;
}
#head .head-nav .navbar .li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eeb013;
}
#head .head-nav .navbar .li.search {
  margin-left: 20px;
}
#head .enter {
  min-width: 50px;
  width: 4.32291667%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 65.29411765%;
}
#head .enter img {
  width: 100%;
  display: block;
}
#head .btn-left,
#head .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
  font-size: 18px;
}
#head .btn-left:after,
#head .btn-right:after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#head .btn-left {
  left: 3.125%;
}
#head .btn-right {
  right: 3.125%;
}
#footer {
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 25px;
  color: #636363;
}
#footer .container-fluid {
  width: 1200px;
}
#footer .container-fluid ul {
  list-style: none;
  padding: 0;
}
#footer .container-fluid .title {
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}
#footer .container-fluid .title:after {
  content: '';
  height: 3px;
  width: 19px;
  background-color: #f6b138;
  display: block;
}
#footer .container-fluid .title.active {
  color: #f6b138;
  border: none;
}
#footer .container-fluid .title.active:after {
  display: none;
}
#footer .container-fluid .text {
  font-size: 12px;
  line-height: 24px;
}
#footer .container-fluid .logo {
  margin-top: 25px;
}
#footer .container-fluid .link {
  padding-top: 6px;
}
#footer .container-fluid .link a {
  color: inherit;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 34px;
}
#footer .container-fluid .twitter {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 10px;
}
#footer .container-fluid .twitter .time {
  color: #3a3a3a;
  margin: 12px 0 30px 0;
}
#footer .container-fluid .twitter .time:before {
  content: '';
  display: inline-block;
  background: url("../../img/static/twitter.png") no-repeat;
  width: 20px;
  height: 18px;
  background-position: 0 10px;
}
#footer .container-fluid .right {
  padding-left: 26px;
}
#footer .container-fluid .instagram {
  padding-left: 26px;
}
#footer .container-fluid .instagram .clearfix {
  margin-top: 20px;
  margin-right: -15px;
}
#footer .container-fluid .instagram .clearfix li {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #414141;
  position: relative;
}
#footer .container-fluid .instagram .clearfix li.active {
  background-color: #eeb013;
}
#footer .container-fluid .instagram .clearfix li.active span {
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  color: #fff;
}
#footer .container-fluid .row2 {
  font-size: 11px;
  color: #3a3a3a;
  font-family: Montserrat;
  margin-top: 20px;
}
#footer .container-fluid .row2 .icon ul {
  width: 271px;
  height: 14px;
  float: right;
}
#footer .container-fluid .row2 .icon ul li {
  display: table-cell;
  width: 1%;
  margin: auto;
  text-align: right;
}
#footer .container-fluid .row2 .icon ul li a {
  display: inline-block;
  background-image: url("../../img/static/footer.png");
}
#footer .container-fluid .row2 .icon ul li.active .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px -16px;
}
#footer .container-fluid .row2 .icon ul li.active .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px -14px;
}
#footer .container-fluid .row2 .icon ul li .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
#footer .container-fluid .row2 .icon ul li .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -3px;
}
#footer .container-fluid .row2 .icon ul li .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px 0px;
}
#footer .container-fluid .row2 .icon ul li .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -2px;
}
#footer .container-fluid .row2 .icon ul li .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px 0;
}
#footer .container-fluid .row2 .icon ul li .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px 0;
}
body {
  min-width: 1200px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  height: 0;
  font-size: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.btn {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid #141414;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
.h1 {
  margin: 10px 0 20px 0;
}
p {
  margin: 0;
}
.head_special {
  width: 870px;
  margin: auto;
  text-align: center;
}
.head_special .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
.head_special .icon {
  width: 41px;
  height: 41px;
  margin: auto;
  background-image: url("../../img/home/static/icon.png");
  background-position: -715px 0;
  margin-top: 20px;
}
.head_special .text {
  font-family: Montserrat;
  font-size: 18px;
  color: #6f6f6f;
  line-height: 2.2rem;
  margin-top: 32px;
}
.head {
  width: 870px;
  margin: auto;
  text-align: center;
}
.head .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
.head .icon {
  width: 31px;
  height: 26px;
  margin: auto;
  background-image: url("../../img/home/static/icon.png");
  background-position: -756px 0;
  margin-top: 20px;
}
.head .text {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
  margin-top: 32px;
}
#head {
  height: auto;
}
#head .list-inline a {
  color: #141414;
}
#head .contact {
  background-color: #ececec;
  padding: 8px 0;
}
#head .contact .middle {
  width: 1170px;
  margin: auto;
}
#head .contact .middle .number a {
  margin-right: 28px;
  overflow: hidden;
  font-family: Montserrat;
  font-size: 11px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#head .contact .middle .number a:before {
  content: '';
  display: inline-block;
  background-image: url("../../img/home/static/icon.png");
  margin-right: 10px;
  margin-bottom: -3px;
}
#head .contact .middle .number .phone:before {
  width: 12px;
  height: 12px;
  background-position: -667px 0;
}
#head .contact .middle .number .message:before {
  width: 15px;
  height: 12px;
  background-position: -679px 0;
}
#head .contact .middle .icon {
  margin-top: 8px;
}
#head .contact .middle .icon ul {
  width: 271px;
  height: 14px;
  float: right;
}
#head .contact .middle .icon ul li {
  display: table-cell;
  width: 1%;
  margin: auto;
  text-align: right;
}
#head .contact .middle .icon ul li a {
  display: inline-block;
  background-image: url("../../img/static/footer.png");
}
#head .contact .middle .icon ul li .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
#head .contact .middle .icon ul li .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -3px;
}
#head .contact .middle .icon ul li .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px 0px;
}
#head .contact .middle .icon ul li .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -2px;
}
#head .contact .middle .icon ul li .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px 0;
}
#head .contact .middle .icon ul li .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px 0;
}
#head .NAV {
  width: 1170px;
  margin: auto;
  padding: 60px 0;
}
#head .NAV .navbar {
  margin-bottom: 0;
}
#head .NAV li {
  margin-left: 60px;
}
#head .NAV li.search {
  margin-left: 25px;
}
#head .NAV li a {
  line-height: 53px;
}
#head .NAV li.active {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
}
#head .NAV li.active a {
  color: #a9b876;
}
#head .background {
  position: relative;
  height: 700px;
  min-width: 1200px;
}
#head .background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#head .background .btn-enter {
  width: 170px;
  height: 50px;
  position: absolute;
  color: #141414;
  border: 2px solid #141414;
  line-height: 36px;
  left: 54.6875%;
  top: 338px;
}
#body {
  list-style: none;
  padding: 0;
  margin: 0;
  /*******************container1***********************/
  /*******************container1***********************/
  /*******************container2***********************/
  /*******************container2***********************/
  /*******************container3***********************/
  /*******************container3***********************/
  /*******************container4***********************/
  /*******************container4***********************/
  /*******************container5***********************/
  /*******************container5***********************/
  /*******************container6***********************/
  /*******************container6***********************/
  /*******************container7***********************/
  /*******************container7***********************/
  /*******************container8***********************/
  /*******************container8***********************/
  /*******************container9***********************/
  /*******************container9***********************/
  /*******************container10***********************/
  /*******************container10***********************/
}
#body .container1 {
  padding-top: 75px;
}
#body .container1 .container-fluid1 {
  width: 1200px;
  margin-top: 66px;
}
#body .container1 .container-fluid1 .object img {
  width: 100%;
  display: block;
}
#body .container1 .container-fluid1 .content {
  margin-top: 26px;
  text-align: center;
}
#body .container1 .container-fluid1 .content:before {
  content: '';
  background-image: url("../../img/home/static/icon.png");
  width: 57px;
  height: 57px;
  display: block;
  margin: auto;
}
#body .container1 .container-fluid1 .content.con1:before {
  background-position: -622px -59px;
}
#body .container1 .container-fluid1 .content.con2:before {
  background-position: -679px -59px;
}
#body .container1 .container-fluid1 .content.con3:before {
  background-position: -736px -59px;
}
#body .container1 .container-fluid1 .content .title {
  margin-top: 15px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container1 .container-fluid1 .content .line {
  width: 30px;
  height: 2px;
  background-color: #141414;
  margin: 15px auto 0;
}
#body .container1 .container-fluid1 .content .text {
  margin-top: 15px;
  font-family: Montserrat;
  font-size: 14px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container1 .container-fluid2 {
  background-color: #141414;
  margin-top: 60px;
}
#body .container1 .container-fluid2 .object {
  padding: 120px 0;
}
#body .container1 .container-fluid2 .object img {
  display: block;
  margin: auto;
}
#body .container1 .container-fluid2 .content {
  margin-top: 60px;
  width: 533px;
}
#body .container1 .container-fluid2 .content .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
#body .container1 .container-fluid2 .content .text {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 16px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container1 .container-fluid2 .info {
  margin-top: 30px;
  width: 373px;
}
#body .container1 .container-fluid2 .info li {
  margin-top: 15px;
}
#body .container1 .container-fluid2 .info .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #a9b876;
}
#body .container1 .container-fluid2 .info .text {
  margin-top: 16px;
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 14px;
  color: #6f6f6f;
  color: #6f7657;
}
#body .container2 {
  padding-top: 75px;
}
#body .container2 .container-fluid {
  width: 1170px;
  margin-top: 66px;
}
#body .container2 .container-fluid .col-xs-4 {
  padding: 0;
}
#body .container2 .container-fluid .col-xs-4 img {
  display: block;
  margin: auto;
}
#body .container2 .container-fluid .list-unstyled .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container2 .container-fluid .list-unstyled .info {
  margin-top: 8px;
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 16px;
  color: #6f6f6f;
}
#body .container2 .container-fluid .list-unstyled li {
  overflow: hidden;
  margin-bottom: 66px;
}
#body .container2 .container-fluid .text-left li:before {
  content: '';
  display: block;
  float: left;
  width: 70px;
  height: 70px;
  background-image: url("../../img/home/static/icon.png");
  margin-right: 30px;
}
#body .container2 .container-fluid .text-left li.li1:before {
  background-position: 0px -754px;
}
#body .container2 .container-fluid .text-left li.li2:before {
  background-position: -70px -754px;
}
#body .container2 .container-fluid .text-left li.li3:before {
  background-position: -140px -754px;
}
#body .container2 .container-fluid .text-left li.li4:before {
  background-position: -210px -754px;
}
#body .container2 .container-fluid .text-right li:before {
  content: '';
  display: block;
  float: right;
  width: 70px;
  height: 70px;
  background-image: url("../../img/home/static/icon.png");
  margin-left: 30px;
}
#body .container2 .container-fluid .text-right li.li5:before {
  background-position: -280px -754px;
}
#body .container2 .container-fluid .text-right li.li6:before {
  background-position: -350px -754px;
}
#body .container2 .container-fluid .text-right li.li7:before {
  background-position: -420px -754px;
}
#body .container2 .container-fluid .text-right li.li8:before {
  background-position: -490px -754px;
}
#body .container3 {
  padding-top: 75px;
}
#body .container3 .container-fluid {
  margin-top: 75px;
}
#body .container3 .container-fluid .col-xs-3 {
  padding: 0;
}
#body .container3 .container-fluid .col-xs-3 img {
  width: 100%;
  display: block;
}
#body .container4 {
  padding-top: 75px;
  padding-bottom: 140px;
}
#body .container4 .container-fluid {
  margin-top: 110px;
  width: 1200px;
}
#body .container4 .container-fluid .media .pull-left {
  margin-left: 40px;
}
#body .container4 .container-fluid .media .media-object a {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("../../img/home/static/icon.png");
}
#body .container4 .container-fluid .media .media-object a.a1 {
  background-position: -610px -133px;
}
#body .container4 .container-fluid .media .media-object a.a2 {
  background-position: -710px -133px;
}
#body .container4 .container-fluid .media .media-object a.a3 {
  background-position: -810px -133px;
}
#body .container4 .container-fluid .media .media-object a.a4 {
  background-position: -910px -133px;
}
#body .container4 .container-fluid .media .media-body .score {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 36px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container4 .container-fluid .media .media-body .info {
  font-family: Montserrat;
  font-size: 16px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container4 .line {
  width: 900px;
  margin: auto;
  transform: translateX(-45px);
}
#body .container4 .line div {
  border: 1px solid #ececec;
  width: 33.33333333%;
  height: 60px;
  float: left;
  border-top: none;
  border-left: none;
}
#body .container4 .line div:first-child {
  border-left: 1px solid #ececec;
}
#body .container5 {
  padding-top: 75px;
  background-color: #f3f3f3;
  height: 670px;
}
#body .container5 .middle {
  width: 1170px;
  margin: auto;
}
#body .container5 .middle .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container5 .middle .panel-group {
  margin-top: 40px;
  width: 50%;
}
#body .container5 .middle .panel-group .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  margin-bottom: 10px;
}
#body .container5 .middle .panel-group .panel.active .panel-heading a {
  color: #a9b876;
}
#body .container5 .middle .panel-group .panel.active .panel-heading a:after {
  background-color: #a9b876;
  content: "\2212";
  color: #fff;
}
#body .container5 .middle .panel-group .panel .panel-heading {
  background-color: #fff;
  padding: 0;
}
#body .container5 .middle .panel-group .panel .panel-heading a {
  padding: 10px 15px;
  overflow: hidden;
  display: block;
  line-height: 27px;
  font-family: Montserrat;
  font-size: 12px;
  color: #6f6f6f;
  line-height: 2.2rem;
  text-decoration: none;
}
#body .container5 .middle .panel-group .panel .panel-heading a:after {
  content: "\2b";
  display: block;
  width: 27px;
  height: 27px;
  border: 1px solid #ececec;
  text-align: center;
  line-height: 27px;
  float: right;
}
#body .container5 .middle .panel-group .panel .panel-body {
  border: none;
  padding-top: 30px;
}
#body .container5 .middle .panel-group .panel .panel-body .pull-left {
  padding-right: 15px;
}
#body .container5 .middle .panel-group .panel .panel-body .pull-left .media-object {
  width: 116px;
  display: block;
}
#body .container5 .middle .panel-group .panel .panel-body .media-body .text {
  font-family: Montserrat;
  font-size: 12px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container6 {
  padding-top: 75px;
}
#body .container6 .container-fluid {
  margin-top: 70px;
  width: 1200px;
}
#body .container6 .container-fluid .col-xs-3 .portait img {
  width: 100%;
  display: block;
}
#body .container6 .container-fluid .col-xs-3:hover .info .share {
  display: block;
}
#body .container6 .container-fluid .col-xs-3 .info {
  position: relative;
  padding: 10px 0;
  text-align: center;
  background-color: #a9b876;
}
#body .container6 .container-fluid .col-xs-3 .info .name {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
#body .container6 .container-fluid .col-xs-3 .info .job {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 14px;
  color: #6f6f6f;
  color: #fff;
}
#body .container6 .container-fluid .col-xs-3 .info .share {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #2e2e2e;
  text-align: center;
}
#body .container6 .container-fluid .col-xs-3 .info .share span {
  margin-top: 9px;
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: url(../../img/shop/static/shop_icons.png) 13px no-repeat;
  background-color: lavender;
  margin-right: 10px;
  cursor: pointer;
}
#body .container6 .container-fluid .col-xs-3 .info .share span.sharing {
  background-color: #a9b876;
}
#body .container6 .container-fluid .col-xs-3 .info .share span:hover {
  background-color: #a9b876;
}
#body .container6 .container-fluid .col-xs-3 .info .share .facebook {
  background-position-y: -173px;
}
#body .container6 .container-fluid .col-xs-3 .info .share .twitter {
  background-position-y: -138px;
}
#body .container6 .container-fluid .col-xs-3 .info .share .dribble {
  background-position-y: -105px;
}
#body .container6 .container-fluid .col-xs-3 .info .share .behance {
  background-position-y: -74px;
}
#body .container7 {
  padding-top: 75px;
}
#body .container7 .container-fluid {
  width: 1200px;
  margin-top: 100px;
}
#body .container7 .container-fluid .col-xs-6 {
  margin-bottom: 45px;
}
#body .container7 .container-fluid .media .pull-left {
  padding-right: 30px;
}
#body .container7 .container-fluid .media .pull-left .media-object {
  width: 70px;
  display: block;
}
#body .container7 .container-fluid .media .media-body {
  border: 1px solid #ececec;
  padding: 30px;
}
#body .container7 .container-fluid .media .media-body .info {
  font-family: Montserrat;
  font-size: 16px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container7 .container-fluid .media .media-body .author {
  margin-top: 10px;
}
#body .container7 .container-fluid .media .media-body .author .name {
  font-family: Montserrat;
  font-size: 12px;
  color: #6f6f6f;
  line-height: 2.2rem;
  color: #a9b876;
}
#body .container7 .container-fluid .media .media-body .author .job {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 14px;
  color: #6f6f6f;
}
#body .container7 .theme {
  position: relative;
  background-color: #737373;
  height: 390px;
}
#body .container7 .theme .btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 570px;
  height: 85px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
  border: 3px solid #ececec;
  line-height: 67px;
}
#body .container8 {
  padding-top: 75px;
}
#body .container8 .container-fluid {
  margin-top: 50px;
  width: 1200px;
}
#body .container8 .container-fluid .object img {
  width: 100%;
}
#body .container8 .container-fluid .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  margin-top: 10px;
}
#body .container8 .container-fluid .text {
  font-family: Montserrat;
  font-size: 13px;
  color: #6f6f6f;
  line-height: 2.2rem;
  margin-top: 10px;
}
#body .container8 .container-fluid .btn {
  margin-top: 20px;
  border: none;
  background-color: #a9b876;
  color: #fff;
  width: 120px;
  height: 40px;
  line-height: 30px;
}
#body .container9 {
  padding-top: 75px;
}
#body .container9 .container-fluid {
  margin-top: 125px;
  width: 1200px;
  text-align: center;
}
#body .container9 .container-fluid .col-xs-3 {
  padding: 0;
}
#body .container9 .container-fluid .col-xs-3.active {
  margin-top: -20px;
}
#body .container9 .container-fluid .col-xs-3.active .panel .panel-footer .btn {
  display: block;
}
#body .container9 .container-fluid .panel {
  width: 270px;
  margin: auto;
}
#body .container9 .container-fluid .panel.hot .panel-heading:after {
  content: 'HOT';
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  line-height: 45px;
  position: absolute;
  bottom: -22.5px;
  right: 20px;
  background-color: #f76626;
  color: #fff;
  font-size: 11px;
}
#body .container9 .container-fluid .panel .panel-heading {
  background-color: transparent;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  padding: 20px 0;
  position: relative;
  background-image: url("../../img/home/static/money7.png");
  background-size: 100% 100%;
  border: none;
}
#body .container9 .container-fluid .panel .panel-heading .h1 {
  margin: 25px auto 20px;
  font-family: Montserrat;
  font-size: 18px;
  color: #6f6f6f;
  line-height: 2.2rem;
  line-height: 37px;
  color: #fff;
  width: 164px;
  height: 40px;
  border: 2px solid #fff;
  text-align: center;
}
#body .container9 .container-fluid .panel .panel-heading strong {
  font-size: 50px;
  color: #fff;
}
#body .container9 .container-fluid .panel .panel-heading sub {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 14px;
  color: #6f6f6f;
  color: #fff;
  margin-left: 10px;
}
#body .container9 .container-fluid .panel .panel-body a {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #6f6f6f;
  line-height: 26px;
  position: relative;
}
#body .container9 .container-fluid .panel .panel-body a.active:after {
  content: '';
  background-image: url("../../img/home/static/icon.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 13px;
  height: 10px;
  left: auto;
  right: 10px;
  background-position: -425px 0;
}
#body .container9 .container-fluid .panel .panel-footer {
  background-color: transparent;
  border: none;
  padding: 0;
}
#body .container9 .container-fluid .panel .panel-footer .btn {
  background-color: #ececec;
  color: #141414;
  width: 270px;
  height: 67px;
  border: none;
  position: relative;
}
#body .container9 .container-fluid .panel .panel-footer .btn:hover {
  background-color: #141414;
  color: #fff;
}
#body .container10 {
  padding-top: 75px;
}
#body .container10 .container-fluid {
  margin-top: 75px;
}
#body .container10 .container-fluid img {
  display: block;
  margin: auto;
}
#body .container10 .list-inline {
  margin-top: 50px;
  text-align: center;
}
#body .container10 .list-inline li.active a {
  background-color: #a9b876;
}
#body .container10 .list-inline li a {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  display: block;
  background-color: #ececec;
}
#body .container10 .feedback {
  background-color: #141414;
  margin-top: 70px;
  padding-top: 30px;
}
#body .container10 .feedback .share {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #141414;
  text-align: center;
}
#body .container10 .feedback .share span {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: url(../../img/shop/static/shop_icons.png) 13px no-repeat;
  background-color: lavender;
  margin: 20px;
  cursor: pointer;
}
#body .container10 .feedback .share span.sharing {
  background-color: #a9b876;
}
#body .container10 .feedback .share span:hover {
  background-color: #a9b876;
}
#body .container10 .feedback .share .facebook {
  background-position-y: -173px;
}
#body .container10 .feedback .share .twitter {
  background-position-y: -138px;
}
#body .container10 .feedback .share .dribble {
  background-position-y: -105px;
}
#body .container10 .feedback .share .behance {
  background-position-y: -74px;
}
#body .container10 .feedback .share .pinterest {
  background-position-y: -43px;
}
#body .container10 .feedback .share .google {
  background-position-y: -13px;
}
#body .container10 .form-horizontal {
  padding-bottom: 90px;
}
#body .container10 .form-horizontal .container-fluid {
  width: 1200px;
}
#body .container10 .form-horizontal .container-fluid .form-group {
  margin: 0;
  border: 2px solid #474747;
  padding: 4px 0;
}
#body .container10 .form-horizontal .container-fluid .form-group label {
  font-style: italic;
  color: #fff;
}
#body .container10 .form-horizontal .container-fluid .form-group label sup {
  color: #a9b876;
}
#body .container10 .form-horizontal .container-fluid .form-group input,
#body .container10 .form-horizontal .container-fluid .form-group textarea {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}
#body .container10 .form-horizontal .container-fluid .form-group textarea {
  resize: none;
  height: 210px;
}
#body .container10 .form-horizontal .container-fluid .col-xs-4 {
  margin-bottom: 10px;
}
#body .container10 .form-horizontal .container-fluid .col-xs-12 {
  margin-top: 35px;
}
#body .container10 .form-horizontal .btn {
  width: 160px;
  height: 40px;
  color: #fff;
  background-color: #a9b876;
}
