body {
  min-width: 1200px;
  margin: 0 auto;
}
#head {
  position: relative;
  height: 1000px;
}
#head .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  vertical-align: top;
}
#head .head-nav {
  padding-top: 2%;
  width: 1170px;
  margin: auto;
}
#head .head-nav .logo {
  max-width: 170px;
  width: 14.52991453%;
  min-width: 150px;
  margin-left: 15px;
}
#head .head-nav .logo a,
#head .head-nav .logo img {
  display: block;
  width: 100%;
}
#head .head-nav .navbar {
  min-width: 0;
  background-color: transparent;
  float: right;
  border: none;
}
#head .head-nav .navbar .li {
  margin-left: 50px;
}
#head .head-nav .navbar .li .a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 12px 0 18px 0;
  height: auto;
}
#head .head-nav .navbar .li .a:hover {
  text-decoration: none;
}
#head .head-nav .navbar .li.active {
  position: relative;
}
#head .head-nav .navbar .li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eeb013;
}
#head .head-nav .navbar .li.search {
  margin-left: 20px;
}
#head .enter {
  min-width: 50px;
  width: 4.32291667%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 65.29411765%;
}
#head .enter img {
  width: 100%;
  display: block;
}
#head .btn-left,
#head .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
  font-size: 18px;
}
#head .btn-left:after,
#head .btn-right:after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#head .btn-left {
  left: 3.125%;
}
#head .btn-right {
  right: 3.125%;
}
#footer {
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 25px;
  color: #636363;
}
#footer .container-fluid {
  width: 1200px;
}
#footer .container-fluid ul {
  list-style: none;
  padding: 0;
}
#footer .container-fluid .title {
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}
#footer .container-fluid .title:after {
  content: '';
  height: 3px;
  width: 19px;
  background-color: #f6b138;
  display: block;
}
#footer .container-fluid .title.active {
  color: #f6b138;
  border: none;
}
#footer .container-fluid .title.active:after {
  display: none;
}
#footer .container-fluid .text {
  font-size: 12px;
  line-height: 24px;
}
#footer .container-fluid .logo {
  margin-top: 25px;
}
#footer .container-fluid .link {
  padding-top: 6px;
}
#footer .container-fluid .link a {
  color: inherit;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 34px;
}
#footer .container-fluid .twitter {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 10px;
}
#footer .container-fluid .twitter .time {
  color: #3a3a3a;
  margin: 12px 0 30px 0;
}
#footer .container-fluid .twitter .time:before {
  content: '';
  display: inline-block;
  background: url("../../img/static/twitter.png") no-repeat;
  width: 20px;
  height: 18px;
  background-position: 0 10px;
}
#footer .container-fluid .right {
  padding-left: 26px;
}
#footer .container-fluid .instagram {
  padding-left: 26px;
}
#footer .container-fluid .instagram .clearfix {
  margin-top: 20px;
  margin-right: -15px;
}
#footer .container-fluid .instagram .clearfix li {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #414141;
  position: relative;
}
#footer .container-fluid .instagram .clearfix li.active {
  background-color: #eeb013;
}
#footer .container-fluid .instagram .clearfix li.active span {
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  color: #fff;
}
#footer .container-fluid .row2 {
  font-size: 11px;
  color: #3a3a3a;
  font-family: Montserrat;
  margin-top: 20px;
}
#footer .container-fluid .row2 .icon ul {
  width: 271px;
  height: 14px;
  float: right;
}
#footer .container-fluid .row2 .icon ul li {
  display: table-cell;
  width: 1%;
  margin: auto;
  text-align: right;
}
#footer .container-fluid .row2 .icon ul li a {
  display: inline-block;
  background-image: url("../../img/static/footer.png");
}
#footer .container-fluid .row2 .icon ul li.active .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px -16px;
}
#footer .container-fluid .row2 .icon ul li.active .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px -14px;
}
#footer .container-fluid .row2 .icon ul li .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
#footer .container-fluid .row2 .icon ul li .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -3px;
}
#footer .container-fluid .row2 .icon ul li .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px 0px;
}
#footer .container-fluid .row2 .icon ul li .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -2px;
}
#footer .container-fluid .row2 .icon ul li .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px 0;
}
#footer .container-fluid .row2 .icon ul li .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px 0;
}
body {
  min-width: 1200px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  height: 0;
  font-size: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.btn {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid #141414;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#head .btn-enter {
  border: 3px solid #fff;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
  width: 160px;
  height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 59.47265625%;
  background-color: transparent;
  line-height: 22px;
}
#body {
  list-style: none;
  padding: 0;
  margin: 0;
  /*******************container1***********************/
  /*******************container1***********************/
  /*******************container2***********************/
  /*******************container2***********************/
  /*******************container3***********************/
  /*******************container3***********************/
  /*******************container4***********************/
  /*******************container4***********************/
  /*******************container5***********************/
  /*******************container5***********************/
  /*******************container6***********************/
  /*******************container6***********************/
  /*******************container7***********************/
  /*******************container7***********************/
  /*******************container8***********************/
  /*******************container8***********************/
  /*******************container9***********************/
  /*******************container9***********************/
}
#body .container1 {
  margin-top: 70px;
}
#body .container1 .container-fluid {
  width: 1200px;
}
#body .container1 .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container1 .h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 60px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  margin: 0;
}
#body .container1 .gray {
  margin-top: 20px;
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container1 .line {
  height: 1px;
  background-color: #ececec;
  margin: 10px 0 20px 0;
}
#body .container1 .text {
  font-family: Montserrat;
  font-size: 16px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container1 .gray-block {
  background-color: #727272;
  height: 270px;
  width: 270px;
  margin-top: 60px;
}
#body .container1 .black-block {
  background-color: #343434;
  height: 467px;
}
#body .container1 .header {
  padding-top: 70px;
  clear: both;
  text-align: center;
}
#body .container1 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container1 .header .knive_line {
  width: 53px;
  margin: 20px auto 17px;
  position: relative;
  height: 2px;
  background-color: #eeb013;
}
#body .container1 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container1 .row2 {
  margin-top: 70px;
}
#body .container1 .media .media-object {
  width: 70px;
  height: 70px;
  position: relative;
  margin-right: 15px;
}
#body .container1 .media .media-object:after {
  content: '';
  background-image: url("../../img/home/static/icon.png");
}
#body .container1 .media .media-object.obj1:after {
  width: 44px;
  height: 48px;
  background-position: 0 -63px;
}
#body .container1 .media .media-object.obj2:after {
  width: 48px;
  height: 40px;
  background-position: -53px -63px;
}
#body .container1 .media .media-object.obj3:after {
  width: 32px;
  height: 48px;
  background-position: -112px -63px;
}
#body .container1 .media .media-object.obj4:after {
  width: 49px;
  height: 48px;
  background-position: -152px -63px;
}
#body .container1 .media .media-object.obj5:after {
  width: 48px;
  height: 48px;
  background-position: -209px -63px;
}
#body .container1 .media .media-object.obj6:after {
  width: 48px;
  height: 48px;
  background-position: -264px -63px;
}
#body .container1 .media .media-body .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container1 .media .media-body .gray {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 16px;
  color: #6f6f6f;
}
#body .container1 .line {
  height: 2px;
  background-color: #ececec;
  margin: 36px 0;
}
#body .container2 {
  margin-top: 96px;
  background-color: #2e2e2e;
  padding-bottom: 100px;
}
#body .container2 .header {
  padding-top: 70px;
  clear: both;
  text-align: center;
}
#body .container2 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
#body .container2 .header .knive_line {
  width: 53px;
  margin: 20px auto 17px;
  position: relative;
  height: 2px;
  background-color: #eeb013;
}
#body .container2 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
  color: #fff;
}
#body .container2 .btn-list {
  text-align: center;
  margin-top: 40px;
}
#body .container2 .btn-list .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  border: 1px solid #6d6d6d;
}
#body .container2 .container-fluid {
  margin-top: 40px;
  width: 1200px;
  position: relative;
  margin-bottom: 30px;
}
#body .container2 .container-fluid .col-xs-4 img {
  display: block;
  width: 100%;
}
#body .container2 .container-fluid .btn-left,
#body .container2 .container-fluid .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
}
#body .container2 .container-fluid .btn-left:after,
#body .container2 .container-fluid .btn-right:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#body .container2 .container-fluid .btn-left {
  left: -70px;
}
#body .container2 .container-fluid .btn-right {
  right: -70px;
}
#body .container2 .buy {
  width: 1170px;
  margin: auto;
  padding: 44px 50px;
  border-top: 1px solid #5e5e5e;
  border-bottom: 1px solid #5e5e5e;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
#body .container2 .buy .purchass {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  color: #141414;
}
#body .container2 .buy .purchass {
  width: 170px;
  height: 50px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  margin-top: -7px;
}
#body .container3 .middle {
  padding-top: 100px;
  background-color: #f8f6f7;
  text-align: center;
}
#body .container3 .middle .caption .caption_title {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
  color: #141414;
}
#body .container3 .middle .caption .caption_text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 36px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container3 .middle .pic img {
  display: block;
  width: 620px;
  margin: auto;
  position: relative;
  bottom: -70px;
}
#body .container3 .header {
  padding-top: 80px;
  clear: both;
  text-align: center;
}
#body .container3 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container3 .header .knive_line {
  width: 53px;
  margin: 20px auto 17px;
  position: relative;
  height: 2px;
  background-color: #eeb013;
}
#body .container3 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container4 {
  margin-top: 100px;
  background-color: #323233;
}
#body .container4 .middle {
  width: 1170px;
  height: 726px;
  margin: auto;
  background-image: url("../../img/home/static/people_bg.png");
  position: relative;
}
#body .container4 .middle .mask {
  width: 370px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
#body .container4 .middle .mask .title {
  margin-top: 60px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
#body .container4 .middle .mask .gray {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 12px;
  color: #6f6f6f;
  color: #fff;
}
#body .container4 .middle .mask .icon {
  margin-top: 45px;
}
#body .container4 .middle .mask .icon .brand {
  display: inline-block;
  margin: 7px;
  background-image: url("../../img/home/static/icon.png");
}
#body .container4 .middle .mask .icon .brand.brand1 {
  width: 9px;
  height: 18px;
  background-position: -338px -61px;
}
#body .container4 .middle .mask .icon .brand.brand2 {
  width: 16px;
  height: 17px;
  background-position: -355px -60px;
}
#body .container4 .middle .mask .icon .brand.brand3 {
  width: 17px;
  height: 14px;
  background-position: -378px -61px;
}
#body .container4 .middle .mask .icon .brand.brand4 {
  width: 19px;
  height: 16px;
  background-position: -401px -61px;
}
#body .container4 .middle .btn-left,
#body .container4 .middle .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
}
#body .container4 .middle .btn-left:after,
#body .container4 .middle .btn-right:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#body .container4 .middle .btn-left {
  left: -70px;
}
#body .container4 .middle .btn-right {
  right: -70px;
}
#body .container5 .header {
  padding-top: 70px;
  clear: both;
  text-align: center;
}
#body .container5 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container5 .header .knive_line {
  width: 53px;
  margin: 20px auto 17px;
  position: relative;
  height: 2px;
  background-color: #eeb013;
}
#body .container5 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container5 .con1 {
  width: 1200px;
}
#body .container5 .con1 .row1 .panel .panel-heading {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 20px 0px;
  margin-bottom: 20px;
}
#body .container5 .con1 .row1 .panel .panel-heading:before {
  margin-right: 10px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-image: url("../../img/home/static/icon.png");
}
#body .container5 .con1 .row1 .panel .nav a {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2.2rem;
  color: #6f6f6f;
  padding-left: 0;
}
#body .container5 .con1 .row1 .panel1 .panel-heading:before {
  width: 15px;
  height: 12px;
  background-position: -443px -60px;
}
#body .container5 .con1 .row1 .panel1 .nav .glyphicon {
  padding: 6px;
  background-color: #909090;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  color: #f7f7f7;
  font-weight: 200;
  margin-right: 20px;
}
#body .container5 .con1 .row1 .panel2 .panel-heading:before {
  width: 17px;
  height: 14px;
  background-position: -462px -60px;
}
#body .container5 .con1 .row1 .panel2 .nav .icon {
  margin-right: 20px;
  display: inline-block;
  background-image: url("../../img/home/static/icon.png");
  margin-bottom: -5px;
}
#body .container5 .con1 .row1 .panel2 .nav .icon.icon1 {
  width: 19px;
  height: 17px;
  background-position: -508px -55px;
}
#body .container5 .con1 .row1 .panel2 .nav .icon.icon2 {
  width: 19px;
  height: 15px;
  background-position: -533px -56px;
}
#body .container5 .con1 .row1 .panel2 .nav .icon.icon3 {
  width: 17px;
  height: 17px;
  background-position: -555px -56px;
}
#body .container5 .con1 .row1 .panel2 .nav .icon.icon4 {
  width: 19px;
  height: 17px;
  background-position: -576px -56px;
}
#body .container5 .con1 .row1 .panel3 .panel-heading:before {
  width: 16px;
  height: 11px;
  background-position: -481px -60px;
}
#body .container5 .con1 .row1 .panel3 .nav span {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  border: 1px solid #ececec;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  margin-right: 20px;
  text-align: center;
  line-height: 25px;
}
#body .container5 .con1 .row2 .martop {
  margin-top: 90px;
}
#body .container5 .con1 .row2 .caption .gray {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container5 .con1 .row2 .caption .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container5 .con1 .row2 .caption .text {
  font-family: Montserrat;
  font-size: 14px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container5 .con1 .row2 .caption .btn {
  margin-top: 35px;
  width: 270px;
  height: 60px;
}
#body .container5 .con1 .row2 .more {
  margin-top: 200px;
}
#body .container5 .con2 {
  margin-top: 60px;
  padding-top: 52px;
  padding-bottom: 42px;
  text-align: center;
  background-color: #f4f4f4;
}
#body .container5 .con2 .count {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #6f6f6f;
  margin-bottom: 0;
  margin-top: 15px;
}
#body .container5 .con2 .info {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container5 .con2 .col-xs-3:before {
  background-image: url("../../img/home/static/icon.png");
  content: '';
  display: block;
  margin: auto;
}
#body .container5 .con2 .col1:before {
  width: 46px;
  height: 42px;
  background-position: 0 -126px;
}
#body .container5 .con2 .col2:before {
  width: 50px;
  height: 38px;
  background-position: -57px -126px;
}
#body .container5 .con2 .col3:before {
  width: 48px;
  height: 48px;
  background-position: -117px -126px;
}
#body .container5 .con2 .col4:before {
  width: 48px;
  height: 48px;
  background-position: -173px -126px;
}
#body .container6 .header {
  padding-top: 70px;
  clear: both;
  text-align: center;
}
#body .container6 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container6 .header .knive_line {
  width: 53px;
  margin: 20px auto 17px;
  position: relative;
  height: 2px;
  background-color: #eeb013;
}
#body .container6 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container6 .container-fluid {
  width: 1200px;
}
#body .container6 .container-fluid .row {
  margin-top: 70px;
}
#body .container6 .container-fluid .col-xs-5 a,
#body .container6 .container-fluid .col-xs-5 img {
  display: block;
  width: 100%;
}
#body .container6 .container-fluid .col-xs-7 .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container6 .container-fluid .col-xs-7 .text {
  font-family: Montserrat;
  font-size: 14px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container7 {
  background-color: #2e2e2e;
  padding-top: 70px;
  padding-bottom: 100px;
}
#body .container7 .container-fluid {
  width: 1200px;
}
#body .container7 .container-fluid .col-xs-6 {
  margin-top: 40px;
}
#body .container7 .container-fluid .media .media-object {
  margin-right: 20px;
}
#body .container7 .container-fluid .media .media-object a,
#body .container7 .container-fluid .media .media-object img {
  display: block;
  width: 110px;
  height: 110px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
#body .container7 .container-fluid .media .media-body .text {
  font-family: Montserrat;
  font-size: 16px;
  color: #6f6f6f;
  line-height: 2.2rem;
  color: #fff;
}
#body .container7 .container-fluid .media .media-body .line {
  width: 45px;
  height: 2px;
  background-color: #eeb013;
  margin: 15px 0 20px 0;
}
#body .container7 .container-fluid .media .media-body .author {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
  margin-bottom: 5px;
}
#body .container7 .container-fluid .media .media-body .gray {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 16px;
  color: #6f6f6f;
  color: #fff;
}
#body .container8 .brand {
  border-bottom: 1px solid #ececec;
  padding: 60px 0;
}
#body .container8 .brand li {
  padding: 0;
  width: 19.5%;
}
#body .container8 .brand li img {
  display: block;
  margin: auto;
}
#body .container8 .header {
  padding-top: 70px;
  clear: both;
  text-align: center;
}
#body .container8 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container8 .header .knive_line {
  width: 53px;
  margin: 20px auto 17px;
  position: relative;
  height: 2px;
  background-color: #eeb013;
}
#body .container8 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container8 .container-fluid {
  margin-top: 50px;
  width: 1200px;
}
#body .container8 .container-fluid .img {
  margin-bottom: 15px;
  position: relative;
}
#body .container8 .container-fluid .img:hover .arrow_l,
#body .container8 .container-fluid .img:hover .arrow_r,
#body .container8 .container-fluid .img:hover .play {
  display: block;
}
#body .container8 .container-fluid .img img {
  display: block;
  width: 100%;
}
#body .container8 .container-fluid .img .arrow_l,
#body .container8 .container-fluid .img .arrow_r {
  display: none;
  line-height: 35px;
  width: 35px;
  height: 35px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}
#body .container8 .container-fluid .img .arrow_l {
  left: 10px;
}
#body .container8 .container-fluid .img .arrow_r {
  right: 10px;
}
#body .container8 .container-fluid .img .play {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 88px;
  height: 88px;
  background-image: url("../../img/home/static/icon.png");
  background-position: -389px -93px;
}
#body .container8 .container-fluid .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  letter-spacing: 1px;
}
#body .container8 .container-fluid .title span {
  color: #eeb013;
}
#body .container8 .container-fluid .count {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
  margin-top: 10px;
  position: relative;
}
#body .container8 .container-fluid .count .command,
#body .container8 .container-fluid .count .see {
  margin-right: 8px;
}
#body .container8 .container-fluid .count a {
  color: #6f6f6f;
}
#body .container8 .container-fluid .count a:before {
  content: '';
  float: left;
  display: block;
  background-image: url("../../img/home/static/icon.png");
  margin: 3px 10px 0 0;
}
#body .container8 .container-fluid .count li.command a:before {
  width: 19px;
  height: 15px;
  background-position: -235px -126px;
}
#body .container8 .container-fluid .count li.see a:before {
  width: 19px;
  height: 13px;
  background-position: -258px -126px;
}
#body .container8 .container-fluid .count li.photo a:before {
  width: 13px;
  height: 15px;
  background-position: -286px -126px;
}
#body .container8 .container-fluid .count .jun {
  position: absolute;
  background-color: #eeb013;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 5px 14px;
}
#body .container8 .container-fluid .count .jun p {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 16px;
  color: #6f6f6f;
  color: #fff;
  margin: 0;
}
#body .container8 .container-fluid .text {
  font-family: Montserrat;
  font-size: 13px;
  color: #6f6f6f;
  line-height: 2.2rem;
  margin-top: 30px;
}
#body .container8 .container-fluid .btn {
  width: 170px;
  height: 50px;
  margin-top: 36px;
}
#body .container9 {
  margin-top: 66px;
  background-color: #2e2e2e;
  text-align: center;
  padding: 170px 0;
}
#body .container9 .title {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
  color: #fff;
}
#body .container9 .content {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 48px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
}
