body {
  min-width: 1200px;
  margin: 0 auto;
}
#head {
  position: relative;
  height: 1000px;
}
#head .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  vertical-align: top;
}
#head .head-nav {
  padding-top: 2%;
  width: 1170px;
  margin: auto;
}
#head .head-nav .logo {
  max-width: 170px;
  width: 14.52991453%;
  min-width: 150px;
  margin-left: 15px;
}
#head .head-nav .logo a,
#head .head-nav .logo img {
  display: block;
  width: 100%;
}
#head .head-nav .navbar {
  min-width: 0;
  background-color: transparent;
  float: right;
  border: none;
}
#head .head-nav .navbar .li {
  margin-left: 50px;
}
#head .head-nav .navbar .li .a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 12px 0 18px 0;
  height: auto;
}
#head .head-nav .navbar .li .a:hover {
  text-decoration: none;
}
#head .head-nav .navbar .li.active {
  position: relative;
}
#head .head-nav .navbar .li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eeb013;
}
#head .head-nav .navbar .li.search {
  margin-left: 20px;
}
#head .enter {
  min-width: 50px;
  width: 4.32291667%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 65.29411765%;
}
#head .enter img {
  width: 100%;
  display: block;
}
#head .btn-left,
#head .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
  font-size: 18px;
}
#head .btn-left:after,
#head .btn-right:after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#head .btn-left {
  left: 3.125%;
}
#head .btn-right {
  right: 3.125%;
}
#footer {
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 25px;
  color: #636363;
}
#footer .container-fluid {
  width: 1200px;
}
#footer .container-fluid ul {
  list-style: none;
  padding: 0;
}
#footer .container-fluid .title {
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}
#footer .container-fluid .title:after {
  content: '';
  height: 3px;
  width: 19px;
  background-color: #f6b138;
  display: block;
}
#footer .container-fluid .title.active {
  color: #f6b138;
  border: none;
}
#footer .container-fluid .title.active:after {
  display: none;
}
#footer .container-fluid .text {
  font-size: 12px;
  line-height: 24px;
}
#footer .container-fluid .logo {
  margin-top: 25px;
}
#footer .container-fluid .link {
  padding-top: 6px;
}
#footer .container-fluid .link a {
  color: inherit;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 34px;
}
#footer .container-fluid .twitter {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 10px;
}
#footer .container-fluid .twitter .time {
  color: #3a3a3a;
  margin: 12px 0 30px 0;
}
#footer .container-fluid .twitter .time:before {
  content: '';
  display: inline-block;
  background: url("../../img/static/twitter.png") no-repeat;
  width: 20px;
  height: 18px;
  background-position: 0 10px;
}
#footer .container-fluid .right {
  padding-left: 26px;
}
#footer .container-fluid .instagram {
  padding-left: 26px;
}
#footer .container-fluid .instagram .clearfix {
  margin-top: 20px;
  margin-right: -15px;
}
#footer .container-fluid .instagram .clearfix li {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #414141;
  position: relative;
}
#footer .container-fluid .instagram .clearfix li.active {
  background-color: #eeb013;
}
#footer .container-fluid .instagram .clearfix li.active span {
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  color: #fff;
}
#footer .container-fluid .row2 {
  font-size: 11px;
  color: #3a3a3a;
  font-family: Montserrat;
  margin-top: 20px;
}
#footer .container-fluid .row2 .icon ul {
  width: 271px;
  height: 14px;
  float: right;
}
#footer .container-fluid .row2 .icon ul li {
  display: table-cell;
  width: 1%;
  margin: auto;
  text-align: right;
}
#footer .container-fluid .row2 .icon ul li a {
  display: inline-block;
  background-image: url("../../img/static/footer.png");
}
#footer .container-fluid .row2 .icon ul li.active .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px -16px;
}
#footer .container-fluid .row2 .icon ul li.active .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px -14px;
}
#footer .container-fluid .row2 .icon ul li .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
#footer .container-fluid .row2 .icon ul li .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -3px;
}
#footer .container-fluid .row2 .icon ul li .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px 0px;
}
#footer .container-fluid .row2 .icon ul li .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -2px;
}
#footer .container-fluid .row2 .icon ul li .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px 0;
}
#footer .container-fluid .row2 .icon ul li .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px 0;
}
body {
  min-width: 1200px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  height: 0;
  font-size: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.btn {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid #141414;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body {
  list-style: none;
  padding: 0;
  margin-bottom: 100px;
  /*******************container1***********************/
  /*******************container1***********************/
  /*******************container2***********************/
  /*******************container2***********************/
  /*******************container3***********************/
  /*******************container3***********************/
  /*******************container4***********************/
  /*******************container4***********************/
  /*******************container5***********************/
  /*******************container5***********************/
  /*******************container6***********************/
  /*******************container6***********************/
  /*******************container7***********************/
  /*******************container7***********************/
  /*******************container8***********************/
  /*******************container8***********************/
  /*******************container9***********************/
  /*******************container9***********************/
  /*******************container10***********************/
  /*******************container10***********************/
}
#body .container1 {
  background-color: #fff;
  padding-top: 120px;
}
#body .container1 div.clearfix {
  width: 1040px;
  margin: auto;
}
#body .container1 div.clearfix .logo {
  width: 250px;
  overflow: hidden;
}
#body .container1 div.clearfix .logo img {
  display: block;
}
#body .container1 div.clearfix .section {
  width: 770px;
}
#body .container1 div.clearfix .section .title {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container1 div.clearfix .section .h1 {
  margin-top: 35px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container1 div.clearfix .section .text {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 14px;
  color: #6f6f6f;
  line-height: 2.2rem;
  width: 670px;
}
#body .container1 div.clearfix .section .container-fluid {
  margin-top: 40px;
  padding: 0;
  padding-right: 40px;
}
#body .container1 div.clearfix .section .container-fluid a {
  display: block;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  line-height: 70px;
  letter-spacing: 1px;
}
#body .container1 div.clearfix .section .container-fluid a .icon {
  display: block;
  float: left;
  border: 1px solid #e1e1e1;
  width: 68px;
  height: 68px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  margin-right: 28px;
  position: relative;
}
#body .container1 div.clearfix .section .container-fluid a .icon:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../../img/home/static/icon.png");
}
#body .container1 div.clearfix .section .container-fluid a .icon.icon1:after {
  width: 34px;
  height: 28px;
}
#body .container1 div.clearfix .section .container-fluid a .icon.icon2:after {
  width: 31px;
  height: 26px;
  background-position: -34px 0;
}
#body .container1 div.clearfix .section .container-fluid a .icon.icon3:after {
  width: 28px;
  height: 28px;
  background-position: -67px 0;
}
#body .container1 div.clearfix .section .more_servers {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid black;
  padding: 16px 25px;
  margin-top: 50px;
  letter-spacing: 3px;
}
#body .container1 .footer {
  padding-top: 76px;
  clear: both;
  text-align: center;
}
#body .container1 .footer .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container1 .footer .knive_line {
  width: 230px;
  margin: 20px auto;
  position: relative;
  height: 1px;
  background-color: #d0d0d0;
}
#body .container1 .footer .knive_line:before {
  content: '';
  width: 64px;
  height: 21px;
  background-image: url("../../img/home/static/icon.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  background-position: -110px -1px;
}
#body .container1 .footer .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container1 .btn-list {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
#body .container1 .btn-list .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #6d6d6d;
}
#body .container2 .container-fluid {
  padding: 0;
}
#body .container2 .container-fluid .col-xs-3 {
  padding: 0;
}
#body .container2 .container-fluid .col-xs-3 a,
#body .container2 .container-fluid .col-xs-3 img {
  width: 100%;
  display: block;
}
#body .container3 .middle {
  width: 1170px;
  margin: auto;
}
#body .container3 .header {
  padding-top: 76px;
  clear: both;
  text-align: center;
}
#body .container3 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container3 .header .knive_line {
  width: 230px;
  margin: 20px auto;
  position: relative;
  height: 1px;
  background-color: #d0d0d0;
}
#body .container3 .header .knive_line:before {
  content: '';
  display: block;
  width: 64px;
  height: 21px;
  background-image: url("../../img/home/static/icon.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  background-position: -110px -1px;
}
#body .container3 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container3 .media1 {
  margin-top: 76px;
}
#body .container3 .media1 .media-object {
  width: 375px;
}
#body .container3 .media1 .media-body .title {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container3 .media1 .media-body .h1 {
  margin-top: 35px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container3 .media1 .media-body .text {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 14px;
  color: #6f6f6f;
  line-height: 2.2rem;
  width: 640px;
}
#body .container3 .media1 .media-body .line {
  width: 76px;
  height: 1px;
  background-color: #141414;
  margin-top: 30px;
  margin-bottom: 16px;
}
#body .container3 .media1 .media-body .auther {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 10px;
  color: #6f6f6f;
  letter-spacing: 1px;
}
#body .container3 .media1 .media-body .auther span {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container3 .con {
  width: 1170px;
  margin-top: 80px;
  padding: 0;
}
#body .container3 .con .row {
  margin: 0;
}
#body .container3 .con .row2 {
  margin-top: 46px;
}
#body .container3 .con .col-xs-4 {
  padding: 0;
}
#body .container3 .con .col-xs-4 .media {
  width: 370px;
  border-bottom: 2px solid #ededed;
  margin: auto;
  min-height: 126px;
}
#body .container3 .con .col-xs-4 .media .media-object {
  width: 100px;
  height: 100px;
}
#body .container3 .con .col-xs-4 .media .media-object:after {
  content: '';
  display: block;
  background-image: url("../../img/home/static/icon.png");
  margin-left: 15px;
}
#body .container3 .con .col-xs-4 .media .media-object.object1:after {
  width: 37px;
  height: 37px;
  background-position: -201px 0;
}
#body .container3 .con .col-xs-4 .media .media-object.object2:after {
  width: 25px;
  height: 37px;
  background-position: -244px 0;
}
#body .container3 .con .col-xs-4 .media .media-object.object3:after {
  width: 32px;
  height: 30px;
  background-position: -274px 0;
}
#body .container3 .con .col-xs-4 .media .media-object.object4:after {
  width: 31px;
  height: 32px;
  background-position: -312px 0;
}
#body .container3 .con .col-xs-4 .media .media-object.object5:after {
  width: 37px;
  height: 32px;
  background-position: -346px 0;
}
#body .container3 .con .col-xs-4 .media .media-object.object6:after {
  width: 32px;
  height: 27px;
  background-position: -387px 0;
}
#body .container3 .con .col-xs-4 .media .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container3 .con .col-xs-4 .media .text {
  font-family: Montserrat;
  font-size: 13px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container4 {
  background-color: #2f2f2f;
  padding: 75px 0;
}
#body .container4 .middle {
  width: 1170px;
  margin: auto;
}
#body .container4 .middle .container-fluid {
  padding: 0;
}
#body .container4 .middle .strong {
  font-size: 48px;
  display: block;
  color: #fff;
  text-align: center;
}
#body .container4 .middle .title {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
  color: #fff;
  text-align: center;
  margin: 10px 0 25px 0;
}
#body .container4 .middle .line {
  width: 53px;
  height: 3px;
  background-color: #909090;
  margin: auto;
}
#body .container5 .middle {
  width: 1170px;
  margin: auto;
}
#body .container5 .header {
  padding-top: 76px;
  clear: both;
  text-align: center;
}
#body .container5 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container5 .header .knive_line {
  width: 230px;
  margin: 20px auto;
  position: relative;
  height: 1px;
  background-color: #d0d0d0;
}
#body .container5 .header .knive_line:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 64px;
  height: 21px;
  background-image: url("../../img/home/static/icon.png");
  background-color: #fff;
  background-position: -110px -1px;
}
#body .container5 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container5 .con1 {
  width: 1170px;
  margin-top: 70px;
  padding: 0;
}
#body .container5 .con1 .row {
  margin: 0;
}
#body .container5 .con1 .col-xs-4 {
  padding: 0;
}
#body .container5 .box {
  display: block;
  width: 370px;
  background-color: #d1d1d1;
  margin: auto;
  color: #fff;
}
#body .container5 .box:hover {
  text-decoration: none;
}
#body .container5 .img {
  width: 100%;
  display: block;
}
#body .container5 .caption {
  border-top: 2px solid #ededed;
  padding: 10px 20px;
}
#body .container5 .caption .author {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
  margin: 4px 0;
}
#body .container5 .caption .ditail {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 14px;
  color: #6f6f6f;
  color: #fff;
  margin: 4px 0;
}
#body .container5 .con2 {
  margin-top: 56px;
  padding: 0;
  width: 1170px;
}
#body .container5 .con2 div {
  padding: 0;
  margin: 0;
}
#body .container5 .con2 .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container5 .con2 .text {
  font-family: Montserrat;
  font-size: 14px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container5 .con2 .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid #141414;
  padding: 26px 50px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  float: right;
}
#body .container5 .ball {
  margin-top: 40px;
  text-align: center;
}
#body .container5 .ball div {
  width: 143px;
  height: 143px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-color: #dcdcdc;
  display: inline-block;
  margin: 0 12px;
}
#body .container5 .ball div.active {
  background-color: #a8a8a8;
  border: 6px solid #eeb013;
}
#body .container5 .ball .text {
  margin-top: 40px;
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container5 .shadow {
  text-align: center;
  margin-top: 44px;
}
#body .container5 .shadow .icon_line {
  width: 305px;
  height: 1px;
  background-color: #ededed;
  position: relative;
  margin: auto;
}
#body .container5 .shadow .icon_line:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
  height: 25px;
  background-image: url("../../img/home/static/icon.png");
  background-color: #fff;
  background-position: -107px -24px;
  top: 10px;
}
#body .container5 .shadow .title {
  margin-top: 36px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container5 .shadow .text {
  margin-top: 14px;
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 12px;
  color: #6f6f6f;
}
#body .container5 .shadow .smallBall {
  margin-top: 20px;
  text-align: center;
}
#body .container5 .shadow .smallBall div {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-color: #dcdcdc;
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
}
#body .container5 .shadow .smallBall div.active {
  background-color: #eeb013;
}
#body .container6 {
  margin-top: 84px;
  background-color: #323232;
}
#body .container6 .text {
  width: 1170px;
  margin: auto;
  padding: 30px 0;
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 30px;
  color: #6f6f6f;
  color: #fff;
  position: relative;
}
#body .container6 .text .yellow {
  color: #eeb013;
}
#body .container6 .text .btn {
  width: 170px;
  height: 50px;
  background-color: #eeb013;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
#body .container7 .header {
  padding-top: 80px;
  clear: both;
  text-align: center;
}
#body .container7 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container7 .header .knive_line {
  width: 230px;
  margin: 20px auto;
  position: relative;
  height: 1px;
  background-color: #d0d0d0;
}
#body .container7 .header .knive_line:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 64px;
  height: 21px;
  background-image: url("../../img/home/static/icon.png");
  background-color: #fff;
  background-position: -110px -1px;
}
#body .container7 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container7 .container-fluid {
  margin-top: 70px;
  padding: 0;
}
#body .container7 .container-fluid .row {
  padding: 0;
  margin: 0;
}
#body .container7 .container-fluid .row .col-xs-3 {
  min-height: 330px;
  background-color: #818181;
}
#body .container7 .container-fluid .row .arrow-left,
#body .container7 .container-fluid .row .arrow-right {
  background-color: #eaeaea;
  padding-left: 56px;
  position: relative;
  z-index: 10;
}
#body .container7 .container-fluid .row .arrow-left .title,
#body .container7 .container-fluid .row .arrow-right .title {
  margin-top: 40px;
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 14px;
  color: #6f6f6f;
  color: #141414;
}
#body .container7 .container-fluid .row .arrow-left .h1,
#body .container7 .container-fluid .row .arrow-right .h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container7 .container-fluid .row .arrow-left .text,
#body .container7 .container-fluid .row .arrow-right .text {
  font-family: Montserrat;
  font-size: 14px;
  color: #6f6f6f;
  line-height: 2.2rem;
}
#body .container7 .container-fluid .row .arrow-left .btn,
#body .container7 .container-fluid .row .arrow-right .btn {
  padding-left: 0;
  color: #141414;
  padding-left: 10px;
  text-decoration: none;
}
#body .container7 .container-fluid .row .arrow-left:after,
#body .container7 .container-fluid .row .arrow-right:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
#body .container7 .container-fluid .row .arrow-left:after {
  width: 0;
  height: 0;
  overflow: hidden;
  min-height: 0;
  border-style: dashed solid dashed dashed;
  border-color: transparent #eaeaea transparent transparent;
  border-width: 25px;
  left: -47px;
}
#body .container7 .container-fluid .row .arrow-right:after {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  min-height: 0;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #eaeaea;
  border-width: 25px;
  right: -47px;
}
#body .container8 {
  text-align: center;
}
#body .container8 .middle {
  width: 1200px;
  margin: auto;
}
#body .container8 .header {
  padding-top: 80px;
  clear: both;
  text-align: center;
}
#body .container8 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container8 .header .knive_line {
  width: 230px;
  margin: 20px auto;
  position: relative;
  height: 1px;
  background-color: #d0d0d0;
}
#body .container8 .header .knive_line:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 64px;
  height: 21px;
  background-image: url("../../img/home/static/icon.png");
  background-color: #fff;
  background-position: -110px -1px;
}
#body .container8 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container8 .title {
  margin-top: 56px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  font-style: normal;
  color: #141414;
  margin-bottom: 76px;
}
#body .container8 .title .gray {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 16px;
  color: #6f6f6f;
}
#body .container8 .container-fluid {
  width: 1200px;
}
#body .container8 .container-fluid .col-xs-3 {
  padding: 0;
}
#body .container8 .container-fluid .col-xs-3.active {
  margin-top: -20px;
}
#body .container8 .container-fluid .col-xs-3.active .panel .panel-footer .btn {
  display: block;
}
#body .container8 .container-fluid .panel {
  width: 270px;
  margin: auto;
}
#body .container8 .container-fluid .panel .panel-heading {
  background-color: transparent;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  padding: 20px 0;
}
#body .container8 .container-fluid .panel .panel-body a {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #6f6f6f;
  line-height: 26px;
  position: relative;
}
#body .container8 .container-fluid .panel .panel-body a.active:after {
  content: '';
  background-image: url("../../img/home/static/icon.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 13px;
  height: 10px;
  left: auto;
  right: 10px;
  background-position: -425px 0;
}
#body .container8 .container-fluid .panel .panel-footer {
  background-color: transparent;
  border: none;
  color: #141414;
  padding-bottom: 60px;
  position: relative;
}
#body .container8 .container-fluid .panel .panel-footer sup {
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  vertical-align: super;
  transform: translateY(-10px);
}
#body .container8 .container-fluid .panel .panel-footer strong {
  font-size: 50px;
}
#body .container8 .container-fluid .panel .panel-footer sub {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 14px;
  color: #6f6f6f;
  color: #141414;
  margin-left: 10px;
}
#body .container8 .container-fluid .panel .panel-footer .btn {
  display: none;
  background-color: #141414;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  width: 160px;
  height: 40px;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
}
#body .container9 {
  background-color: #1c1c1c;
  margin-top: 70px;
  padding-top: 90px;
  padding-bottom: 150px;
}
#body .container9 .container-fluid {
  width: 1170px;
  padding: 0;
}
#body .container9 .container-fluid .row {
  padding: 0;
  margin: 0;
}
#body .container9 .container-fluid .media {
  padding: 0;
}
#body .container9 .container-fluid .row1 .media-object {
  width: 100px;
  height: 100px;
  border: 2px solid #606060;
  position: relative;
  margin-right: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
#body .container9 .container-fluid .row1 .media-object:after {
  content: '';
  background-image: url("../../img/home/static/icon.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#body .container9 .container-fluid .row1 .media-object.obj1:after {
  width: 22px;
  height: 35px;
  background-position: -443px 0;
}
#body .container9 .container-fluid .row1 .media-object.obj2:after {
  width: 28px;
  height: 42px;
  background-position: -473px 0;
}
#body .container9 .container-fluid .row1 .media-object.obj3:after {
  width: 49px;
  height: 38px;
  background-position: -505px 0;
}
#body .container9 .container-fluid .row1 .media-body {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 16px;
  color: #6f6f6f;
  color: #eaeaea;
}
#body .container9 .container-fluid .row1 .media-body p {
  margin-bottom: 5px;
}
#body .container9 .container-fluid .form-horizontal {
  margin-top: 90px;
}
#body .container9 .container-fluid .row2 .form-group {
  border-bottom: 1px solid #616161;
  width: 370px;
  margin: auto;
}
#body .container9 .container-fluid .row2 .form-group .control-label {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 16px;
  color: #6f6f6f;
  color: #f5f5f5;
  font-weight: normal;
  text-align: left;
}
#body .container9 .container-fluid .row2 .form-group .control-label sup {
  color: #f6b138;
}
#body .container9 .container-fluid .row2 .form-group .form-control {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}
#body .container9 .container-fluid .row2 .col-xs-12 {
  margin-top: 30px;
}
#body .container9 .container-fluid .row2 .col-xs-12 .form-group {
  width: 100%;
}
#body .container9 .container-fluid .row2 .col-xs-12 textarea {
  border: none;
  background-color: transparent;
  color: #fff;
  resize: none;
  width: 100%;
  height: 110px;
  font-size: 16px;
  padding: 10px;
}
#body .container10 {
  background-color: #fff;
}
#body .container10 .header {
  padding-top: 80px;
  clear: both;
  text-align: center;
}
#body .container10 .header .our_works {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
#body .container10 .header .knive_line {
  width: 230px;
  margin: 20px auto;
  position: relative;
  height: 1px;
  background-color: #d0d0d0;
}
#body .container10 .header .knive_line:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 64px;
  height: 21px;
  background-image: url("../../img/home/static/icon.png");
  background-color: #fff;
  background-position: -110px -1px;
}
#body .container10 .header .show_works {
  font-family: CrimsonText;
  font-style: Italic;
  font-size: 18px;
  color: #6f6f6f;
}
#body .container10 .container-fluid {
  width: 1200px;
  margin-top: 90px;
}
#body .container10 .container-fluid a,
#body .container10 .container-fluid img {
  display: block;
  width: 100%;
}
#body .container10 .con2 {
  margin-top: 30px;
  width: 880px;
}
#body .container10 .button {
  margin-top: 46px;
  text-align: center;
}
#body .container10 .button .btn {
  background-color: transparent;
  border: 1px solid #141414;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  font-style: normal;
  color: #141414;
  width: 270px;
  height: 70px;
  margin: auto;
}
