.part {
  width: 1200px;
  margin: 30px auto 18px;
  border: 1px solid #dbdbdb;
  padding: 24px 20px 14px 24px;
}
.part .choose_title {
  font-size: 18px;
  color: #010101;
}
.part .address {
  width: 436px;
  height: 84px;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  padding: 24px 14px 12px 20px;
  font-size: 14px;
  position: relative;
  display: inline-block;
  margin-top: 12px;
}
.part .address .detail {
  margin-top: 18px;
}
.part .address .change {
  text-align: right;
}
.part .address .change a {
  color: #666;
  padding: 0 4px;
  font-size: 13px;
}
.part .address > div {
  position: absolute;
  width: 32px;
  height: 28px;
  background: url(../../img/home.png) no-repeat;
  background-position: -97px -31px;
  right: 0;
  top: 0;
}
.part .address.active {
  border: 2px solid #fb9898;
}
.part .address.active > div {
  background-position: -151px -31px;
}
.part .address:nth-child(odd) {
  margin-left: 20px;
}
.part .addAddress {
  margin-top: 14px;
}
.part .addAddress a {
  display: inline-block;
  font-size: 14px;
  color: #808080;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
}
.table {
  border: 1px solid #dbdbdb;
  border-bottom: none;
  width: 1200px;
}
.table .title {
  background-color: #f7f7f7;
  padding-left: 8px;
}
.table .title span {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #808080;
  line-height: 46px;
  cursor: pointer;
  -webkit-user-select: none;
}
.table .title span:first-child {
  color: #4d4d4d;
  font-weight: bold;
  width: 156px;
  text-align: left;
}
.table .title span:first-child:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #808080;
  margin-right: 16px;
}
.table .title span:nth-child(2) {
  width: 300px;
  text-align: left;
}
.table .title span:nth-child(3) {
  width: 220px;
}
.table .title span:nth-child(4) {
  width: 250px;
}
.table .title span:last-child {
  width: 210px;
}
.table .title .active:before {
  background: url(../../img/home.png) no-repeat;
  background-position: -209px -34px;
}
.table ul li {
  padding: 10px 0 10px 8px;
  border-bottom: 1px solid #dbdbdb;
}
.table ul li > div {
  display: inline-block;
  vertical-align: middle;
}
.table ul li .imgList {
  width: 156px;
  text-align: right;
  position: relative;
}
.table ul li .imgList img {
  width: 100px;
  display: inline-block;
  margin-right: 24px;
}
.table ul li .imgList:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #808080;
  left: 0;
  top: 40px;
  cursor: pointer;
}
.table ul li .imgList.active:before {
  background: url(../../img/home.png) no-repeat;
  background-position: -209px -34px;
}
.table ul li .goods_detail {
  font-size: 14px;
  color: #4d4d4d;
  width: 200px;
  padding-right: 100px;
}
.table ul li .prize {
  width: 218px;
  text-align: center;
  line-height: 104px;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.table ul li .prize strong {
  font-size: 16px;
  color: #ed601b;
}
.table ul li .quantity {
  font-size: 16px;
  color: #666;
  text-align: center;
  width: 250px;
}
.table ul li .quantity button {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  cursor: pointer;
  outline: none;
}
.table ul li .quantity input {
  border: none;
  font-size: 18px;
  width: 30px;
  text-align: center;
  outline: none;
}
.table ul li .prizes {
  width: 252px;
  text-align: center;
  line-height: 104px;
  border-left: 1px solid #dbdbdb;
}
.table ul li .prizes strong {
  font-size: 16px;
  color: #ed601b;
}
.order_message {
  margin-top: 80px;
  padding-right: 36px;
}
.order_message .buyer_message {
  font-size: 14px;
  color: #999;
  float: left;
}
.order_message .sure {
  float: right;
  width: 130px;
}
.order_message .sure .total {
  float: right;
  font-size: 14px;
}
.order_message .sure .total strong {
  font-size: 20px;
  color: #de3d12;
}
.order_message .sure .submitOrder {
  float: right;
  font-size: 14px;
  color: #fff;
  background-color: #f83131;
  padding: 6px 10px;
  margin-top: 32px;
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../../img/mask_bg.png);
  left: 0;
  top: 0;
  display: none;
}
.mask .addNewAddress {
  width: 850px;
  height: 524px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 10px solid #ccc;
  background-color: #fff;
  font-size: 14px;
}
.mask .addNewAddress .title {
  line-height: 40px;
  padding-left: 14px;
  font-weight: bold;
  background-color: #f0eded;
}
.mask .addNewAddress .attension {
  padding-left: 14px;
  margin-top: 14px;
}
.mask .addNewAddress .attension span {
  color: #f79c31;
  margin-right: 18px;
}
.mask .addNewAddress sup {
  color: #ff0202;
}
.mask .addNewAddress form {
  margin-left: 46px;
  margin-top: 40px;
}
.mask .addNewAddress form > div {
  margin-top: 18px;
}
.mask .addNewAddress form .setting {
  padding-left: 88px;
}
.mask .addNewAddress form span {
  display: inline-block;
  line-height: 36px;
  width: 70px;
  margin-right: 20px;
}
.mask .addNewAddress form input,
.mask .addNewAddress form select {
  padding: 10px 14px 8px;
  font-size: 1.2rem;
  outline: none;
}
.mask .addNewAddress form textarea {
  resize: none;
  vertical-align: top;
  padding: 10px;
  width: 534px;
  height: 64px;
  outline: none;
  overflow: auto;
}
.mask .addNewAddress form input {
  width: 184px;
}
.mask .addNewAddress form select {
  margin-right: 8px;
}
.mask .addNewAddress form .checkbox {
  width: 16px;
}
.mask .addNewAddress form button {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 38px;
  background-color: #f2f2f2;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  margin-top: 34px;
  margin-left: 88px;
}
