.section {
  width: 1200px;
  margin: 0 auto 64px;
}
.section .headline {
  border-bottom: 2px solid #999999;
  height: 82px;
  margin-bottom: 40px;
}
.section .headline span {
  text-align: center;
  line-height: 82px;
  display: inline-block;
  width: 124px;
  height: 82px;
  border-bottom: 2px solid #ff2020;
  font-size: 16px;
  color: #4d4d4d;
  -webkit-user-select: none;
}
.section .table {
  border: 1px solid #dbdbdb;
  width: 1156px;
  margin: 0 auto 24px;
}
.section .table .title {
  background-color: #f7f7f7;
  padding-left: 8px;
}
.section .table .title span {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #808080;
  line-height: 46px;
}
.section .table .title span:first-child {
  color: #4d4d4d;
  font-weight: bold;
  width: 156px;
  text-align: left;
}
.section .table .title span:first-child:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #808080;
  margin-right: 16px;
}
.section .table .title span:nth-child(2) {
  width: 300px;
  text-align: left;
}
.section .table .title span:nth-child(3) {
  width: 220px;
}
.section .table .title span:nth-child(4) {
  width: 250px;
}
.section .table .title span:last-child {
  width: 210px;
}
.section .table .title .active:before {
  background: url(../../img/home.png) no-repeat;
  background-position: -209px -34px;
}
.section .table ul li {
  padding: 10px 0 10px 8px;
  border-bottom: 1px solid #dbdbdb;
}
.section .table ul li > div {
  display: inline-block;
  vertical-align: middle;
}
.section .table ul li .imgList {
  width: 156px;
  text-align: right;
  position: relative;
}
.section .table ul li .imgList img {
  width: 100px;
  display: inline-block;
  margin-right: 24px;
}
.section .table ul li .imgList:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #808080;
  left: 0;
  top: 40px;
}
.section .table ul li .imgList.active:before {
  background: url(../../img/home.png) no-repeat;
  background-position: -209px -34px;
}
.section .table ul li .goods_detail {
  font-size: 14px;
  color: #4d4d4d;
  width: 200px;
  padding-right: 100px;
}
.section .table ul li .prize {
  width: 218px;
  text-align: center;
  line-height: 104px;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.section .table ul li .prize strong {
  font-size: 16px;
  color: #ed601b;
}
.section .table ul li .quantity {
  font-size: 16px;
  color: #666;
  text-align: center;
  width: 250px;
}
.section .table ul li .quantity button {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  cursor: pointer;
  outline: none;
}
.section .table ul li .quantity input {
  border: none;
  font-size: 18px;
  width: 30px;
  text-align: center;
  outline: none;
}
.section .table ul li .delete {
  width: 208px;
  text-align: center;
  font-size: 16px;
  line-height: 105px;
  border-left: 1px solid #dbdbdb;
}
.section .table ul li .delete a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #666;
}
.section .payment {
  background: #f2f2f2;
  height: 64px;
}
.section .payment > div,
.section .payment > a {
  display: inline-block;
  line-height: 64px;
  font-size: 14px;
  color: #4d4d4d;
}
.section .payment .all {
  margin-left: 32px;
}
.section .payment .all:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #808080;
  margin-right: 16px;
}
.section .payment .all.active:before {
  background: url(../../img/home.png) no-repeat;
  background-position: -209px -34px;
}
.section .payment .delete {
  margin-left: 36px;
}
.section .payment .payment_message {
  margin-left: 520px;
}
.section .payment .payment_message span {
  color: #f62a2a;
  font-size: 15px;
}
.section .payment .bill {
  margin-left: 138px;
}
.section .payment .bill span {
  color: #f62a2a;
  font-size: 16px;
  font-weight: bold;
}
.section .payment .payment_now {
  margin-left: 90px;
  color: #fff;
  background: #f83131;
  padding: 8px 16px;
  line-height: 16px;
}
