.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
#section .position-title {
  font-size: 14px;
  margin-bottom: 20px;
  color: #666666;
}
#section .position-title span {
  color: #ec6a17;
}
#mainContent {
  display: inline-block;
  width: 905px;
  padding: 60px 40px 70px 40px;
  font-size: 14px;
  color: #666666;
  border: 1px solid #d3d3d3;
  background-color: #FFFFFF;
  margin-left: 18px;
}
#mainContent .title {
  font-size: 24px;
  color: #333333;
  text-align: center;
}
#mainContent .date {
  color: #999999;
  width: 410px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 35px;
}
#mainContent .mainText > p {
  text-indent: 2em;
  margin-bottom: 35px;
}
#mainContent .mainText .pic {
  margin: 35px 0;
}
