.btn {
  background-color: #ec6a17;
  color: #ffffff;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pic_slider {
  overflow: hidden;
  position: relative;
}
.pic_slider .pic_inner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 470px;
}
.pic_slider .pic_inner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pic_slider .pic_inner a img {
  display: block;
  width: 100%;
  height: 100%;
}
.pic_slider .paganation {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
}
.pic_slider .paganation span {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #323333;
  cursor: pointer;
  margin-left: 5px;
}
.pic_slider .paganation span.active {
  background-color: #ec6a17;
  color: #fff;
}
body {
  background-color: #f2f2f2;
}
#section .content-wrap {
  width: 1180px;
  margin: 0 auto;
  padding-top: 20px;
  overflow: hidden;
}
#section .nav-list {
  width: 173px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  float: left;
}
#section .nav-list a {
  display: block;
  color: #666666;
}
#section .nav-list .nav-header {
  border-bottom: 1px solid #d3d3d3;
}
#section .nav-list .nav-header a {
  height: 57px;
  line-height: 57px;
  text-align: center;
  font-size: 18px;
  position: relative;
}
#section .nav-list .nav-header i {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 18px;
  top: 19.5px;
  left: 22px;
  background: url(../../img/icons.png) no-repeat;
  background-position: 0 -20px;
}
#section .nav-list ul {
  margin-top: 12px;
}
#section .nav-list ul li a {
  padding: 0 20px;
}
#section .nav-list ul .item-f a {
  font-weight: bold;
  font-size: 16px;
  line-height: 38px;
  position: relative;
}
#section .nav-list ul .item-f a i {
  position: absolute;
  width: 6px;
  height: 11px;
  background: url(../../img/icons.png) no-repeat;
  background-position: 0 -463px;
  right: 20px;
  top: 12px;
}
#section .nav-list ul .item-s a {
  font-size: 14px;
  line-height: 36px;
}
#section .nav-list ul .item-s:hover a {
  color: #ec6a17;
}
#section .nav-list ul .item-s.active a {
  color: #ec6a17;
  text-decoration: underline;
}
#section .content {
  width: 984px;
  min-height: 544px;
  float: right;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  position: relative;
}
#section .content .title {
  padding-left: 20px;
  line-height: 57px;
  height: 57px;
  border-bottom: 1px solid #d3d3d3;
  color: #008de1;
  font-size: 18px;
}
#section .content .nav {
  margin-top: 15px;
  overflow: hidden;
}
#section .content .nav li {
  float: left;
}
#section .content .nav li i {
  display: inline-block;
  width: 2px;
  height: 16px;
  background-color: #999999;
  vertical-align: text-bottom;
}
#section .content .nav li a {
  margin: 0 18px;
  padding: 2px 14px;
  display: inline-block;
  font-size: 16px;
  color: #666666;
  font-weight: bold;
}
#section .content .nav li a:hover {
  background-color: #ffe3d1;
}
#section .content .nav li.active a {
  background-color: #ffe3d1;
}
#section .content .empty {
  margin-top: 130px;
  text-align: center;
}
#section .content .empty i {
  display: inline-block;
  width: 120px;
  height: 133px;
  background: url(../../img/empty.png) no-repeat;
}
#section .content .empty .msg {
  margin-left: 35px;
  text-align: left;
  padding-top: 18px;
  display: inline-block;
  vertical-align: top;
}
#section .content .empty .msg p {
  font-size: 18px;
  color: #666666;
}
#section .content .empty .msg a {
  margin-top: 30px;
  display: block;
  width: 170px;
  height: 45px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  background-color: #ec6a17;
  text-align: center;
  line-height: 45px;
}
