@import "../static/base.css";
body {
  min-width: 1200px;
  margin: 0 auto;
}
#head {
  position: relative;
  height: 1000px;
}
#head .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  vertical-align: top;
}
#head .head-nav {
  padding-top: 2%;
  width: 1170px;
  margin: auto;
}
#head .head-nav .logo {
  max-width: 170px;
  width: 14.52991453%;
  min-width: 150px;
  margin-left: 15px;
}
#head .head-nav .logo a,
#head .head-nav .logo img {
  display: block;
  width: 100%;
}
#head .head-nav .navbar {
  min-width: 0;
  background-color: transparent;
  float: right;
  border: none;
}
#head .head-nav .navbar .li {
  margin-left: 50px;
}
#head .head-nav .navbar .li .a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 12px 0 18px 0;
  height: auto;
}
#head .head-nav .navbar .li .a:hover {
  text-decoration: none;
}
#head .head-nav .navbar .li.active {
  position: relative;
}
#head .head-nav .navbar .li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eeb013;
}
#head .head-nav .navbar .li.search {
  margin-left: 20px;
}
#head .enter {
  min-width: 50px;
  width: 4.32291667%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 65.29411765%;
}
#head .enter img {
  width: 100%;
  display: block;
}
#head .btn-left,
#head .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
  font-size: 18px;
}
#head .btn-left:after,
#head .btn-right:after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#head .btn-left {
  left: 3.125%;
}
#head .btn-right {
  right: 3.125%;
}
#footer {
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 25px;
  color: #636363;
}
#footer .container-fluid {
  width: 1200px;
}
#footer .container-fluid ul {
  list-style: none;
  padding: 0;
}
#footer .container-fluid .title {
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}
#footer .container-fluid .title:after {
  content: '';
  height: 3px;
  width: 19px;
  background-color: #f6b138;
  display: block;
}
#footer .container-fluid .title.active {
  color: #f6b138;
  border: none;
}
#footer .container-fluid .title.active:after {
  display: none;
}
#footer .container-fluid .text {
  font-size: 12px;
  line-height: 24px;
}
#footer .container-fluid .logo {
  margin-top: 25px;
}
#footer .container-fluid .link {
  padding-top: 6px;
}
#footer .container-fluid .link a {
  color: inherit;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 34px;
}
#footer .container-fluid .twitter {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 10px;
}
#footer .container-fluid .twitter .time {
  color: #3a3a3a;
  margin: 12px 0 30px 0;
}
#footer .container-fluid .twitter .time:before {
  content: '';
  display: inline-block;
  background: url("../../img/static/twitter.png") no-repeat;
  width: 20px;
  height: 18px;
  background-position: 0 10px;
}
#footer .container-fluid .right {
  padding-left: 26px;
}
#footer .container-fluid .instagram {
  padding-left: 26px;
}
#footer .container-fluid .instagram .clearfix {
  margin-top: 20px;
  margin-right: -15px;
}
#footer .container-fluid .instagram .clearfix li {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #414141;
  position: relative;
}
#footer .container-fluid .instagram .clearfix li.active {
  background-color: #eeb013;
}
#footer .container-fluid .instagram .clearfix li.active span {
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  color: #fff;
}
#footer .container-fluid .row2 {
  font-size: 11px;
  color: #3a3a3a;
  font-family: Montserrat;
  margin-top: 20px;
}
#footer .container-fluid .row2 .icon ul {
  width: 271px;
  height: 14px;
  float: right;
}
#footer .container-fluid .row2 .icon ul li {
  display: table-cell;
  width: 1%;
  margin: auto;
  text-align: right;
}
#footer .container-fluid .row2 .icon ul li a {
  display: inline-block;
  background-image: url("../../img/static/footer.png");
}
#footer .container-fluid .row2 .icon ul li.active .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px -16px;
}
#footer .container-fluid .row2 .icon ul li.active .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px -14px;
}
#footer .container-fluid .row2 .icon ul li .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
#footer .container-fluid .row2 .icon ul li .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -3px;
}
#footer .container-fluid .row2 .icon ul li .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px 0px;
}
#footer .container-fluid .row2 .icon ul li .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -2px;
}
#footer .container-fluid .row2 .icon ul li .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px 0;
}
#footer .container-fluid .row2 .icon ul li .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px 0;
}
.contact_info {
  width: 1170px;
  margin: 50px auto 0;
  font-size: 14px;
}
.contact_info .phone,
.contact_info .location,
.contact_info .email {
  display: inline-block;
  width: 370px;
  min-height: 100px;
  margin: 60px 0;
  overflow: hidden;
}
.contact_info .phone span,
.contact_info .location span,
.contact_info .email span {
  float: left;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid #ececec;
  box-sizing: border-box;
  border-radius: 50px;
  position: relative;
  margin-left: 40px;
}
.contact_info .phone span:before,
.contact_info .location span:before,
.contact_info .email span:before {
  content: "";
  display: inline-block;
  width: 50px ;
  height: 40px;
  background: url(../../img/portfolio/static/prot_icons.png) no-repeat;
  position: absolute;
  left: 25px ;
  top: 30px;
}
.contact_info .phone div,
.contact_info .location div,
.contact_info .email div {
  width: 200px;
  display: inline-block;
  float: left;
  margin-left: 30px;
}
.contact_info .phone div p,
.contact_info .location div p,
.contact_info .email div p {
  display: inline-block;
}
.contact_info .phone span:before {
  background-position-x: 12px ;
}
.contact_info .phone div {
  margin-top: 30px ;
}
.contact_info .location {
  margin: 60px 30px;
}
.contact_info .location span:before {
  background-position-x: -47px;
}
.contact_info .location div {
  margin-top: 20px ;
}
.contact_info .email span:before {
  background-position-x: -126px;
}
.contact_info .email div {
  margin-top: 40px ;
}
.map {
  width: 100%;
  min-width: 1170px;
  min-height: 300px;
  position: relative;
}
.map .add_dot {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../../img/portfolio/static/prot_icons.png) -212px 0 no-repeat;
  position: absolute;
  left: 49%;
  top: 35%;
}
.map img {
  width: 100%;
}
.send {
  width: 1170px;
  margin: 0 auto 200px;
  font-size: 14px;
}
.send .input {
  margin: 55px 0 40px;
}
.send .input div {
  display: inline-block;
  width: 370px;
  height: 45px;
  padding-left: 15px;
  border: 2px solid #ececec;
  box-sizing: border-box;
}
.send .input div input {
  height: 100%;
  width: 90%;
  margin-left: 3px;
  border: none;
  outline-color: #f0bc4b;
  font-size: 14px;
  color: #878787;
}
.send .input div span {
  color: #f0bc4b;
}
.send .input div:hover {
  border-color: #f0bc4b;
}
.send .input .your_email {
  margin: 0 30px;
}
.send textarea {
  width: 100%;
  display: block;
  min-height: 245px;
  padding: 15px ;
  resize: none;
  border-color: #ececec;
  outline-color: #f0bc4b;
  font-size: 14px;
  color: #878787;
}
.send .sendme {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  color: white;
  text-align: center;
  font-weight: bold;
  float: right;
  margin: 30px 0 60px;
  background-color: #f0bc4b;
}
