html,
body {
  width: 100%;
  background-color: #f2f2f2;
}
#head {
  height: 40px;
  width: 100%;
  background-color: #f29004;
  color: #ffffff;
  font-size: 1.6rem;
  position: fixed;
  z-index: 2;
  line-height: 40px;
}
#head > a {
  background: url(../img/icon_index.png) no-repeat;
  background-size: 90px 30px;
}
#head .back-btn {
  position: absolute;
  display: block;
  width: 60px;
  height: 40px;
  padding-left: 10px;
  color: #ffffff;
  left: 0;
  top: 0;
  background-position: 42px 4px;
}
#head .register {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  color: #ffffff;
  font-size: 1.4400000000000002rem;
  text-align: right;
  background-position: -56px 6px;
}
#head h1 {
  height: 40px;
  text-align: center;
}
#content {
  width: 100%;
  text-align: center;
}
#content .bg_header {
  width: 100%;
  height: 40px;
}
#content .bottom_block {
  width: 100%;
  height: 60px;
}
#content .swiper-container {
  overflow: hidden;
  width: 100%;
  height: 150px;
}
#content .swiper-container .swiper-wrapper {
  height: 100%;
}
#content .swiper-container .swiper-wrapper a img {
  height: 100%;
}
#content .swiper-container .swiper-pagination {
  bottom: 1%;
}
#content .pic_move {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}
#content .pic_move a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: none;
}
#content .pic_move a img {
  width: 100%;
  height: 150px;
}
#content .pic_move .show {
  display: block;
}
#content .pic_move p {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 10%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
#content .pic_move .next {
  top: 0;
  right: 0;
}
#content .pic_move .dot {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  z-index: 2;
}
#content .pic_move .dot li {
  width: 0.6rem;
  height: 0.6rem;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  margin: 0 1.6% 0 0;
  border-radius: 50%;
}
#content .pic_move .dot .active {
  background-color: #f59650;
}
#content .view_pic {
  width: 94.66666666666667%;
  margin: 0.5rem auto 2rem;
}
#content .view_pic .intro_pic {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}
#content .view_pic .intro_pic:nth-of-type(1) {
  width: 31.5%;
}
#content .view_pic .induce .tips {
  margin-bottom: 0.5rem;
}
#content .view_pic .intro_pic img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  vertical-align: top;
}
#content .sales1 {
  width: 94.66666666666667%;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 0.8rem;
  margin-bottom: 10px;
}
#content .sales1 h2 {
  font-size: 1.6rem;
  margin: 0 auto;
  color: #808080;
  width: 37.46478873239437%;
  position: relative;
  top: -0.8rem;
  background-color: #f2f2f2;
}
#content .sales1 img {
  height: 15rem;
  width: 100%;
}
#content .sales1 span {
  display: block;
  height: 3.2rem;
  line-height: 3.2rem;
  font-size: 1.4rem;
  text-align: left;
}
#foot {
  width: 100%;
  height: 5rem;
  border-top: 1px solid #dbdbdb;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f2f2f2;
}
#foot .direction {
  float: left;
  width: 20%;
  height: 5rem;
  text-align: center;
}
#foot .direction .nav {
  font-size: 1rem;
  color: #808080;
}
#foot .direction .nav_icon1 {
  color: #f29004;
}
#foot .direction .nav:before {
  content: "";
  display: block;
  width: 2rem;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 2%;
  height: 40%;
  overflow: hidden;
  background: url(../img/icon.png) -1px -102px no-repeat;
  background-size: 216px 226px;
}
#foot .direction .nav_icon1:before {
  background-position: -72px -78px;
}
#foot .direction .nav_icon2:before {
  background-position: -48px -102px;
}
#foot .direction .nav_icon3:before {
  background-position: -24px -102px;
}
#foot .direction .nav_icon4:before {
  background-position: -96px -102px;
}
#foot .direction .nav_icon5:before {
  background-position: 0 -102px;
}
