html,
body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}
#head {
  height: 40px;
  width: 100%;
  background-color: #f29004;
  color: #ffffff;
  font-size: 1.6rem;
  position: relative;
  line-height: 40px;
}
#head .back-btn {
  position: absolute;
  display: block;
  width: 20px;
  height: 40px;
  left: 2.66666667%;
  top: 0;
  background: url(../img/back_logo_1.png) 0 9px no-repeat;
  background-size: 14px 22px;
}
#head h1 {
  text-align: center;
}
#content {
  width: 100%;
  text-align: center;
  height: 100%;
  margin-top: 10px;
}
#content .form1 {
  display: block;
  width: 94.66666667%;
  margin: 0 auto;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #dbdbdb;
  position: relative;
  background: url(../img/icon_11.png) 20px 11px no-repeat;
  background-size: 20px 20px;
  background-color: #ffffff;
  text-align: left;
}
#content .form1 input {
  border: none;
  height: 100%;
  width: 60%;
  font-size: 1.4rem;
  position: relative;
  left: 50px;
}
#content .searchlist {
  width: 100%;
  height: 100%;
  padding-top: 14px;
  background-color: #ffffff;
  margin-top: 10px;
}
#content .searchlist .each_list {
  width: 100%;
  height: 70px;
  padding-left: 2.81690141%;
}
#content .searchlist .each_list a {
  display: block;
  height: 100%;
  width: 100%;
}
#content .searchlist .each_list a img {
  width: 70px;
  float: left;
  margin-right: 7px;
  border: 1px solid #dbdbdb;
}
#content .searchlist .each_list a span {
  display: block;
  overflow: hidden;
  text-align: left;
}
#foot {
  width: 100%;
  height: 5rem;
  position: fixed;
  left: 0;
  bottom: 0;
}
#foot .direction {
  float: left;
  width: 20%;
  height: 5rem;
  text-align: center;
}
#foot .direction .nav {
  font-size: 1rem;
  color: #f29004;
  color: #808080;
}
#foot .direction .nav_icon1 {
  color: #f29004;
}
#foot .direction .nav:before {
  content: "";
  display: block;
  width: 2rem;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 2%;
  height: 40%;
  overflow: hidden;
  background: url(../img/icon.png) -1px -102px no-repeat;
  background-size: 216px 226px;
}
#foot .direction .nav_icon1:before {
  background-position: -72px -78px;
}
#foot .direction .nav_icon2:before {
  background-position: -48px -102px;
}
#foot .direction .nav_icon3:before {
  background-position: -24px -102px;
}
#foot .direction .nav_icon4:before {
  background-position: -96px -102px;
}
#foot .direction .nav_icon5:before {
  background-position: 0 -102px;
}
