html,
body {
  background-color: #f2f2f2;
  width: 100%;
}
#head {
  height: 40px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  position: fixed;
  z-index: 80;
  line-height: 40px;
}
#head a {
  position: absolute;
  display: block;
  width: 40px;
  height: 100%;
}
#head .back-btn {
  width: 40px;
  top: 0;
  background: url(../img/index_productimg.png) 15px 8px no-repeat;
  background-size: 355px 200px;
}
#head .restore {
  left: 73.86666667%;
  background: url(../img/index_productimg.png) -270px 8px no-repeat;
  background-size: 355px 200px;
}
#head .share {
  background: orange;
  right: 0;
  background: url(../img/index_productimg.png) -325px 8px no-repeat;
  background-size: 357px 200px;
}
#content {
  position: relative;
  top: -40px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
#content > div {
  width: 100%;
  margin: 0 auto;
}
#content .bg_header {
  width: 100%;
  height: 40px;
  margin-bottom: 0;
}
#content .controller a {
  display: block;
  width: 100%;
  margin: -18px auto 0;
}
#content .content_1 {
  width: 100%;
  background: #ffffff;
  margin-bottom: 12px;
}
#content .content_1 .tips {
  padding-top: 10px;
  width: 100%;
  width: 94.66666667%;
  margin: 0 auto;
  line-height: 20px;
}
#content .content_1 .theme {
  font-size: 16px;
}
#content .collect_1 {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 12px;
  background: #ffffff;
}
#content .collect_2 {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  background: #ffffff;
}
#content .collect_2 .tips2 {
  padding-top: 10px;
  display: block;
  width: 94.66666667%;
  margin: 0 auto;
}
