html,
body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}
#head {
  height: 40px;
  width: 100%;
  background-color: #f29004;
  color: #ffffff;
  font-size: 1.6rem;
  position: relative;
  line-height: 40px;
}
#head .back-btn {
  position: absolute;
  display: block;
  width: 20px;
  height: 40px;
  margin-left: 3%;
  left: 0;
  top: 0;
  background: url(../img/index_productimg.png) 0 8px no-repeat;
  background-size: 355px 200px;
}
#head .register {
  position: absolute;
  top: 0;
  right: 3%;
  color: #ffffff;
  font-size: 1.44rem;
  text-align: right;
}
#head h1 {
  text-align: center;
}
#content {
  width: 100%;
  text-align: center;
}
#content .big_logo1 {
  width: 26.6%;
  margin: 38px auto 36px;
}
#content .form {
  width: 100%;
  text-align: center;
}
#content .form .input {
  margin: 0 auto 1.2rem;
  width: 86%;
  height: 44px;
  background-color: #ffffff;
  border-radius: 0.4rem;
  border: 1px solid #dbdbdb;
  position: relative;
  text-align: right;
}
#content .form .input .logo_tips {
  display: block;
  width: 42px;
  height: 100%;
  float: left;
  background: url(../img/icon_1.png) 20px 14px no-repeat;
  background-size: 60px 74px;
}
#content .form .input .last_logo {
  background-position: 20px -41px;
}
#content .form .input .phone {
  display: block;
  width: 76%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.4rem;
  line-height: 44px;
  float: left;
}
#content .form .forgotton {
  width: 86%;
  margin: 0 auto;
  text-align: right;
}
#content .form a {
  color: #f29004;
  font-size: 1.2rem;
}
#content .form .haveLogin {
  display: block;
  width: 86%;
  height: 46px;
  background-color: #f29004;
  margin: 0 auto;
  border-radius: 0.4rem;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 46px;
  margin-top: 1.6rem;
}
