html,
body {
  background-color: #f2f2f2;
  width: 100%;
}
#head {
  height: 40px;
  width: 100%;
  background-color: #f29004;
  color: #ffffff;
  font-size: 1.6rem;
  position: fixed;
  line-height: 40px;
}
#head .back-btn {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background: url(../img/index_productimg.png) 15px 8px no-repeat;
  background-size: 355px 200px;
}
#head h1 {
  text-align: center;
}
.clearfix {
  display: block;
  content: "";
  clear: both;
}
#content {
  width: 100%;
  font-size: 14px;
  color: #808080;
}
#content .bg_bottom {
  width: 100%;
  height: 55px;
}
#content .bg_header {
  width: 100%;
  height: 40px;
}
#content .form5 {
  width: 94.66666667%;
  margin: 24px auto 0;
  font-size: 16px;
}
#content .form5 > div {
  width: 100%;
}
#content .form5 .input {
  color: #808080;
  font-size: 14px;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 0.4rem;
  overflow: hidden;
  margin-bottom: 10px;
}
#content .form5 .input span {
  float: left;
  line-height: 46px;
  text-align: center;
  padding-left: 3.94366197%;
}
#content .form5 .input input {
  border: none;
  height: 100%;
  font-size: 16px;
}
#content .form5 .decided {
  display: block;
  width: 85.33333333%;
  height: 46px;
  margin: 0 auto;
  text-align: center;
  line-height: 46px;
  background-color: #f29004;
  border-radius: 0.4rem;
  color: #ffffff;
  margin-top: 100px;
}
#content .form5 .imging {
  font-size: 14px ;
  margin: 18px 0 22px;
  text-indent: 0.2rem;
}
#content .form5 .tipsip {
  position: relative;
}
#content .form5 .tipsip .click_input {
  float: left;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  border: 1px solid #dbdbdb;
  border-radius: 0.4rem;
  font-size: 40px;
  color: #dbdbdb;
}
#content .form5 .tipsip .file {
  display: none;
}
#content .form5 .dispcripe_content {
  background-color: #ffffff;
  color: #808080;
  border: 1px solid #dbdbdb;
  font-size: 14px;
}
#content .form5 .dispcripe_content p {
  line-height: 30px;
  padding-left: 3.94366197%;
}
#content .form5 .dispcripe_content textarea {
  border: none;
  resize: none;
  display: block;
  width: 92.95774648%;
  margin: 0 auto;
  padding: 10px;
  height: 100%;
}
