html,
body {
  background-color: #f2f2f2;
  width: 100%;
}
#head {
  height: 40px;
  width: 100%;
  background-color: #f29004;
  color: #ffffff;
  font-size: 1.6rem;
  position: fixed;
  line-height: 40px;
}
#head .pay_list {
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  padding-right: 2.66666667%;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
}
#head .back-btn {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background: url(../img/index_productimg.png) 15px 8px no-repeat;
  background-size: 355px 200px;
}
#head h1 {
  text-align: center;
}
.clearfix {
  display: block;
  content: "";
  clear: both;
}
#content {
  width: 100%;
  font-size: 14px;
  color: #838383;
}
#content .bg_bottom {
  width: 100%;
  height: 60px;
}
#content .bg_header {
  width: 100%;
  height: 40px;
}
#content .top_image1 {
  text-align: center;
  width: 100%;
  margin: 60px 0;
}
#content .top_image1 img {
  width: 21.33333333%;
  margin: 0 auto;
}
#content .top_image1 .rest_count {
  font-size: 12px;
  margin: 22px 0 12px;
}
#content .top_image1 .true_count {
  font-size: 22px;
  color: #000000;
}
#content .payfor_style {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 0.4rem;
  width: 94.66666667%;
  margin: 0 auto;
}
#content .payfor_style .my_money {
  display: block;
  color: #0d0d0d;
  width: 94.36619718%;
  margin: 0 auto;
  height: 46px;
  color: #000000;
  line-height: 46px;
  border-bottom: 1px solid #dbdbdb;
}
#content .payfor_style .my_money .left_click {
  float: left;
  width: 55px;
  height: 100%;
  background: url(../img/index_productimg1.png) 12px -64px no-repeat;
  background-size: 355px 180px;
}
#content .payfor_style .my_money .left_click1 {
  background-position: 12px -138px;
}
#content .payfor_style .my_money .pay_money {
  margin-right: 4.53333333%;
}
#content .payfor_style .my_money .right_click {
  float: right;
  width: 40px;
  height: 100%;
  background: orange;
  background: url(../img/index_productimg.png) -326px -66px no-repeat;
  background-size: 355px 210px;
}
#content .payfor_style .my_money .right_click1 {
  background-position: -246px -66px;
}
#content .payfor_style .my_money2 {
  border-bottom: none;
}
#content .decided_this {
  display: block;
  width: 85.33333333%;
  height: 45px;
  background-color: #26c08a;
  margin: 0 auto;
  border-radius: 0.4rem;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  margin-top: 55px;
}
