html,
body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}
#head {
  height: 40px;
  width: 100%;
  background-color: #f29004;
  color: #ffffff;
  font-size: 1.6rem;
  position: relative;
  line-height: 40px;
}
#head .back-btn {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background: url(../img/index_productimg.png) 15px 8px no-repeat;
  background-size: 355px 200px;
}
#head h1 {
  text-align: center;
}
.clearfix {
  content: "";
  display: "block";
  clear: both;
}
#content {
  width: 100%;
  text-align: center;
}
#content .forming .haveLogin {
  display: block;
  width: 86%;
  height: 46px;
  background-color: #f29004;
  margin: 0 auto;
  border-radius: 0.4rem;
  color: #ffffff;
  font-size: 16px;
  line-height: 46px;
}
#content .forming .floating {
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 22px;
}
#content .forming .floating img {
  float: left;
  border: 1px solid  #e6e6e6;
  width: 18.66666667%;
  margin-left: 3.2%;
  margin-right: 2.13333333%;
}
#content .forming .floating .floating_right {
  float: left;
  text-align: left;
  font-size: 12px;
}
#content .forming .floating .floating_right h2 {
  font-size: 14px;
}
#content .forming .floating .floating_right p:nth-of-type(1) {
  color: #757575;
  line-height: 33px;
}
#content .forming .floating .floating_right p:nth-of-type(2) {
  color: #FF0000;
  font-weight: 800;
}
#content .tip_top {
  width: 94.66666667%;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
}
#content .tip_top .product_list {
  float: left;
}
#content .tip_top .pay_money {
  float: right;
}
