html,
body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}
#head {
  height: 40px;
  width: 100%;
  background-color: #f29004;
  color: #ffffff;
  font-size: 1.6rem;
  position: fixed;
  line-height: 40px;
}
#head .back-btn {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background: url(../img/index_productimg.png) 15px 8px no-repeat;
  background-size: 355px 200px;
}
#head h1 {
  text-align: center;
}
#content {
  width: 100%;
  text-align: center;
}
#content .bg_header {
  width: 100%;
  height: 40px;
}
.clearfix {
  display: block;
  content: "";
  clear: both;
}
#content .searchlist {
  width: 100%;
  padding-bottom: 14px;
  padding-top: 14px;
  background-color: #ffffff;
  border-bottom: 1px solid #E6E6E6;
}
#content .searchlist .each_list {
  height: 70px;
  padding-left: 2.81690141%;
}
#content .searchlist .each_list .wrap_click {
  display: block;
  height: 100%;
  width: 100%;
}
#content .searchlist .each_list .wrap_click .fruit_apple {
  font-size: 14px;
}
#content .searchlist .each_list .wrap_click .bottle_count {
  position: relative;
  display: block;
  color: #FF0000;
  padding-right: 2.66666667%;
}
#content .searchlist .each_list .wrap_click .bottle_count span {
  float: right;
  color: #A6A4A4;
  text-align: center;
  font-size: 14px;
  color: #f29004;
}
#content .searchlist .each_list .wrap_click .bottle_count span:nth-of-type(1) {
  float: left;
  padding-right: 2.66666667%;
  color: #FF0000;
  right: 0;
}
#content .searchlist .each_list .wrap_click .bottle_count span:nth-of-type(2) {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #E6E6E6;
}
#content .searchlist .each_list .wrap_click .bottle_count span:nth-of-type(3) {
  width: 24px;
  height: 24px;
  color: #000000;
}
#content .searchlist .each_list .wrap_click .bottle_count span:nth-of-type(4) {
  width: 24px;
  height: 24px;
  border: 1px solid #E6E6E6;
  border-radius: 50%;
}
#content .searchlist .each_list .wrap_click img {
  width: 70px;
  float: left;
  margin-right: 8px ;
}
#content .searchlist .each_list .wrap_click a {
  display: block;
  height: 100%;
  width: 35px;
  float: left;
}
#content .searchlist .each_list .wrap_click .left_select {
  background: url(../img/index_productimg.png) -258px -53px no-repeat;
  background-size: 355px 200px;
}
#content .searchlist .each_list .wrap_click .left_bg1 {
  background-position-x: -337px;
}
#content .searchlist .each_list .wrap_click > span {
  display: block;
  overflow: hidden;
  text-align: left;
  color: #000000;
  line-height: 24px;
}
#content .select_this {
  width: 100%;
  position: absolute;
  bottom: 60px;
  background: #f2f2f2;
  height: 54px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  left: 0;
}
#content .select_this .this_bg {
  float: left;
  height: 54px;
}
#content .select_this .select_1 {
  width: 21.33333333%;
  line-height: 54px;
  text-align: left;
  padding-left: 10px;
}
#content .select_this .select_1 .select_bg {
  display: inline-block;
  padding-left: 20px;
  height: 100%;
  color: #000000;
  background-color: orange;
  background: url(../img/index_productimg.png) -258px -58px no-repeat;
  background-size: 355px 200px;
}
#content .select_this .select_1 .select_bg:hover {
  background-position: -337px -58px;
}
#content .select_this .select_2 {
  text-align: left;
}
#content .select_this .select_2 .this_money {
  color: #FF0000;
}
#content .select_this .select_2 .all_count {
  line-height: 28px;
}
#content .select_this .select_2 div {
  color: #f29004;
}
#content .select_this .select_3 {
  width: 33.86666667%;
  float: right;
  height: 35px;
  background: #ee4147;
  line-height: 35px;
  margin-right: 2.66666667%;
  margin-top: 9.5px;
  border-radius: 0.4rem;
}
#content .select_this .select_3 a {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
#content .product {
  width: 99.5%;
  text-align: center;
  padding-left: 1%;
}
#content .product a {
  font-size: 1.4rem;
  float: left;
  width: 20.28169014%;
  height: 28px;
  margin: 0 1.85915493%;
  line-height: 28px;
  text-align: center;
  border-radius: 14px;
  margin-bottom: 6px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  color: #979797;
}
#foot {
  height: 5rem;
}
#foot .fixing {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
}
#foot .fixing .direction {
  float: left;
  width: 20%;
  height: 5rem;
  text-align: center;
}
#foot .fixing .direction .nav {
  font-size: 1rem;
  color: #808080;
}
#foot .fixing .direction .nav_icon4 {
  color: #f29004;
}
#foot .fixing .direction .nav:before {
  content: "";
  display: block;
  width: 2rem;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 2%;
  height: 40%;
  overflow: hidden;
  background: url(../img/icon.png) -1px -102px no-repeat;
  background-size: 216px 226px;
}
#foot .fixing .direction .nav_icon4:before {
  background-position: -72px -102px;
}
#foot .fixing .direction .nav_icon2:before {
  background-position: -48px -102px;
}
#foot .fixing .direction .nav_icon3:before {
  background-position: -24px -102px;
}
#foot .fixing .direction .nav_icon4:before {
  background-position: -96px -78px;
}
#foot .fixing .direction .nav_icon5:before {
  background-position: 0 -102px;
}
#mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
}
#mask .form2 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 95.77464789%;
  height: 340px;
  background-color: #ffffff;
}
#mask .form2 .top_click {
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
}
#mask .form2 .top_click span {
  display: inline-block;
  height: 100%;
  line-height: 30px;
  padding-left: 3.67647059%;
  font-size: -0.4rem;
  color: #808080;
}
#mask .form2 .top_click:after {
  content: "";
  display: "block";
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  background: url(../img/index_delete.png) 5px 10px no-repeat;
  background-size: 10px 10px;
}
#mask .form2 textarea {
  display: block;
  margin: 0 auto;
  width: 90.58823529%;
  height: 214px;
  border: 1px solid #dbdbdb;
  margin-top: 12px;
  resize: none;
  text-indent: 0.5rem;
  line-height: 24px;
}
#mask .form2 .submit {
  display: block;
  margin: 26px auto 0;
  border: none;
  width: 82px;
  height: 30px;
  background: #f29004;
  border-radius: 0.4rem;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
}
