html,
body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}
#head {
  height: 40px;
  width: 100%;
  background-color: #f29004;
  color: #ffffff;
  font-size: 1.6rem;
  position: fixed;
  line-height: 40px;
}
#head .edit_city {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}
#head .back-btn {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background: url(../img/index_productimg.png) 15px 8px no-repeat;
  background-size: 355px 200px;
}
#head h1 {
  text-align: center;
}
.clearfix {
  display: block;
  content: "";
  clear: both;
}
#content {
  width: 100%;
  font-size: 14px;
  color: #666666;
}
#content .bg_bottom {
  width: 100%;
  height: 55px;
}
#content > div {
  padding: 0 2.666666666666667%;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dbdbdb;
}
#content .bg_header {
  width: 100%;
  height: 40px;
}
#content .form4 {
  padding: 0 2.666666666666667%;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #dbdbdb;
}
#content .form4 .city_space {
  margin-right: 1.3333333333333335%;
}
#content .form4 .select_city {
  margin-right: 1.3333333333333335%;
}
#content .form4 select {
  padding-right: 16px;
  border: none;
  font-size: 14px;
  color: #666666;
  background-color: transparent;
  background: url(../img/index_productimg1.png) -146px -142px no-repeat;
  background-size: 355px 180px;
}
#content .form4 select option {
  background-color: #ffffff;
}
#content .this_address .default_address {
  float: left;
}
#content .this_address .move_select {
  cursor: pointer;
  float: right;
  width: 49px;
  height: 27px;
  background-color: #f29004;
  line-height: 27px;
  border-radius: 13.5px;
  position: relative;
  margin-top: 10.5px;
}
#content .this_address .move_select a {
  display: block;
  height: 27px;
  width: 27px;
  border-radius: 13.5px;
  background-color: #FAFAFA;
  position: absolute;
}
#content .new_add {
  display: block;
  width: 85.33333333333334%;
  height: 46px;
  background-color: #f29004;
  margin: 0 auto;
  line-height: 46px;
  text-align: center;
  color: #ffffff;
  border-radius: 0.4rem;
  margin-top: 220px;
  font-size: 16px;
  bottom: 38px;
}
#mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
#mask .share_bottom {
  width: 100%;
  height: 262px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 80;
  text-align: center;
}
#mask .share_bottom .top_operation {
  position: relative;
  height: 46px;
  font-size: 14px;
  padding: 0 2.666666666666667%;
  line-height: 46px;
}
#mask .share_bottom .top_operation .reset_this {
  float: left;
  color: #333333;
}
#mask .share_bottom .top_operation .reset_this:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}
#mask .share_bottom .top_operation .decide_this {
  float: right;
}
#mask .share_bottom .list_city {
  width: 100%;
  font-size: 14px;
}
#mask .share_bottom .list_city > li {
  width: 100%;
  height: 82px;
  line-height: 82px;
  border-top: 1px solid #dbdbdb;
}
#mask .share_bottom .list_city > li a {
  float: left;
  width: 33.333333333333336%;
  color: #666666;
}
#mask .share_bottom .list_city .list_1 a {
  height: 50%;
  line-height: 41px;
}
#mask .share_bottom .list_city .list_2 {
  height: 50%;
  line-height: 52px;
}
#mask .share_bottom .list_city .list_2 a span:nth-of-type(1) {
  color: #333333;
}
#mask .share_bottom .list_city .list_2 a span:nth-of-type(2) {
  margin-left: 5.866666666666666%;
  color: #f29004;
}
