html,
body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}
#head {
  height: 40px;
  width: 100%;
  background-color: #f29004;
  color: #ffffff;
  font-size: 1.6rem;
  position: relative;
  line-height: 40px;
}
#head .back-btn {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background: url(../img/index_productimg.png) 15px 8px no-repeat;
  background-size: 355px 200px;
}
#head h1 {
  text-align: center;
}
#content {
  width: 100%;
  text-align: center;
}
#content .form {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
#content .form .input {
  margin: 0 auto 10px;
  width: 86%;
  height: 44px;
  text-indent: 2rem;
  position: relative;
  text-align: right;
}
#content .form .input .phone {
  background-color: #ffffff;
  width: 99.6875%;
  height: 100%;
  outline: none;
  border: none;
  border: 1px solid #dbdbdb;
  border-radius: 0.4rem;
  text-indent: 4%;
  font-size: 14px;
  line-height: 44px;
  float: left;
}
#content .form .input .butting {
  width: 62%;
}
#content .form .bottle {
  margin: 0 auto 1rem;
  width: 86%;
  background: white;
  height: 88px;
  border: 1px solid #dbdbdb;
  border-radius: 0.4rem;
}
#content .form .bottle .pass {
  display: block;
  font-size: 1.4rem;
  margin: 0 2%;
  border: 1px solid #dbdbdb;
  width: 96%;
  height: 49%;
  text-indent: 1%;
  border: none;
}
#content .form .bottle input:nth-of-type(1) {
  border-bottom: 1px solid #dbdbdb;
}
#content .form .input:nth-of-type(4) {
  margin-bottom: 0;
}
#content .form .haveLogin {
  display: block;
  width: 86%;
  height: 46px;
  background-color: #f29004;
  margin: 0 auto;
  border-radius: 0.4rem;
  color: #ffffff;
  font-size: 1.6px;
  line-height: 46px;
  margin-top: 108px;
}
#content .form .input .last_logo {
  float: right;
  text-indent: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 29%;
  height: 100%;
  font-size: 14px;
  color: #ffffff;
  background-color: #ea6c6c;
  border-radius: 0.4rem;
  line-height: 44px;
}
