body {
  min-width: 1200px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  height: 0;
  font-size: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.btn {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid #141414;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #141414;
  letter-spacing: 2px;
  font-style: normal;
}
