@import "../static/base.css";
body {
  min-width: 1200px;
  margin: 0 auto;
}
#head {
  position: relative;
  height: 1000px;
}
#head .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  vertical-align: top;
}
#head .head-nav {
  padding-top: 2%;
  width: 1170px;
  margin: auto;
}
#head .head-nav .logo {
  max-width: 170px;
  width: 14.52991453%;
  min-width: 150px;
  margin-left: 15px;
}
#head .head-nav .logo a,
#head .head-nav .logo img {
  display: block;
  width: 100%;
}
#head .head-nav .navbar {
  min-width: 0;
  background-color: transparent;
  float: right;
  border: none;
}
#head .head-nav .navbar .li {
  margin-left: 50px;
}
#head .head-nav .navbar .li .a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 12px 0 18px 0;
  height: auto;
}
#head .head-nav .navbar .li .a:hover {
  text-decoration: none;
}
#head .head-nav .navbar .li.active {
  position: relative;
}
#head .head-nav .navbar .li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eeb013;
}
#head .head-nav .navbar .li.search {
  margin-left: 20px;
}
#head .enter {
  min-width: 50px;
  width: 4.32291667%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 65.29411765%;
}
#head .enter img {
  width: 100%;
  display: block;
}
#head .btn-left,
#head .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
  font-size: 18px;
}
#head .btn-left:after,
#head .btn-right:after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#head .btn-left {
  left: 3.125%;
}
#head .btn-right {
  right: 3.125%;
}
#footer {
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 25px;
  color: #636363;
}
#footer .container-fluid {
  width: 1200px;
}
#footer .container-fluid ul {
  list-style: none;
  padding: 0;
}
#footer .container-fluid .title {
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}
#footer .container-fluid .title:after {
  content: '';
  height: 3px;
  width: 19px;
  background-color: #f6b138;
  display: block;
}
#footer .container-fluid .title.active {
  color: #f6b138;
  border: none;
}
#footer .container-fluid .title.active:after {
  display: none;
}
#footer .container-fluid .text {
  font-size: 12px;
  line-height: 24px;
}
#footer .container-fluid .logo {
  margin-top: 25px;
}
#footer .container-fluid .link {
  padding-top: 6px;
}
#footer .container-fluid .link a {
  color: inherit;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 34px;
}
#footer .container-fluid .twitter {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 10px;
}
#footer .container-fluid .twitter .time {
  color: #3a3a3a;
  margin: 12px 0 30px 0;
}
#footer .container-fluid .twitter .time:before {
  content: '';
  display: inline-block;
  background: url("../../img/static/twitter.png") no-repeat;
  width: 20px;
  height: 18px;
  background-position: 0 10px;
}
#footer .container-fluid .right {
  padding-left: 26px;
}
#footer .container-fluid .instagram {
  padding-left: 26px;
}
#footer .container-fluid .instagram .clearfix {
  margin-top: 20px;
  margin-right: -15px;
}
#footer .container-fluid .instagram .clearfix li {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #414141;
  position: relative;
}
#footer .container-fluid .instagram .clearfix li.active {
  background-color: #eeb013;
}
#footer .container-fluid .instagram .clearfix li.active span {
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  color: #fff;
}
#footer .container-fluid .row2 {
  font-size: 11px;
  color: #3a3a3a;
  font-family: Montserrat;
  margin-top: 20px;
}
#footer .container-fluid .row2 .icon ul {
  width: 271px;
  height: 14px;
  float: right;
}
#footer .container-fluid .row2 .icon ul li {
  display: table-cell;
  width: 1%;
  margin: auto;
  text-align: right;
}
#footer .container-fluid .row2 .icon ul li a {
  display: inline-block;
  background-image: url("../../img/static/footer.png");
}
#footer .container-fluid .row2 .icon ul li.active .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px -16px;
}
#footer .container-fluid .row2 .icon ul li.active .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px -14px;
}
#footer .container-fluid .row2 .icon ul li .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
#footer .container-fluid .row2 .icon ul li .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -3px;
}
#footer .container-fluid .row2 .icon ul li .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px 0px;
}
#footer .container-fluid .row2 .icon ul li .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -2px;
}
#footer .container-fluid .row2 .icon ul li .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px 0;
}
#footer .container-fluid .row2 .icon ul li .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px 0;
}
.shop_body {
  width: 1170px;
  margin: 80px auto;
  font-size: 14px;
}
.head_tittle {
  color: #878787;
  font-style: italic;
}
.head_tittle a {
  display: inline-block;
  color: #f0bc4b;
  margin-right: 30px;
}
.billing_detail,
.your_order {
  display: inline-block;
}
.your_order {
  width: 470px;
}
.billing_detail {
  width: 670px;
}
.billing_detail .bill_title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 70px;
  border-bottom: 2px solid #ececec;
  margin-bottom: 20px;
}
.billing_detail .mk {
  color: #f0bc4b;
  margin-right: 2px;
}
.billing_detail .countrys {
  border: 2px solid #ececec;
  position: relative;
}
.billing_detail .countrys span {
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url(../../img/shop/static/shop_icons.png) -192px 0;
  position: absolute;
  right: 20px ;
  top: 22px;
}
.billing_detail p {
  margin-bottom: 10px;
  letter-spacing: 1px;
  margin-top: 30px;
}
.billing_detail .input {
  height: 50px;
  line-height: 50px;
  border: 2px solid #ececec;
  box-sizing: border-box;
  letter-spacing: 1px;
  margin-top: 0px;
  font-size: 16px;
}
.billing_detail div select {
  width: 100%;
  padding-left: 15px;
  height: 50px;
  outline: none;
  border: none;
  letter-spacing: 1px;
  font-size: 14px;
  color: #878787;
}
.billing_detail div input {
  width: 90%;
  margin-left: 10px;
  font-size: 14px;
  border: none;
  color: #878787;
}
.billing_detail .firstname,
.billing_detail .lastname,
.billing_detail .company2,
.billing_detail .code,
.billing_detail .email,
.billing_detail .phone {
  display: inline-block;
  width: 320px;
  margin-top: 20px;
}
.billing_detail .firstname div,
.billing_detail .lastname div,
.billing_detail .company2 div,
.billing_detail .code div,
.billing_detail .email div,
.billing_detail .phone div {
  margin-bottom: 10px;
}
.billing_detail .firstname p,
.billing_detail .lastname p,
.billing_detail .company2 p,
.billing_detail .code p,
.billing_detail .email p,
.billing_detail .phone p {
  height: 50px;
  line-height: 50px;
  border: 2px solid #ececec;
  box-sizing: border-box;
  margin-top: 0px;
}
.billing_detail .firstname p input,
.billing_detail .lastname p input,
.billing_detail .company2 p input,
.billing_detail .code p input,
.billing_detail .email p input,
.billing_detail .phone p input {
  width: 90%;
  font-size: 16px;
  padding-left: 10px;
  color: #878787;
}
.billing_detail .select span {
  display: inline-block;
  margin-right: 60px;
}
.billing_detail .select span input {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  -webkit-appearance: checkbox;
}
.your_order {
  border: 2px solid #ececec;
  box-sizing: border-box;
  padding: 0 30px;
}
.your_order .order_title,
.your_order .payment_title {
  color: #f0bc4b;
  font-size: 18px;
  height: 90px;
  line-height: 90px;
}
.your_order .order_details p {
  border-top: 2px solid #ececec;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
}
.your_order .order_details p .subtotal,
.your_order .order_details p .order_total {
  font-size: 16px;
  font-style: italic;
}
.your_order .order_details p .ship_way {
  font-size: 12px;
}
.your_order .order_details div {
  border-top: 2px solid #ececec;
  padding-bottom: 50px;
  min-height: 80px;
}
.your_order .order_details div p {
  height: 30px;
  line-height: 30px;
  border: none;
  font-size: 12px;
  color: #878787;
}
.your_order .order_details div p .num {
  font-size: 14px;
  margin-left: 10px;
}
.your_order .order_details div p .pro_total {
  font-size: 16px;
  font-style: italic;
}
.your_order .payment_ways {
  font-size: 14px;
}
.your_order .payment_ways p {
  height: 55px;
  line-height: 55px;
  font-size: 14px;
  border-top: 2px solid #ececec;
}
.your_order .payment_ways p input {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  -webkit-appearance: checkbox;
}
.your_order .payment_ways .pay_tips {
  color: #878787;
  line-height: 30px;
  margin: 10px 0 20px;
}
.your_order .payment_ways a {
  display: block;
  background-color: #f0bc4b;
  height: 55px;
  line-height: 55px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px 0 40px;
}
