@import "../../css/static/base.css";
@import "shop_page1.css";
body {
  min-width: 1200px;
  margin: 0 auto;
}
#head {
  position: relative;
  height: 1000px;
}
#head .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  vertical-align: top;
}
#head .head-nav {
  padding-top: 2%;
  width: 1170px;
  margin: auto;
}
#head .head-nav .logo {
  max-width: 170px;
  width: 14.52991453%;
  min-width: 150px;
  margin-left: 15px;
}
#head .head-nav .logo a,
#head .head-nav .logo img {
  display: block;
  width: 100%;
}
#head .head-nav .navbar {
  min-width: 0;
  background-color: transparent;
  float: right;
  border: none;
}
#head .head-nav .navbar .li {
  margin-left: 50px;
}
#head .head-nav .navbar .li .a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 12px 0 18px 0;
  height: auto;
}
#head .head-nav .navbar .li .a:hover {
  text-decoration: none;
}
#head .head-nav .navbar .li.active {
  position: relative;
}
#head .head-nav .navbar .li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eeb013;
}
#head .head-nav .navbar .li.search {
  margin-left: 20px;
}
#head .enter {
  min-width: 50px;
  width: 4.32291667%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 65.29411765%;
}
#head .enter img {
  width: 100%;
  display: block;
}
#head .btn-left,
#head .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
  font-size: 18px;
}
#head .btn-left:after,
#head .btn-right:after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#head .btn-left {
  left: 3.125%;
}
#head .btn-right {
  right: 3.125%;
}
#footer {
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 25px;
  color: #636363;
}
#footer .container-fluid {
  width: 1200px;
}
#footer .container-fluid ul {
  list-style: none;
  padding: 0;
}
#footer .container-fluid .title {
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}
#footer .container-fluid .title:after {
  content: '';
  height: 3px;
  width: 19px;
  background-color: #f6b138;
  display: block;
}
#footer .container-fluid .title.active {
  color: #f6b138;
  border: none;
}
#footer .container-fluid .title.active:after {
  display: none;
}
#footer .container-fluid .text {
  font-size: 12px;
  line-height: 24px;
}
#footer .container-fluid .logo {
  margin-top: 25px;
}
#footer .container-fluid .link {
  padding-top: 6px;
}
#footer .container-fluid .link a {
  color: inherit;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 34px;
}
#footer .container-fluid .twitter {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 10px;
}
#footer .container-fluid .twitter .time {
  color: #3a3a3a;
  margin: 12px 0 30px 0;
}
#footer .container-fluid .twitter .time:before {
  content: '';
  display: inline-block;
  background: url("../../img/static/twitter.png") no-repeat;
  width: 20px;
  height: 18px;
  background-position: 0 10px;
}
#footer .container-fluid .right {
  padding-left: 26px;
}
#footer .container-fluid .instagram {
  padding-left: 26px;
}
#footer .container-fluid .instagram .clearfix {
  margin-top: 20px;
  margin-right: -15px;
}
#footer .container-fluid .instagram .clearfix li {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #414141;
  position: relative;
}
#footer .container-fluid .instagram .clearfix li.active {
  background-color: #eeb013;
}
#footer .container-fluid .instagram .clearfix li.active span {
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  color: #fff;
}
#footer .container-fluid .row2 {
  font-size: 11px;
  color: #3a3a3a;
  font-family: Montserrat;
  margin-top: 20px;
}
#footer .container-fluid .row2 .icon ul {
  width: 271px;
  height: 14px;
  float: right;
}
#footer .container-fluid .row2 .icon ul li {
  display: table-cell;
  width: 1%;
  margin: auto;
  text-align: right;
}
#footer .container-fluid .row2 .icon ul li a {
  display: inline-block;
  background-image: url("../../img/static/footer.png");
}
#footer .container-fluid .row2 .icon ul li.active .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px -16px;
}
#footer .container-fluid .row2 .icon ul li.active .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px -14px;
}
#footer .container-fluid .row2 .icon ul li .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
#footer .container-fluid .row2 .icon ul li .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -3px;
}
#footer .container-fluid .row2 .icon ul li .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px 0px;
}
#footer .container-fluid .row2 .icon ul li .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -2px;
}
#footer .container-fluid .row2 .icon ul li .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px 0;
}
#footer .container-fluid .row2 .icon ul li .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px 0;
}
.product_grids > div:nth-of-type(4n) {
  margin-right: 30px;
}
.product_grids > div:nth-of-type(3n) {
  margin-right: 0;
}
.shop_body .left_culomn {
  display: inline-block;
  width: 870px;
}
.shop_body .right_column {
  display: inline-block;
  width: 270px;
  height: 100%;
}
.search_box {
  height: 60px;
  line-height: 60px;
  margin-top: 8px;
  border: 1px solid #ececec;
}
.search_box input {
  margin-left: 20px;
  width: 200px;
  height: 25px;
  border: none;
  font-size: 16px;
}
.search_box:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-left: 8px;
  vertical-align: middle;
  background: url(../../img/shop/static/shop_icons.png) -45px 0 no-repeat;
}
.byCate,
.byColor,
.byPrice,
.bySize,
.TopSale,
.Tags {
  margin-top: 30px;
  font-size: 16px;
  color: #878787;
}
.byCate .menu,
.byColor .menu {
  padding-left: 30px;
}
.search_title {
  font-size: 18px;
  font-style: oblique;
  padding: 12px 0;
  color: black;
  font-weight: bolder;
  border-bottom: 1px solid;
  margin-bottom: 30px;
}
.search_title:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 16px;
  margin-right: 12px;
  vertical-align: middle;
  background: url(../../img/shop/static/shop_icons.png) -65px 0 no-repeat;
}
.byCate .Cate > p,
.byColor .Color > p {
  margin-bottom: 15px;
  cursor: pointer;
}
.Cate > p:hover,
.Color > p:hover {
  color: #f0bc4b;
}
.act {
  color: #f0bc4b;
}
.range {
  text-align: center;
}
.price_bar {
  height: 5px;
  background-color: gray;
  position: relative;
  margin-top: 5px;
}
.price_bar span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f0bc4b;
  border-radius: 8px;
  position: absolute;
  top: -6px;
}
.price_bar .leftBtn {
  left: 30%;
}
.price_bar .rightBtn {
  left: 70%;
}
.filter_btn {
  display: inline-block;
  width: 110px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  border: 2px solid #ececec;
  margin-top: 25px;
}
.bySize span {
  display: inline-block;
  height: 38px;
  padding: 0 15px;
  line-height: 38px;
  border: 2px solid #ececec;
  margin-right: 10px;
  margin-bottom: 10px;
}
.bySize .sizeAct {
  border-color: black ;
  color: black;
}
.bySize span:hover {
  border-color: black ;
  color: black;
}
.TopSale div {
  overflow: hidden;
  height: 75px;
  margin-bottom: 25px;
}
.TopSale div div {
  display: inline-block;
}
.TopSale div .s_img {
  float: left;
  width: 70px;
  height: 100%;
  background-color: lemonchiffon;
  margin-right: 30px;
}
.TopSale div .s_img img {
  width: 100%;
  height: 100%;
}
.TopSale div .s_title {
  float: right;
  max-width: 170px;
}
.TopSale div .s_title .s_price {
  font-style: italic;
  margin-top: 10px;
}
.TopSale div:hover {
  color: #f0bc4b;
}
.Tags span {
  display: inline-block;
  height: 38px;
  padding: 0 15px;
  line-height: 38px;
  border: 2px solid #ececec;
  margin-right: 10px;
  margin-bottom: 10px;
}
.Tags .TagsAct {
  border-color: black ;
  color: black;
}
.Tags span:hover {
  border-color: black ;
  color: black;
}
