@import "../../css/static/base.css";
body {
  min-width: 1200px;
  margin: 0 auto;
}
#head {
  position: relative;
  height: 1000px;
}
#head .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  vertical-align: top;
}
#head .head-nav {
  padding-top: 2%;
  width: 1170px;
  margin: auto;
}
#head .head-nav .logo {
  max-width: 170px;
  width: 14.52991453%;
  min-width: 150px;
  margin-left: 15px;
}
#head .head-nav .logo a,
#head .head-nav .logo img {
  display: block;
  width: 100%;
}
#head .head-nav .navbar {
  min-width: 0;
  background-color: transparent;
  float: right;
  border: none;
}
#head .head-nav .navbar .li {
  margin-left: 50px;
}
#head .head-nav .navbar .li .a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 12px 0 18px 0;
  height: auto;
}
#head .head-nav .navbar .li .a:hover {
  text-decoration: none;
}
#head .head-nav .navbar .li.active {
  position: relative;
}
#head .head-nav .navbar .li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #eeb013;
}
#head .head-nav .navbar .li.search {
  margin-left: 20px;
}
#head .enter {
  min-width: 50px;
  width: 4.32291667%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 65.29411765%;
}
#head .enter img {
  width: 100%;
  display: block;
}
#head .btn-left,
#head .btn-right {
  position: absolute;
  width: 54px;
  height: 54px;
  color: #fff;
  border: 2px solid #5c5c5c;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0;
  font-size: 18px;
}
#head .btn-left:after,
#head .btn-right:after {
  margin-top: 4px;
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#head .btn-left {
  left: 3.125%;
}
#head .btn-right {
  right: 3.125%;
}
#footer {
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 25px;
  color: #636363;
}
#footer .container-fluid {
  width: 1200px;
}
#footer .container-fluid ul {
  list-style: none;
  padding: 0;
}
#footer .container-fluid .title {
  font-size: 12px;
  color: #fff;
  line-height: 35px;
}
#footer .container-fluid .title:after {
  content: '';
  height: 3px;
  width: 19px;
  background-color: #f6b138;
  display: block;
}
#footer .container-fluid .title.active {
  color: #f6b138;
  border: none;
}
#footer .container-fluid .title.active:after {
  display: none;
}
#footer .container-fluid .text {
  font-size: 12px;
  line-height: 24px;
}
#footer .container-fluid .logo {
  margin-top: 25px;
}
#footer .container-fluid .link {
  padding-top: 6px;
}
#footer .container-fluid .link a {
  color: inherit;
  font-family: Tahoma;
  font-size: 10px;
  line-height: 34px;
}
#footer .container-fluid .twitter {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 10px;
}
#footer .container-fluid .twitter .time {
  color: #3a3a3a;
  margin: 12px 0 30px 0;
}
#footer .container-fluid .twitter .time:before {
  content: '';
  display: inline-block;
  background: url("../../img/static/twitter.png") no-repeat;
  width: 20px;
  height: 18px;
  background-position: 0 10px;
}
#footer .container-fluid .right {
  padding-left: 26px;
}
#footer .container-fluid .instagram {
  padding-left: 26px;
}
#footer .container-fluid .instagram .clearfix {
  margin-top: 20px;
  margin-right: -15px;
}
#footer .container-fluid .instagram .clearfix li {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #414141;
  position: relative;
}
#footer .container-fluid .instagram .clearfix li.active {
  background-color: #eeb013;
}
#footer .container-fluid .instagram .clearfix li.active span {
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  color: #fff;
}
#footer .container-fluid .row2 {
  font-size: 11px;
  color: #3a3a3a;
  font-family: Montserrat;
  margin-top: 20px;
}
#footer .container-fluid .row2 .icon ul {
  width: 271px;
  height: 14px;
  float: right;
}
#footer .container-fluid .row2 .icon ul li {
  display: table-cell;
  width: 1%;
  margin: auto;
  text-align: right;
}
#footer .container-fluid .row2 .icon ul li a {
  display: inline-block;
  background-image: url("../../img/static/footer.png");
}
#footer .container-fluid .row2 .icon ul li.active .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px -16px;
}
#footer .container-fluid .row2 .icon ul li.active .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -17px;
}
#footer .container-fluid .row2 .icon ul li.active .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px -14px;
}
#footer .container-fluid .row2 .icon ul li.active .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px -14px;
}
#footer .container-fluid .row2 .icon ul li .a1 {
  width: 8px;
  height: 14px;
  background-position: 0 0;
}
#footer .container-fluid .row2 .icon ul li .a2 {
  width: 13px;
  height: 11px;
  background-position: -49px -3px;
}
#footer .container-fluid .row2 .icon ul li .a3 {
  width: 13px;
  height: 13px;
  background-position: -102px 0px;
}
#footer .container-fluid .row2 .icon ul li .a4 {
  width: 17px;
  height: 11px;
  background-position: -152px -2px;
}
#footer .container-fluid .row2 .icon ul li .a5 {
  width: 11px;
  height: 14px;
  background-position: -207px 0;
}
#footer .container-fluid .row2 .icon ul li .a6 {
  width: 13px;
  height: 14px;
  background-position: -258px 0;
}
.shop_body {
  width: 1170px;
  margin: 80px auto 0;
}
.product_detail {
  overflow: hidden;
}
.details_info {
  display: inline-block;
  width: 570px;
  float: right;
  font-size: 14px;
}
.details_info .info_title {
  font-size: 30px;
  font-style: bolder;
  margin-bottom: 20px ;
}
.details_info .text {
  line-height: 28px;
  font-size: 16px;
}
.details_info .info {
  border-top: 1px solid #ececec;
  padding-top: 10px;
  font-size: 14px;
  margin-top: 15px;
}
.details_info .info span {
  display: inline-block;
}
.details_info .info .pro_code {
  margin-right: 10px;
}
.details_info .info .dot2 {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: url(../../img/shop/static/shop_icons.png) -180px 0 no-repeat;
}
.details_info .info .star {
  float: right;
}
.details_info .info .star span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../../img/shop/static/shop_icons.png) -85px 0 no-repeat;
}
.details_info .price {
  font-style: italic;
  font-size: 30px;
  margin: 30px 0;
}
.details_info .price .old_price {
  color: #878787;
  text-decoration: line-through;
}
.details_info .price .new_price {
  margin-left: 10px;
  color: lightcoral;
}
.details_info .size_select {
  position: relative;
  cursor: pointer;
}
.details_info .size_select p {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ececec;
}
.details_info .size_select .size > span:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background: url(../../img/shop/static/shop_icons.png) -170px 0 no-repeat;
}
.details_info .size_select .size > span:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 6px;
  float: right;
  margin-top: 20px;
  background: url(../../img/shop/static/shop_icons.png) -192px 0 no-repeat;
}
.details_info .size_select .all_sizes {
  padding: 15px 0;
  display: none;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}
.details_info .size_select .all_sizes span {
  background-color: white;
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border: 2px solid #ececec;
  margin: 0 10px;
  margin-bottom: 10px;
}
.details_info .size_select .all_sizes .selected {
  border-color: white ;
  background-color: #f0bc4b;
  color: black;
}
.details_info .size_select .all_sizes span:hover {
  border-color: white ;
  background-color: #f0bc4b;
  color: black;
}
.details_info .color_select {
  cursor: pointer;
  position: relative;
}
.details_info .color_select p {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ececec;
}
.details_info .color_select .color > span:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: url(../../img/shop/static/shop_icons.png) -170px 0 no-repeat;
}
.details_info .color_select .color > span:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 6px;
  float: right;
  margin-top: 20px;
  background: url(../../img/shop/static/shop_icons.png) -192px 0 no-repeat;
}
.details_info .color_select .all_colors {
  z-index: 3;
  padding: 15px 0;
  display: none;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.details_info .color_select .all_colors span {
  background-color: white;
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border: 2px solid #ececec;
  margin: 0 10px;
  margin-bottom: 10px;
}
.details_info .color_select .all_colors .selected {
  border-color: white ;
  background-color: #f0bc4b;
  color: black;
}
.details_info .color_select .all_colors span:hover {
  border-color: white ;
  background-color: #f0bc4b;
  color: black;
}
.details_info .hited {
  background-color: #f0bc4b;
}
.details_info .quantiny {
  margin: 30px 0;
}
.details_info .quantiny div {
  display: inline-block;
}
.details_info .quantiny span {
  display: inline-block;
}
.details_info .quantiny .num_box {
  border: 1px solid #ececec;
  min-width: 110px ;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.details_info .quantiny .num_box .reduce,
.details_info .quantiny .num_box .add {
  cursor: pointer;
  width: 25px;
  height: 100%;
  background: url(../../img/shop/static/shop_icons.png) no-repeat;
  background-color: #ececec;
}
.details_info .quantiny .num_box .reduce {
  float: left;
  background-position: -183px -144px;
}
.details_info .quantiny .num_box .add {
  float: right;
  background-position: -183px -177px;
}
.details_info .quantiny .addBtn {
  margin-left: 20px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center ;
  color: white;
  background-color: #f0bc4b;
}
.details_info .tag_detail {
  margin: 10px;
}
.details_info .tag_detail p {
  margin: 10px 0;
}
.details_info .share {
  margin-top: 30px;
}
.details_info .share span {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: url(../../img/shop/static/shop_icons.png) 13px no-repeat;
  background-color: lavender;
  margin-right: 10px;
  cursor: pointer;
}
.details_info .share span.sharing {
  background-color: #f0bc4b;
}
.details_info .share span:hover {
  background-color: #f0bc4b;
}
.details_info .share .facebook {
  background-position-y: -173px;
}
.details_info .share .twitter {
  background-position-y: -138px;
}
.details_info .share .dribble {
  background-position-y: -105px;
}
.details_info .share .behance {
  background-position-y: -74px;
}
.details_info .share .pinterest {
  background-position-y: -43px;
}
.details_info .share .google {
  background-position-y: -13px;
}
.detail_img {
  width: 570px ;
  display: inline-block;
}
.detail_img .big_photo {
  width: 100%;
  height: 623px;
  margin-bottom: 15px ;
  background-color: lightblue;
}
.detail_img .slide_photo {
  overflow: hidden;
}
.detail_img .slide_photo div {
  background-color: lightcyan;
  display: inline-block;
  width: 180px;
  height: 198px;
  float: left;
}
.detail_img .slide_photo div img {
  width: 100%;
  height: 100%;
}
.detail_img .slide_photo .mid {
  margin: 0 15px;
}
.info {
  margin: 100px 0 70px;
  overflow: hidden;
}
.info .tabs,
.info .content {
  display: inline-block;
}
.info .tabs {
  width: 270px;
  float: left;
}
.info .tabs div {
  height: 55px;
  line-height: 55px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ececec;
  position: relative;
  letter-spacing: 2px;
  cursor: pointer;
}
.info .tabs div.tabing {
  background-color: #f0bc4b;
  color: white;
}
.info .tabs div:before {
  content: "";
  position: absolute;
  left: 30px;
  top: 18px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../../img/shop/static/shop_icons.png) right no-repeat;
}
.info .tabs .descrip:before {
  background-position-y: -20px;
}
.info .tabs .reviews:before {
  background-position-y: -43px;
}
.info .tabs .tags:before {
  background-position-y: -67px;
}
.info .content {
  color: #6f6f6f;
  width: 870px;
  min-height: 350px;
  float: right;
  padding: 20px 0;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}
.info .content div.show {
  display: block;
}
.info .content div {
  display: none;
}
.info .content div p {
  padding: 0 25px;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}
.relate_products {
  text-align: center;
}
.relate_products .related_head h3 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}
.relate_products .related_head .shape {
  margin: 20px 0;
}
.relate_products .related_head .shape span {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  background: url(../../img/shop/static/shop_icons.png) -101px 0 no-repeat;
}
.relate_products .related_head .shape span:before,
.relate_products .related_head .shape span:after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 2px;
  background-color: #ececec;
  vertical-align: middle;
}
.relate_products .related_head .shape span:before {
  position: absolute;
  top: 10px;
  left: -105px;
}
.relate_products .related_head .shape span:after {
  position: absolute;
  top: 10px;
  left: 50px;
}
.relate_products .related_head .explain {
  color: #878787;
  font-size: 14px;
}
.relate_products .prods {
  overflow: hidden;
  margin: 70px 0 50px;
}
.relate_products .prods div.grids {
  display: inline-block;
  float: left;
  width: 270px;
  margin-right: 30px;
  margin-bottom: 60px;
  font-size: 14px;
}
.relate_products .prods div.grids a {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 400px;
}
.relate_products .prods div.grids p.img {
  width: 100%;
  height: 335px;
  background-color: lightgray;
  position: relative;
}
.relate_products .prods div.grids p.img img {
  width: 100%;
  height: 100%;
}
.relate_products .prods div.grids p.img .new_label {
  display: inline-block;
  width: 46px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: orangered;
  border: 2px solid orangered;
  position: absolute;
  left: 10px;
  top: 10px;
}
.relate_products .prods div.grids p.title,
.relate_products .prods div.grids p.price {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.relate_products .prods div.grids .title {
  margin-top: 8px;
  font-size: 14px;
}
.relate_products .prods div.grids .price {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 8px;
}
.relate_products .prods div.grids .price .old_price {
  color: #878787;
  text-decoration: line-through;
  margin-left: 15px;
}
.relate_products .prods div:nth-of-type(4n) {
  margin-right: 0;
}
