.btn {
  background-color: #ec6a17;
  color: #ffffff;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pic_slider {
  overflow: hidden;
  position: relative;
}
.pic_slider .pic_inner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 470px;
}
.pic_slider .pic_inner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pic_slider .pic_inner a img {
  display: block;
  width: 100%;
  height: 100%;
}
.pic_slider .paganation {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
}
.pic_slider .paganation span {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #323333;
  cursor: pointer;
  margin-left: 5px;
}
.pic_slider .paganation span.active {
  background-color: #ec6a17;
  color: #fff;
}
#header {
  min-width: 1180px;
}
#header .nav-wrap {
  width: 100%;
  background-color: #eeeeee;
}
#header .nav-wrap .nav {
  width: 1180px;
  margin: 0 auto;
}
#header .nav-wrap .nav .left {
  float: left;
}
#header .nav-wrap .nav .left .current:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 6px;
  background: url(../../img/icons.png) no-repeat;
  background-position: 0 0;
  margin-left: 5px;
}
#header .nav-wrap .nav .right {
  float: right;
  overflow: hidden;
}
#header .nav-wrap .nav .right li {
  float: left;
}
#header .nav-wrap .nav .right .item {
  margin-left: 17px;
}
#header .nav-wrap .nav .right .item:hover {
  color: #C81623;
}
#header .nav-wrap .nav .phone:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 15px;
  background: url(../../img/icons.png) no-repeat;
  background-position: -1px -55px;
  vertical-align: middle;
  margin-right: 5px;
}
#header .nav-wrap .nav .bor {
  padding-right: 17px;
}
#header .nav-wrap .nav span,
#header .nav-wrap .nav a {
  font-size: 12px;
  color: #666666;
  line-height: 34px;
}
#footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #d3d3d3;
}
#footer .bottom {
  width: 720px;
  text-align: center;
  margin: 0 auto;
}
#footer .bottom span {
  font-size: 14px;
  color: #999999;
}
#footer .bottom .middle {
  margin: 0 12px 0 15px;
  border-right: 1px solid #999999;
  padding-right: 12px;
}
#footer .bottom .txt {
  margin-top: 12px;
}
#footer .bottom .txt span {
  color: #008de1;
  margin: 0 8px;
}
.submit {
  display: block;
  width: 170px;
  height: 45px;
  background: #EC6A17;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
}
.pay_topup_wrap {
  width: 1180px;
  border: 1px solid #ccc;
  padding: 40px 40px 60px;
  font-size: 16px;
  margin: auto;
  margin-top: 25px;
}
.pay_topup_wrap .pay_top_wrap_header {
  height: 82px;
  line-height: 82px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.pay_topup_wrap .pay_top_wrap_header .yihe_logo {
  display: block;
  float: left;
  width: 144px;
  height: 82px;
  background: url(../../img/logo.png) no-repeat;
}
.pay_topup_wrap .pay_top_wrap_header .pay_top_wrap_header_content_right {
  float: right;
  margin-top: 39px;
}
.pay_topup_wrap .pay_top_wrap_header .pay_top_wrap_header_content_right span {
  display: block;
  float: left;
  font-size: 17px;
  line-height: 44px;
  text-align: center;
  width: 238px;
  height: 44px;
  background: url(../../img/bind_phone_progress.png) no-repeat;
}
.pay_topup_wrap .pay_top_wrap_header .pay_top_wrap_header_content_right .a_span1 {
  width: 238px;
  background-position: 3px 0;
}
.pay_topup_wrap .pay_top_wrap_header .pay_top_wrap_header_content_right .a_span1.active {
  color: #fff;
  background-position: 3px -203px;
}
.pay_topup_wrap .pay_top_wrap_header .pay_top_wrap_header_content_right .a_span2 {
  width: 246px;
  background-position: 0 -66px;
}
.pay_topup_wrap .pay_top_wrap_header .pay_top_wrap_header_content_right .a_span2.active {
  color: #fff;
  background-position: 0 -260px;
}
.pay_topup_wrap .pay_top_wrap_header .pay_top_wrap_header_content_right .a_span3 {
  width: 243px;
  background-position: 0 -136px;
}
.pay_topup_wrap .pay_top_wrap_header .pay_top_wrap_header_content_right .a_span3.active {
  color: #fff;
  background-position: 0 -320px;
}
.pay_topup_wrap .select_pay {
  color: #666;
}
.pay_topup_wrap .select_pay .pay_num {
  height: 66px;
  line-height: 66px;
}
.pay_topup_wrap .select_pay .pay_num .b_span1,
.pay_topup_wrap .select_pay .pay_num .b_span2,
.pay_topup_wrap .select_pay .pay_num .b_span3 {
  float: left;
}
.pay_topup_wrap .select_pay .pay_num .b_span4,
.pay_topup_wrap .select_pay .pay_num .b_span5 {
  float: right;
}
.pay_topup_wrap .select_pay .pay_num .price {
  font-size: 21px;
  color: #EC6A17;
  margin-right: 12px;
}
.pay_topup_wrap .select_pay .pay_platform {
  margin-top: 15px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_header {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select {
  height: 120px;
  line-height: 120px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select span {
  display: inline-block;
  width: 135px;
  height: 40px;
  background: url(../../img/icons.png) no-repeat;
  margin-right: 35px;
  margin-left: 6px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select .zhifubao {
  background-position: -296px -80px;
  vertical-align: middle;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select .weixin {
  background-position: -296px -149px;
  vertical-align: middle;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select .blank {
  background-position: -296px -220px;
  vertical-align: middle;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select .balance {
  background-position: -296px -281px;
  vertical-align: middle;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn {
  height: 290px;
  border: 1px solid #ccc;
  padding: 60px 238px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn div:first-child {
  float: left;
  width: 175px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn div:first-child img {
  margin-top: 40px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn div:first-child a {
  display: block;
  width: 170px;
  height: 45px;
  background: #EC6A17;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn .a_div2 {
  float: left;
  line-height: 350px;
  margin-left: 147px;
  margin-right: 140px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn .a_div3 {
  float: left;
  width: 216px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn .a_div3 img {
  margin-top: 40px;
}
.weixin_pay {
  width: 1100px;
  height: 394px;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 60px;
  font-size: 16px;
  color: #666;
  text-align: center;
}
.weixin_pay li:first-child {
  width: 314px;
  float: left;
  margin-top: 35px;
  margin-left: 119px;
  margin-right: 100px;
}
.weixin_pay .w_li3 {
  text-align: left;
  width: 230px;
  padding-left: 150px;
  border-left: 1px solid #ccc;
  float: left;
  margin-top: 50px;
}
.weixin_pay .w_li3 img {
  margin-top: 30px;
}
.succeed_submit_tips {
  text-align: center;
  padding-bottom: 30px;
}
.succeed_submit_tips div:first-child {
  width: 88px;
  height: 85px;
  background: url(../../img/success_icon.png) no-repeat;
  margin: 80px auto 55px;
}
.succeed_submit_tips .s_div2 {
  font-size: 22px;
}
.succeed_submit_tips .s_div2 span {
  color: #EC6A17;
}
.succeed_submit_tips .s_div3 {
  text-align: left;
  height: 38px;
  line-height: 38px;
  background-color: #fff4ec;
  margin-top: 77px;
}
.succeed_submit_tips .s_div3 .address_icon {
  display: inline-block;
  width: 20px;
  height: 25px;
  background: url(../../img/icons.png) no-repeat;
  background-position: -295px -23px;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 10px;
  margin-right: 7px;
}
.use_payPaltform {
  width: 655px;
  height: 435px;
  border: 4px solid #ccc;
  text-align: center;
  font-size: 16px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  z-index: 99;
  display: none;
}
.use_payPaltform li:first-child {
  font-size: 30px;
  color: #EC6A17;
  margin-top: 100px;
  margin-bottom: 60px;
}
.use_payPaltform .u_li3 {
  margin-top: 68px;
}
.use_payPaltform .u_li3 a {
  display: inline-block;
  width: 170px;
  height: 58px;
  background-color: #EC6A17;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  padding-top: 15px;
}
.use_payPaltform .u_li3 a .d_span2 {
  font-size: 14px;
}
.use_payPaltform .u_li3 .c_span2 {
  background-color: #666;
  margin-left: 55px;
}
#mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: none;
}
