.btn {
  background-color: #ec6a17;
  color: #ffffff;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pic_slider {
  overflow: hidden;
  position: relative;
}
.pic_slider .pic_inner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 470px;
}
.pic_slider .pic_inner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pic_slider .pic_inner a img {
  display: block;
  width: 100%;
  height: 100%;
}
.pic_slider .paganation {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
}
.pic_slider .paganation span {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #323333;
  cursor: pointer;
  margin-left: 5px;
}
.pic_slider .paganation span.active {
  background-color: #ec6a17;
  color: #fff;
}
#section .content {
  width: 984px;
  min-height: 544px;
  float: right;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  position: relative;
}
#section .content .title {
  padding-left: 20px;
  line-height: 57px;
  height: 57px;
  border-bottom: 1px solid #d3d3d3;
  color: #008de1;
  font-size: 18px;
}
#section .content .address li {
  font-size: 18px;
  overflow: hidden;
  margin-top: 20px;
  color: #333333;
}
#section .content .address .left,
#section .content .address .right {
  float: left;
}
#section .content .address .left {
  line-height: 35px;
  height: 35px;
  text-align: right;
  width: 140px;
}
#section .content .address .left span {
  color: #ec6a17;
  margin-right: 5px;
}
#section .content .address .right {
  line-height: 33px;
}
#section .content .address .item1 .right input {
  border: 1px solid #dcdcdc;
  width: 318px;
  line-height: 33px;
  height: 33px;
  font-size: 16px;
  padding-left: 12px;
}
#section .content .address .item2 .right select {
  width: 140px;
  border: 1px solid #dcdcdc;
  padding: 8px 5px;
  font-size: 16px;
  margin-right: 15px;
}
#section .content .address .item3 .right input {
  border: 1px solid #dcdcdc;
  width: 446px;
  line-height: 33px;
  height: 33px;
  font-size: 16px;
  padding-left: 12px;
}
#section .content .address .item4 .right {
  font-size: 16px;
}
#section .content .address .item4 .right .mobile {
  border: 1px solid #dcdcdc;
  width: 138px;
  line-height: 33px;
  height: 33px;
  font-size: 16px;
  padding-left: 12px;
}
#section .content .address .item4 .right .pre {
  padding: 0;
  border: 1px solid #dcdcdc;
  width: 37px;
  line-height: 33px;
  height: 33px;
  font-size: 16px;
  padding-left: 12px;
  margin-right: 10px;
}
#section .content .address .item4 .right .pnum {
  border: 1px solid #dcdcdc;
  width: 113px;
  line-height: 33px;
  height: 33px;
  font-size: 16px;
  padding-left: 12px;
  margin-left: 10px;
}
#section .content .address .item5 .right {
  font-size: 16px;
}
#section .content .address .item5 .right input {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  vertical-align: text-bottom;
  margin-right: 10px;
}
#section .content .address .item5 .right #submitBtn {
  display: block;
  width: 170px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  background-color: #ec6a17;
  border-radius: 4px;
  margin-top: 40px;
}
