.btn {
  background-color: #ec6a17;
  color: #ffffff;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pic_slider {
  overflow: hidden;
  position: relative;
}
.pic_slider .pic_inner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 470px;
}
.pic_slider .pic_inner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pic_slider .pic_inner a img {
  display: block;
  width: 100%;
  height: 100%;
}
.pic_slider .paganation {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
}
.pic_slider .paganation span {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #323333;
  cursor: pointer;
  margin-left: 5px;
}
.pic_slider .paganation span.active {
  background-color: #ec6a17;
  color: #fff;
}
#section .content {
  width: 984px;
  min-height: 544px;
  float: right;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
}
#section .content .title {
  padding-left: 20px;
  line-height: 57px;
  height: 57px;
  border-bottom: 1px solid #d3d3d3;
  color: #008de1;
  font-size: 18px;
}
#section .content .change {
  padding: 40px 40px 0;
}
#section .content .change input {
  border: none;
  padding: 12px;
  background-color: #f9f9f9;
  font-size: 16px;
}
#section .content .change input.active {
  background-color: #ffffff;
}
#section .content .change > label {
  display: block;
  width: 305px;
  border: 1px solid #d3d3d3;
  margin-bottom: 30px;
  position: relative;
}
#section .content .change > label input {
  width: 281px;
}
#section .content .change > label .tips {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  color: #999999;
  padding: 12px;
  line-height: 18px;
  -webkit-user-select: none;
}
#section .content .change .check-code {
  overflow: hidden;
  border: none;
}
#section .content .change .check-code input {
  display: inline;
  width: 87px;
  border: 1px solid #d3d3d3;
}
#section .content .change .check-code img {
  display: inline;
  width: 80px;
  height: 34px;
  vertical-align: middle;
  margin-right: 10px;
}
#section .content .change .check-code .change-code {
  float: right;
  display: block;
  font-size: 14px;
  color: #ec6a17;
  line-height: 44px;
}
#section .content .change .phone-code {
  position: relative;
}
#section .content .change .phone-code input {
  width: 185px;
  padding-right: 108px;
}
#section .content .change .phone-code .getCode {
  position: absolute;
  display: block;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  width: 100px;
  height: 32px;
  background-color: #008de1;
  right: 5px;
  top: 5px;
}
#section .content .change #submitBtn {
  display: block;
  width: 170px;
  height: 45px;
  background-color: #ec6a17;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 45px;
  border-radius: 4px;
}
#pop-box {
  display: none;
  position: fixed;
  width: 454px;
  height: 184px;
  border-radius: 20px;
  text-align: center;
  line-height: 184px;
  color: #ffffff;
  font-size: 24px;
  overflow: hidden;
}
#pop-box .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#pop-box .con {
  position: relative;
}
#pop-box i {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  background: url(../../img/icons.png) no-repeat;
  background-position: -265px -360px;
  margin-right: 15px;
}
