.submit {
  display: block;
  width: 170px;
  height: 45px;
  background: #EC6A17;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
}
.pay_topup_wrap {
  width: 1180px;
  height: 874px;
  border: 1px solid #ccc;
  padding: 40px 40px 60px;
  font-size: 16px;
  margin: auto;
}
.pay_topup_wrap .pay_top_wrap_header {
  height: 82px;
  line-height: 82px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
.pay_topup_wrap .pay_top_wrap_header .yihe_logo {
  display: block;
  float: left;
  width: 144px;
  height: 82px;
  background: url(../../img/logo.png) no-repeat;
}
.pay_topup_wrap .pay_top_wrap_header .pay_top_wrap_header_span2 {
  float: right;
}
.pay_topup_wrap .select_pay {
  color: #666;
}
.pay_topup_wrap .select_pay .pay_num {
  height: 66px;
  line-height: 66px;
}
.pay_topup_wrap .select_pay .pay_num .pay_num_span1,
.pay_topup_wrap .select_pay .pay_num .pay_num_span2,
.pay_topup_wrap .select_pay .pay_num .pay_num_span3 {
  float: left;
}
.pay_topup_wrap .select_pay .pay_num .pay_num_span4,
.pay_topup_wrap .select_pay .pay_num .pay_num_span5 {
  float: right;
}
.pay_topup_wrap .select_pay .pay_num .price {
  font-size: 21px;
  color: #EC6A17;
  margin-right: 12px;
}
.pay_topup_wrap .select_pay .pay_platform {
  margin-top: 15px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_header {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select {
  height: 120px;
  line-height: 120px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select span {
  display: inline-block;
  width: 135px;
  height: 40px;
  background: url(../../img/icons.png) no-repeat;
  margin-right: 35px;
  margin-left: 6px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select .zhifubao {
  background-position: -296px -80px;
  vertical-align: middle;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select .weixin {
  background-position: -296px -149px;
  vertical-align: middle;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select .blank {
  background-position: -296px -220px;
  vertical-align: middle;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_select .balance {
  background-position: -296px -281px;
  vertical-align: middle;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn {
  height: 290px;
  border: 1px solid #ccc;
  padding: 60px 201px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn div:first-child {
  float: left;
  width: 175px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn div:first-child img {
  margin-top: 40px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn div:first-child a {
  display: block;
  width: 170px;
  height: 45px;
  background: #EC6A17;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn .pay_platform_btn_div2 {
  float: left;
  line-height: 350px;
  margin-left: 147px;
  margin-right: 140px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn .pay_platform_btn_div3 {
  float: left;
  width: 216px;
}
.pay_topup_wrap .select_pay .pay_platform .pay_platform_btn .pay_platform_btn_div3 img {
  margin-top: 40px;
}
.weixin_pay {
  width: 1100px;
  height: 394px;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 60px;
  font-size: 16px;
  color: #666;
  text-align: center;
}
.weixin_pay li:first-child {
  width: 314px;
  float: left;
  margin-top: 35px;
  margin-left: 119px;
  margin-right: 100px;
}
.weixin_pay .weixin_pay_li2 {
  text-align: left;
  width: 230px;
  padding-left: 150px;
  border-left: 1px solid #ccc;
  float: left;
  margin-top: 50px;
}
.weixin_pay .weixin_pay_li2 img {
  margin-top: 30px;
}
