.my_account_header {
  width: 985px;
  height: 353px;
  border: 1px solid #ccc;
}
.my_account_header .my_account_header_top {
  height: 142px;
  background-color: #fff4ec;
  font-size: 16px;
}
.my_account_header .my_account_header_top .my_account_header_top_left {
  line-height: 142px;
  float: left;
}
.my_account_header .my_account_header_top .my_account_header_top_left span:first-child {
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  background: url(../../img/active/personal/custom_pic.png) no-repeat;
  margin-top: -6px;
  margin-left: 20px;
}
.my_account_header .my_account_header_top .my_account_header_top_left .header_top_left_span2 {
  margin-left: 20px;
}
.my_account_header .my_account_header_top .my_account_header_top_left .custom_phone {
  color: #EC6A17;
}
.my_account_header .my_account_header_top .my_account_header_top_right {
  float: left;
  width: 418px;
  height: 74px;
  margin-left: 178px;
}
.my_account_header .my_account_header_top .my_account_header_top_right span {
  display: block;
  float: left;
  width: 33.3%;
  text-align: center;
}
.my_account_header .my_account_header_top .my_account_header_top_right div:first-child {
  margin-top: 35px;
  margin-bottom: 20px;
}
.my_account_header .my_account_header_top .my_account_header_top_right .current_scores,
.my_account_header .my_account_header_top .my_account_header_top_right .balance,
.my_account_header .my_account_header_top .my_account_header_top_right .coupon {
  color: #EC6A17;
}
.my_account_header .my_account_header_bottom {
  font-size: 16px;
  padding: 40px 20px;
}
.my_account_header .my_account_header_bottom .my_vip_level {
  width: 190px;
  height: 34px;
  line-height: 34px;
}
.my_account_header .my_account_header_bottom .my_vip_level span:first-child {
  position: relative;
  top: -3px;
}
.my_account_header .my_account_header_bottom .my_vip_level .vip_level {
  font-size: 26px;
  color: #EC6A17;
  font-style: italic;
}
.my_account_header .my_account_header_bottom .level_progress {
  margin-top: 30px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top {
  height: 32px;
  line-height: 32px;
  position: relative;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top div {
  float: left;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top div:first-child {
  margin-left: 20px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top .odd {
  font-size: 14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #EC6A17;
  text-align: center;
  color: #fff;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top .odd.active {
  font-size: 1.8 10px;
  font-style: italic;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top .even {
  width: 105px;
  height: 9px;
  background-color: #ccc;
  margin-top: 11.5px;
  margin-left: 5px;
  margin-right: 5px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top span {
  position: absolute;
  width: 0px;
  height: 9px;
  background-color: #EC6A17;
  top: 11.5px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top .progress_span1 {
  width: 105px;
  left: 57px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top .progress_span2 {
  width: 40px;
  left: 204px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top .progress_span3 {
  left: 351px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top .progress_span4 {
  left: 498px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top .progress_span5 {
  left: 645px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_top .progress_span6 {
  left: 792px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_bottom {
  margin-top: 20px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_bottom div {
  float: left;
  margin-left: 91px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_bottom div:first-child {
  margin-left: 12px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_bottom .progress_div4 {
  position: relative;
  left: 4px;
}
.my_account_header .my_account_header_bottom .level_progress .level_progress_bottom .progress_div5 {
  position: relative;
  left: 4px;
}
.my_account_content {
  width: 985px;
  height: 300px;
  margin-top: 20px;
}
.my_account_content a img {
  width: 100%;
  height: 100%;
}
