.submit {
  display: block;
  width: 170px;
  height: 45px;
  background: #EC6A17;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  margin-left: 86px;
}
.my_account_wrap {
  width: 985px;
  height: 310px;
  border: 1px solid #ccc;
}
.my_account_wrap .my_account_wrap_header {
  height: 57px;
  line-height: 57px;
  border-bottom: 1px solid #ccc;
}
.my_account_wrap .my_account_wrap_header span {
  color: #008DE1;
  font-size: 17px;
  margin-left: 20px;
}
.my_account_wrap .my_account_wrap_content {
  padding: 40px 20px;
  font-size: 16px;
  color: #666;
}
.my_account_wrap .my_account_wrap_content .my_account_wrap_content_top .account_balance {
  font-size: 20px;
  color: #EC6A17;
  margin-left: 15px;
}
.my_account_wrap .my_account_wrap_content .my_account_wrap_content_bottom {
  margin-top: 30px;
}
.my_account_wrap .my_account_wrap_content .my_account_wrap_content_bottom input {
  width: 144px;
  height: 12px;
  margin-left: 15px;
  padding: 10px 12px;
}
.my_account_wrap .my_account_wrap_content .top_up_btn {
  display: block;
  width: 170px;
  height: 45px;
  background: #EC6A17;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  margin-top: 40px;
  margin-left: 86px;
}
.topup_record {
  width: 985px;
  height: 1187px;
  border: 1px solid #ccc;
  margin-top: 20px;
}
.topup_record .topup_record_header {
  height: 57px;
  line-height: 57px;
  border-bottom: 1px solid #ccc;
}
.topup_record .topup_record_header span {
  color: #008DE1;
  font-size: 17px;
  margin-left: 20px;
}
.topup_record .topup_record_content .topup_record_content_header {
  font-size: 16px;
  line-height: 56px;
}
.topup_record .topup_record_content .topup_record_content_header span:first-child {
  margin-left: 80px;
  margin-right: 194px;
}
.topup_record .topup_record_content .topup_record_content_header .content_header_span3 {
  margin-left: 208px;
  margin-right: 205px;
}
.topup_record .topup_record_content .topup_record_content_mid {
  padding: 0 20px;
  font-size: 14px;
  height: 965px;
  overflow: hidden;
}
.topup_record .topup_record_content .topup_record_content_mid div {
  line-height: 45px;
  border-bottom: 1px dotted #ccc;
}
.topup_record .topup_record_content .topup_record_content_mid div:first-child {
  border-top: 1px solid #ccc;
}
.topup_record .topup_record_content .topup_record_content_mid .topup_date {
  margin-right: 135px;
}
.topup_record .topup_record_content .topup_record_content_mid .order_num {
  color: #EC6A17;
}
.topup_record .topup_record_content .topup_record_content_mid .topup_num {
  margin-left: 175px;
  color: #EC6A17;
}
.topup_record .topup_record_content .topup_record_content_mid .balance_num {
  margin-left: 192px;
}
.topup_record .select_page {
  text-align: center;
}
.topup_record .select_page span {
  display: inline-block;
  width: 37px;
  height: 34px;
  border: 1px solid #ccc;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  border-left: 0px;
}
.topup_record .select_page div {
  display: inline-block;
  font-size: 15px;
}
.topup_record .select_page span.active {
  background-color: #008de1;
  color: #fff;
}
.topup_record .select_page .home_page {
  width: 65px;
  height: 34px;
  border: 1px solid #ccc;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  color: #008DE1;
}
.topup_record .select_page .previous_page {
  width: 65px;
  height: 34px;
  border: 1px solid #ccc;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  color: #008DE1;
  width: 90px;
  margin-left: 20px;
  color: #333333;
  cursor: pointer;
}
.topup_record .select_page .next_page {
  width: 65px;
  height: 34px;
  border: 1px solid #ccc;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  color: #008DE1;
  width: 90px;
  margin-left: 20px;
  color: #333333;
  margin-left: 0;
  border-left: 0px;
  margin-right: 20px;
  cursor: pointer;
}
.topup_record .select_page .select_page_border {
  -webkit-appearance: none;
  width: 50px;
  height: 34px;
  line-height: 34px;
  margin-left: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  vertical-align: middle;
}
.topup_record .select_page .confirm_btn {
  display: inline-block;
  width: 90px;
  height: 34px;
  background-color: #008DE1;
  line-height: 34px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-left: 20px;
}
.topup_record .select_page .sum_page {
  color: #666;
  margin-left: 14px;
}
