.btn {
  background-color: #ec6a17;
  color: #ffffff;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pic_slider {
  overflow: hidden;
  position: relative;
}
.pic_slider .pic_inner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 470px;
}
.pic_slider .pic_inner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pic_slider .pic_inner a img {
  display: block;
  width: 100%;
  height: 100%;
}
.pic_slider .paganation {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
}
.pic_slider .paganation span {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #323333;
  cursor: pointer;
  margin-left: 5px;
}
.pic_slider .paganation span.active {
  background-color: #ec6a17;
  color: #fff;
}
#section .content {
  width: 984px;
  min-height: 544px;
  float: right;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  position: relative;
}
#section .content .title {
  padding-left: 20px;
  line-height: 57px;
  height: 57px;
  border-bottom: 1px solid #d3d3d3;
  color: #008de1;
  font-size: 18px;
}
#section .content .tickets {
  padding: 20px;
  padding-bottom: 0;
}
#section .content .ticket {
  margin-bottom: 20px;
  border: 1px solid #d3d3d3;
}
#section .content .ticket .top {
  background-color: #f2f2f2;
}
#section .content .ticket .top p {
  float: left;
  line-height: 34px;
  font-size: 14px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#section .content .ticket .top .order-num {
  width: 180px;
  margin-left: 10px;
  margin-right: 20px;
}
#section .content .ticket .top .order-date {
  width: 230px;
  margin-right: 100px;
}
#section .content .ticket .top .shop {
  width: 180px;
  margin-right: 50px;
}
#section .content .ticket .top .status {
  width: 130px;
}
#section .content .ticket .top .status .s {
  font-weight: bold;
  color: #ec6a17;
}
#section .content .ticket .middle p {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#section .content .ticket .left,
#section .content .ticket .right {
  float: left;
}
#section .content .ticket .left {
  width: 648px;
}
#section .content .ticket .goods {
  height: 80px;
  border-bottom: 1px solid #d3d3d3;
}
#section .content .ticket .goods > div {
  float: left;
}
#section .content .ticket .goods .info {
  padding: 9px 0 9px 20px;
}
#section .content .ticket .goods .info a {
  display: block;
}
#section .content .ticket .goods .info a p {
  display: inline-block;
  width: 230px;
  line-height: 62px;
  color: #666666;
  margin-left: 12px;
  vertical-align: top;
}
#section .content .ticket .goods .info img {
  display: inline;
  width: 60px;
  height: 60px;
  border: 1px solid #dcdcdc;
  vertical-align: top;
}
#section .content .ticket .goods .type {
  margin-top: 20px;
  margin-left: 80px;
  width: 100px;
}
#section .content .ticket .goods .type p {
  width: 100%;
  color: #999999;
  line-height: 20px;
  height: 20px;
}
#section .content .ticket .goods .amount {
  margin-left: 45px;
  margin-top: 30px;
}
#section .content .ticket .goods .amount p {
  max-width: 80px;
  line-height: 20px;
  height: 20px;
  color: #666666;
}
#section .content .ticket .right {
  height: 242px;
  border-bottom: 1px solid #d3d3d3;
}
#section .content .ticket .sum,
#section .content .ticket .operation {
  float: left;
  border-left: 1px solid #d3d3d3;
  height: 100%;
}
#section .content .ticket .sum {
  width: 151px;
}
#section .content .ticket .sum div {
  margin-top: 91px;
}
#section .content .ticket .sum div p {
  color: #666666;
  text-align: center;
  width: 100%;
  line-height: 30px;
}
#section .content .ticket .operation {
  width: 141px;
}
#section .content .ticket .operation div {
  margin-top: 91px;
}
#section .content .ticket .operation div a {
  font-size: 12px;
  display: block;
  width: 73px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
}
#section .content .ticket .operation div .details {
  color: #008de1;
  text-decoration: underline;
}
#section .content .ticket .operation div .refund {
  color: #ec6a17;
  background-color: #ffe3d1;
  margin-top: 12px;
}
#section .content .ticket .ticket-num {
  height: 57px;
}
#section .content .ticket .ticket-num p {
  padding-right: 20px;
  line-height: 57px;
  text-align: right;
  font-size: 18px;
  color: #ec6a17;
}
