.btn {
  background-color: #ec6a17;
  color: #ffffff;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pic_slider {
  overflow: hidden;
  position: relative;
}
.pic_slider .pic_inner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 470px;
}
.pic_slider .pic_inner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pic_slider .pic_inner a img {
  display: block;
  width: 100%;
  height: 100%;
}
.pic_slider .paganation {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
}
.pic_slider .paganation span {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #323333;
  cursor: pointer;
  margin-left: 5px;
}
.pic_slider .paganation span.active {
  background-color: #ec6a17;
  color: #fff;
}
#section .content {
  width: 984px;
  min-height: 544px;
  float: right;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
}
#section .content .title {
  padding-left: 20px;
  line-height: 57px;
  height: 57px;
  border-bottom: 1px solid #d3d3d3;
  color: #008de1;
  font-size: 18px;
}
#section .content .info {
  padding: 40px 40px 0;
}
#section .content .info li {
  overflow: hidden;
  margin-bottom: 20px;
}
#section .content .info .left,
#section .content .info .right {
  float: left;
}
#section .content .info .left {
  text-align: right;
  width: 90px;
  font-size: 18px;
  color: #333333;
  margin-right: 5px;
}
#section .content .info .item1 {
  line-height: 49px;
}
#section .content .info .item1 .right a {
  display: block;
  line-height: 49px;
  height: 49px;
  color: #008de1;
  font-size: 14px;
}
#section .content .info .item1 .right i {
  display: inline-block;
  width: 49px;
  height: 49px;
  background: url(../../img/icons.png) no-repeat;
  background-position: -414px -346px;
  vertical-align: middle;
  margin-right: 15px;
}
#section .content .info .item2 .left {
  line-height: 35px;
}
#section .content .info .item2 .right {
  font-size: 16px;
  width: 155px;
  height: 33px;
  border: 1px solid #d3d3d3;
  line-height: 33px;
  padding-left: 16px;
  background-color: #f2f2f2;
}
#section .content .info .item3 .right {
  font-size: 16px;
}
#section .content .info .item3 .right input {
  vertical-align: middle;
  margin-right: 6px;
}
#section .content .info .item3 .right .sec-inp {
  margin-left: 35px;
}
#section .content .info .item4 .left {
  line-height: 35px;
}
#section .content .info .item4 .right {
  line-height: 35px;
  font-size: 16px;
}
#section .content .info .item4 .right select {
  padding: 8px 4px;
  width: 110px;
  padding-left: 5px;
  font-weight: bold;
  border: 1px solid #d3d3d3;
}
#section .content .info .item5 .left {
  line-height: 35px;
}
#section .content .info .item5 .right {
  line-height: 35px;
}
#section .content .info .item5 .right input {
  font-size: 14px;
  width: 155px;
  height: 35px;
  border: 1px solid #d3d3d3;
  line-height: 35px;
  padding-left: 16px;
  background-color: #f2f2f2;
  display: inline-block;
}
#section .content .info .item5 .right a {
  color: #008de1;
  margin-left: 15px;
  font-size: 16px;
}
#section .content .info .item6 .left {
  height: 45px;
}
#section .content #submitBtn {
  margin-top: 20px;
  display: block;
  width: 170px;
  height: 45px;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  background-color: #ec6a17;
  border-radius: 6px;
}
