#mainContent {
  display: inline-block;
  margin-left: 18px;
  border: 1px solid #dedede;
  background-color: #FFFFFF;
  width: 985px;
}
#mainContent .title {
  padding: 8px 0 8px 20px;
  font-size: 18px;
  color: #494949;
  border-bottom: 1px solid #DEDEDE;
  color: #008DE1;
}
#mainContent .reviewsContent {
  padding: 40px;
  color: #666666;
}
#mainContent .reviewsContent .commodity-pictures {
  display: inline-block;
}
#mainContent .reviewsContent .commodity-pictures .img {
  width: 172px;
}
#mainContent .reviewsContent .commodity-pictures .commTitle {
  font-size: 12px;
  text-align: center;
  margin-top: 13px;
}
#mainContent .reviewsContent .score {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  margin-left: 30px;
}
#mainContent .reviewsContent .score .score-list {
  font-size: 16px;
  line-height: 25px;
}
#mainContent .reviewsContent .score .score-list .starIcon {
  display: inline-block;
  background: url(../../img/icons.png) no-repeat -54px -314px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer;
}
#mainContent .reviewsContent .score .score-list .star1 {
  margin-left: 10px;
}
#mainContent .reviewsContent .score .score-list .starActive {
  background-position: -54px -354px;
}
#mainContent .reviewsContent .score .serScore {
  margin: 23px 0;
}
#mainContent .reviewsContent .score .inpWrap {
  position: relative;
  margin-top: 40px;
}
#mainContent .reviewsContent .score .inpWrap span {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #999999;
}
#mainContent .reviewsContent .score .inpCon {
  resize: none;
  width: 655px;
  height: 216px;
  padding: 20px;
  font-size: 12px;
  border-color: #D3D3D3;
  outline: none;
}
#mainContent .reviewsContent .score .upload_img {
  margin-top: 10px;
  font-size: 0;
}
#mainContent .reviewsContent .score .upload_img #file {
  display: none;
}
#mainContent .reviewsContent .score .upload_img > div {
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
#mainContent .reviewsContent .score .upload_img > div > img {
  width: 100%;
  height: 100%;
}
#mainContent .reviewsContent .score .upload_img .upimgbtn {
  color: #c5c5c5;
  background-color: #e4e4e4;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
#mainContent .reviewsContent .score .sendCom {
  display: inline-block;
  margin-top: 40px;
  border-radius: 5px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #EC6A17;
  width: 170px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}
