body {
  background-color: #f2f2f2;
}
#section {
  width: 100%;
  min-width: 1180px;
  margin: 0 auto;
}
#section .section-wrap {
  width: 1180px;
  margin: 0 auto;
}
#section .pic_slider {
  overflow: hidden;
  position: relative;
}
#section .pic_slider .pic_inner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 470px;
}
#section .pic_slider .pic_inner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#section .pic_slider .pic_inner a img {
  display: block;
  width: 100%;
  height: 100%;
}
#section .pic_slider .paganation {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
}
#section .pic_slider .paganation span {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #323333;
  cursor: pointer;
  margin-left: 5px;
}
#section .pic_slider .paganation span.active {
  background-color: #ec6a17;
  color: #fff;
}
#section .select_shop_style {
  height: 160px;
  margin-top: 10px;
}
#section .select_shop_style a {
  width: 289px;
  height: 160px;
  display: inline-block;
  margin-left: 4.68px;
}
#section .select_shop_style a img {
  width: 100%;
  height: 100%;
}
#section .select_shop_style a:first-child {
  margin-left: 0;
}
#section .brand_select .brand_select_header {
  background: #f2f2f2;
  border-bottom: 2px solid #008de1;
  line-height: 97px;
  font-size: 17px;
}
#section .brand_select .brand_select_header span {
  font-size: 32px;
  color: #008DE1;
}
#section .brand_select .brand_select_header span:first-child {
  color: #ec6a17;
}
#section .brand_select .brand_select_content {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 363px;
}
#section .brand_select .brand_select_content .brand_select_left {
  width: 328px;
  height: 346px;
  position: relative;
  float: left;
  margin-top: 7.5px;
  margin-left: 8px;
}
#section .brand_select .brand_select_content .brand_select_left a img {
  width: 100%;
  height: 100%;
}
#section .brand_select .brand_select_content .brand_select_right {
  width: 835px;
  height: 346px;
  float: right;
  margin-top: 9px;
}
#section .brand_select .brand_select_content .brand_select_right a {
  width: 206px;
  height: 114px;
  display: block;
  border: 1px solid #ccc;
  float: left;
  margin-top: -1px;
  border-right: 0;
}
#section .brand_select .brand_select_content .brand_select_right a img {
  width: 206px;
  margin: auto;
}
#section .brand_select .brand_select_content .brand_select_right a:nth-of-type(4),
#section .brand_select .brand_select_content .brand_select_right a:nth-of-type(8),
#section .brand_select .brand_select_content .brand_select_right a:nth-of-type(12) {
  border-right: 1px solid #ccc;
}
#section .car_decorate .car_decorate_header,
#section .car_decorate .hotel_header,
#section .car_decorate .men_clothes_header,
#section .car_decorate .build_goods_header {
  position: relative;
  height: 64px;
  border-bottom: 3px solid #008de1;
  background: #f2f2f2;
}
#section .car_decorate .car_decorate_header span,
#section .car_decorate .hotel_header span,
#section .car_decorate .men_clothes_header span,
#section .car_decorate .build_goods_header span {
  font-size: 16px;
  cursor: pointer;
}
#section .car_decorate .car_decorate_header .goods_logo,
#section .car_decorate .hotel_header .goods_logo,
#section .car_decorate .men_clothes_header .goods_logo,
#section .car_decorate .build_goods_header .goods_logo,
#section .car_decorate .car_decorate_header #hotel_icon,
#section .car_decorate .hotel_header #hotel_icon,
#section .car_decorate .men_clothes_header #hotel_icon,
#section .car_decorate .build_goods_header #hotel_icon,
#section .car_decorate .car_decorate_header #men_clothes,
#section .car_decorate .hotel_header #men_clothes,
#section .car_decorate .men_clothes_header #men_clothes,
#section .car_decorate .build_goods_header #men_clothes,
#section .car_decorate .car_decorate_header #build_goods,
#section .car_decorate .hotel_header #build_goods,
#section .car_decorate .men_clothes_header #build_goods,
#section .car_decorate .build_goods_header #build_goods {
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../../img/icons.png") no-repeat;
  background-position: -204px -127px;
  bottom: 12px;
  left: 0;
  z-index: 99;
}
#section .car_decorate .car_decorate_header #hotel_icon,
#section .car_decorate .hotel_header #hotel_icon,
#section .car_decorate .men_clothes_header #hotel_icon,
#section .car_decorate .build_goods_header #hotel_icon {
  background-position: -204px -196px;
}
#section .car_decorate .car_decorate_header #men_clothes,
#section .car_decorate .hotel_header #men_clothes,
#section .car_decorate .men_clothes_header #men_clothes,
#section .car_decorate .build_goods_header #men_clothes {
  background-position: -207px -259px;
}
#section .car_decorate .car_decorate_header #build_goods,
#section .car_decorate .hotel_header #build_goods,
#section .car_decorate .men_clothes_header #build_goods,
#section .car_decorate .build_goods_header #build_goods {
  background-position: -207px -329px;
}
#section .car_decorate .car_decorate_header a,
#section .car_decorate .hotel_header a,
#section .car_decorate .men_clothes_header a,
#section .car_decorate .build_goods_header a {
  position: absolute;
  bottom: 10px;
  left: 40px;
  color: #008DE1;
  font-size: 19px;
}
#section .car_decorate .car_decorate_header .span1,
#section .car_decorate .hotel_header .span1,
#section .car_decorate .men_clothes_header .span1,
#section .car_decorate .build_goods_header .span1 {
  position: absolute;
  left: 353px;
  bottom: 10px;
}
#section .car_decorate .car_decorate_header .span2,
#section .car_decorate .hotel_header .span2,
#section .car_decorate .men_clothes_header .span2,
#section .car_decorate .build_goods_header .span2 {
  position: absolute;
  left: 492px;
  bottom: 10px;
}
#section .car_decorate .car_decorate_header .span3,
#section .car_decorate .hotel_header .span3,
#section .car_decorate .men_clothes_header .span3,
#section .car_decorate .build_goods_header .span3 {
  position: absolute;
  left: 624px;
  bottom: 10px;
}
#section .car_decorate .car_decorate_content {
  height: 533px;
  background: #fff;
  border: 1px solid #ccc;
}
#section .car_decorate .car_decorate_content .car_decorate_left {
  margin-top: 10px;
  float: left;
  margin-left: 10px;
}
#section .car_decorate .car_decorate_content .car_decorate_left a {
  display: block;
  width: 315px;
  height: 513px;
}
#section .car_decorate .car_decorate_content .car_decorate_left a img {
  width: 100%;
  height: 100%;
}
#section .car_decorate .car_decorate_content .car_decorate_right {
  width: 835px;
  margin-top: 10px;
  margin-left: 10px;
  float: right;
}
#section .car_decorate .car_decorate_content .car_decorate_right li {
  width: 260px;
  float: left;
  margin-left: 10px;
}
#section .car_decorate .car_decorate_content .car_decorate_right li .car_title {
  height: 150px;
}
#section .car_decorate .car_decorate_content .car_decorate_right li .car_title a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
#section .car_decorate .car_decorate_content .car_decorate_right li .car_title img {
  width: 100%;
  height: 100%;
}
#section .car_decorate .car_decorate_content .car_decorate_right li .car_title div {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}
#section .car_decorate .car_decorate_content .car_decorate_right li .car_message {
  padding: 10px;
}
#section .car_decorate .car_decorate_content .car_decorate_right li .car_message span {
  display: inline-block;
  background: url("../../img/icons.png") no-repeat;
  width: 15px;
  height: 17px;
  margin-top: 2px;
  position: relative;
  top: -2px;
}
#section .car_decorate .car_decorate_content .car_decorate_right li .car_message .car_message_span1 {
  background-position: 0 -20px;
  left: 1px;
}
#section .car_decorate .car_decorate_content .car_decorate_right li .car_message .car_message_span2 {
  background-position: -204px -53px;
}
#section .car_decorate .car_decorate_content .car_decorate_right li .car_message .car_message_span3 {
  background-position: -204px -82px;
}
#section .car_decorate .car_decorate_content .car_decorate_right li .car_message p {
  display: inline-block;
  width: 220px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 5px;
}
#section .car_decorate .car_decorate_content .car_decorate_right li:nth-of-type(4),
#section .car_decorate .car_decorate_content .car_decorate_right li:nth-of-type(5),
#section .car_decorate .car_decorate_content .car_decorate_right li:nth-of-type(6) {
  margin-top: 16px;
}
#section .car_decorate .car_decorate_content .car_decorate_right li:hover {
  background-color: #f2f2f2;
}
#section .car_decorate .slider_index {
  width: 94px;
  height: 7px;
  position: absolute;
  bottom: -3px;
  left: 335px;
  background: url(../../img/active/index/slider.png) no-repeat;
  background-position: -4px 0;
}
#section .JUMEI {
  height: 120px;
  margin-top: 30px;
  background: url(../../img/active/index/JUMEI.png) no-repeat;
  background-size: 100% 170%;
}
#section .t_shirt {
  height: 120px;
  margin-top: 30px;
  background: url(../../img/active/index/t-shirt.png) no-repeat;
  background-size: 100% 230%;
  background-position: 0 -9px;
}
#section .women_use {
  margin-top: 30px;
  height: 120px;
  background: url(../../img/active/index/women_use.png) no-repeat;
  background-size: 100% 230%;
  background-position: 0 -69px;
}
#section .home_design_logo {
  margin-top: 30px;
  height: 120px;
  background: url(../../img/active/index/home_design_logo.png) no-repeat;
  background-size: 100% 230%;
  background-position: 0 -106px;
}
