.btn {
  background-color: #ec6a17;
  color: #ffffff;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pic_slider {
  overflow: hidden;
  position: relative;
}
.pic_slider .pic_inner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 470px;
}
.pic_slider .pic_inner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pic_slider .pic_inner a img {
  display: block;
  width: 100%;
  height: 100%;
}
.pic_slider .paganation {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
}
.pic_slider .paganation span {
  display: inline-block;
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #323333;
  cursor: pointer;
  margin-left: 5px;
}
.pic_slider .paganation span.active {
  background-color: #ec6a17;
  color: #fff;
}
body {
  background-color: #f2f2f2;
}
#section .section-wrap {
  width: 1180px;
  margin: 0 auto;
}
#section .add {
  background: url(../../img/business_bg.png) no-repeat;
  color: #ffffff;
  font-size: 30px;
  height: 98px;
  line-height: 98px;
  text-align: center;
  margin-top: 10px;
}
#section .head {
  margin-top: 26px;
}
#section .head .left {
  display: inline-block;
}
#section .head .left .text1 {
  font-size: 36px;
  color: #ec6a17;
}
#section .head .left .text2 {
  font-size: 36px;
  color: #008de1;
}
#section .head .left .text3 {
  font-size: 20px;
  color: #333333;
  margin-left: 10px;
}
#section .head .right {
  float: right;
  margin-top: 12px;
}
#section .head .right a {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  text-align: center;
  line-height: 28px;
  width: 88px;
  height: 28px;
  font-size: 14px;
  color: #666666;
  margin-left: 10px;
  border-radius: 4px;
}
#section .content {
  margin-top: 20px;
}
#section .content .menu {
  float: left;
  width: 230px;
  position: relative;
  z-index: 100;
  background-color: #ffffff;
}
#section .content .menu .first-menu {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-bottom: none;
}
#section .content .menu .first-menu li {
  border-bottom: 1px solid #d3d3d3;
}
#section .content .menu .first-menu li a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 26px 0 30px;
  color: #333333;
  font-size: 16px;
  overflow: hidden;
}
#section .content .menu .first-menu li a .icon {
  display: inline-block;
  float: right;
  height: 50px;
  width: 10px;
  background: url(../../img/icons.png) no-repeat;
  background-position: 0 -444px;
}
#section .content .menu .first-menu li.active {
  background-color: #008de1;
}
#section .content .menu .first-menu li.active a {
  color: #ffffff;
}
#section .content .menu .first-menu li.active a .icon {
  background-position: 0 -399px;
}
#section .content .menu .second-menu {
  background-color: #ffffff;
  display: none;
  position: absolute;
  z-index: 100;
  top: -1px;
  left: 229px;
  padding: 10px 25px 10px 25px;
  height: 448px;
  width: 360px;
  border: 1px solid #d3d3d3;
}
#section .content .menu .second-menu .item {
  display: none;
  position: relative;
}
#section .content .menu .second-menu .item .item-list {
  border-top: 1px dotted #dcdcdc;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 25px;
}
#section .content .menu .second-menu .item .item-list li {
  float: left;
  line-height: 34px;
}
#section .content .menu .second-menu .item .item-list li a {
  color: #666666;
  margin-left: ;
  border-right: 1px solid #333333;
  font-size: 14px;
  padding-right: 20px;
  margin-right: 20px;
}
#section .content .menu .second-menu .item .item-list li a:hover {
  color: #ec6a17;
  text-decoration: underline;
}
#section .content .menu .second-menu .item .item-list.item-list1 {
  border-top: none;
}
#section .content .seller-wrap {
  float: right;
  width: 938px;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  padding-bottom: 65px;
}
#section .content .seller-list {
  width: 100%;
  padding: 0 5px;
}
#section .content .seller-list li {
  float: left;
  width: 222px;
  padding-bottom: 10px;
  margin: 10px 5px 0;
}
#section .content .seller-list li .seller-image {
  margin-bottom: 7px;
}
#section .content .seller-list li .seller-image a {
  position: relative;
  display: block;
  width: 100%;
  height: 122px;
}
#section .content .seller-list li .seller-image a img {
  height: 100%;
}
#section .content .seller-list li .seller-image a > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 31px;
}
#section .content .seller-list li .seller-image a > div .bg {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
}
#section .content .seller-list li .seller-image a > div p {
  position: relative;
  z-index: 5;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 31px;
}
#section .content .seller-list li .seller-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 28px;
  font-size: 14px;
}
#section .content .seller-list li .seller-info p .icon {
  display: inline-block;
  background: url("../../img/icons.png") no-repeat;
  width: 15px;
  height: 19px;
  vertical-align: middle;
  margin: 0 10px;
}
#section .content .seller-list li .seller-info .p1 .icon {
  background-position: 0 -20px;
}
#section .content .seller-list li .seller-info .p2 .icon {
  background-position: -204px -53px;
}
#section .content .seller-list li .seller-info .p3 .icon {
  height: 20px;
  background-position: -204px -82px;
}
#section .content .seller-list li:hover {
  background-color: #f2f2f2;
}
#section .content .pagination-wrap {
  text-align: center;
  margin-top: 20px;
}
#section .content .pagination {
  display: inline-block;
  overflow: hidden;
}
#section .content .pagination > * {
  float: left;
}
#section .content .pagination a:hover {
  background-color: #eeeeee;
}
#section .content .pagination .home {
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  padding: 8px 15px;
  font-size: 16px;
  display: block;
  color: #008de1;
}
#section .content .pagination ul {
  margin: 0 20px;
  overflow: hidden;
}
#section .content .pagination ul li {
  float: left;
}
#section .content .pagination ul li a {
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  padding: 8px 15px;
  font-size: 16px;
  display: block;
  color: #666666;
}
#section .content .pagination ul li.active a {
  background-color: #008de1;
  color: #ffffff;
}
#section .content .pagination .right {
  overflow: hidden;
  font-size: 16px;
  color: #666666;
  line-height: 42px;
}
#section .content .pagination .right > * {
  float: left;
}
#section .content .pagination .right div input {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  width: 50px;
  border: 1px solid #dcdcdc;
  text-align: center;
  margin: 0 5px;
}
#section .content .pagination .right a {
  width: 90px;
  height: 35px;
  color: #ffffff;
  line-height: 35px;
  margin: 3.5px 15px;
  border-radius: 4px;
  background-color: #008de1;
}
