.section {
  width: 1200px;
  height: 892px;
  margin: 30px auto 0;
}

.section .main {
  float: right;
}

.section .main h4 {
  width: 98px;
  line-height: 46px;
  display: block;
  height: 46px;
  text-align: center;
  color: grey;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
}

.section .main ul {
  font-size: 16px;
  color: black;
  border-top: 1px solid #e6e6e6;
}

.section .main ul li {
  width: 452px;
  height: 110px;
  border: 1px solid #e6e6e6;
  margin: 20px 20px 0 0;
  float: left;
  padding-left: 25px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.section .main ul li .basicinformation {
  margin: 20px 0;
  margin-bottom: 25px;
}

.section .main ul li .modify_delete {
  position: absolute;
  right: 22px;
  bottom: 13px;
}

.section .main ul li .modify_delete a {
  color: #d0d0d0;
}

.section .main ul li .modify_delete .modify {
  padding-right: 5px;
  border-right: 1px solid grey;
}

.section .main ul li .modify_delete .delete {
  margin-left: 5px;
}

.section .main ul li .right_coner {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 28px;
  background: url("../../img/home.png") no-repeat;
  background-position: -95px -32px;
}

.section .main ul li .chosen {
  background-position: -150px -32px;
}

.section .main ul .choose_this {
  border-color: red;
}

.section .main .add_address {
  margin-top: 18px;
  font-size: 16px;
  display: block;
  width: 96px;
  height: 32px;
  color: black;
  line-height: 32px;
  text-align: center;
  border: 1px solid #e6e6e6;
}

#reverse_address {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url('../../img/reverse_address.png') repeat 0 0;
}

#reverse_address .reverse_main {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 850px;
  height: 525px;
  border: 10px solid #e6e6e6;
}

#reverse_address .reverse_main h4 {
  padding-left: 12px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 16px;
}

#reverse_address .reverse_main .introduce {
  font-size: 12px;
  margin-bottom: 44px;
}

#reverse_address .reverse_main .introduce .remind_color {
  color: #f29004;
  padding: 0 25px 0 16px;
}

#reverse_address .reverse_main li {
  border: none;
  font-size: 12px;
  padding-left: 48px;
  line-height: 36px;
  height: 36px;
  margin-bottom: 15px;
}

#reverse_address .reverse_main li span {
  display: inline-block;
  width: 72px;
  height: 32px;
  margin-right: 10px;
}

#reverse_address .reverse_main li span sup {
  color: red;
}

#reverse_address .reverse_main li input {
  height: 100%;
  padding-left: 15px;
  line-height: 36px;
}

#reverse_address .reverse_main li select {
  // height: 100%;
  // padding: 0 15px;
  // padding:10px 0;
  padding:10px 0 10px 14px;
  border-color: #e6e6e6;
  margin-right: 10px;
  line-height: 36px;
  vertical-align: middle;
}

#reverse_address .reverse_main li textarea {
  border-color: #e6e6e6;
  border:1px solid #dbdbdb;
  padding:10px;
  overflow: auto;
  line-height: 16px;
  height: 70px;
}

#reverse_address .reverse_main .first_line input {
  width: 168px;
}

#reverse_address .reverse_main .second_line seclect {
  width: 103px;
}

#reverse_address .reverse_main .second_line input {
  width: 168px;
}

#reverse_address .reverse_main .third_line {
  position: relative;
}

#reverse_address .reverse_main .third_line .choose_province {
  width: 113px;
  margin-right: 15px;
}

#reverse_address .reverse_main .third_line .choose_city {
  width: 400px;
}

#reverse_address .reverse_main .fourth_line {
  height: 84px;
}

#reverse_address .reverse_main .fourth_line span {
  vertical-align: top;
}

#reverse_address .reverse_main .fourth_line span sup {
  vertical-align: top;
}

#reverse_address .reverse_main .allow {
  padding-left: 134px;
  font-size: 12px;
}
#reverse_address .reverse_main .allow input{
  margin-right: 8px;
}

#reverse_address .reverse_main .allow input {
  vertical-align: middle;
}

#reverse_address .reverse_main .save {
  margin-left: 140px;
  width: 116px;
  height: 35px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background-color: #f2f2f2;
  line-height: 35px;
  border-radius: 4px;
  border: 1px solid grey;
  display: block;
  margin-top: 35px;
}