.fl {
  float: left;
}
.fr {
  float: right;
}
/**************section*****************/
.section {
  width: 1200px;
  margin: 0 auto;
}
.section {
  margin-top: 30px;
  margin-bottom: 480px;
}
.part-left {
  width: 170px;
  height: 410px;
  border: 1px solid #e6e6e6;
}
.part-left .list-nav {
  text-align: center;
}
.part-left .list-nav li {
  height: 50px;
  box-sizing: border-box;
}
.part-left .list-nav li a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 50px;
  color: #000000;
}
.part-left .list-nav li .show {
  background: #ffa130;
  color: #fff;
}
.part-left .active {
  border-top: 4px solid #ffa130;
  color: #fff;
}
