.part-right {
  width: 1000px;
  position: relative;
}
.part-right .wallet-title {
  border: 1px solid #e6e6e6;
  background: #f0f0f0;
}
.part-right .wallet-title span {
  display: inline-block;
  width: 100px;
}
.part-right .wallet-title span a {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.part-right .wallet-title .flash {
  background: #FFFFFF;
}
.part-right .wallet-con .sum {
  width: 340px;
  border: 1px solid #e6e6e6;
  background: #faf8f4;
  text-align: center;
  margin: 35px auto 0;
  padding-bottom: 20px;
}
.part-right .wallet-con .sum .sum-con {
  display: inline-block;
  margin: 45px auto 0;
}
.part-right .wallet-con .sum .sum-con .title {
  font-size: 14px;
  color: #868686;
  vertical-align: top;
  margin-top: 5px;
  text-align: center;
}
.part-right .wallet-con .sum .sum-con .money {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
}
.part-right .wallet-con .sum .sum-con:before {
  content: "";
  display: block;
  margin-bottom: 0 auto;
  width: 62px;
  height: 62px;
  background: url(../../img/icon.png) no-repeat -176px -390px;
}
.part-right .wallet-con .zhifubao {
  width: 340px;
  height: 50px;
  border: 1px solid #e6e6e6;
  margin: 32px auto 63px;
}
.part-right .wallet-con .zhifubao p {
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
}
.part-right .wallet-con .zhifubao p:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../../img/icon.png) no-repeat -109px -296px;
  vertical-align: middle;
  margin: 0 13px 0 20px;
}
.part-right .wallet-con #charge {
  display: block;
  width: 88px;
  height: 35px;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
  color: #FFFFFF;
  background: #26c08a;
  border-radius: 4px;
  margin: 0 auto;
}
.part-right .bill {
  display: none;
}
.part-right .bill .bill-con {
  border-left: 1px dashed #26c08a;
  margin: 0 0 0 16px;
}
.part-right .bill .bill-con .month {
  font-size: 18px;
  margin-top: 27px;
}
.part-right .bill .bill-con .month:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url(../../img/icon.png) no-repeat -381px 0;
  margin-left: -6px;
  margin-right: 7px;
}
.part-right .bill .bill-con ul li {
  width: 473px;
  height: 85px;
  margin-left: 13px;
  margin-top: 13px;
  background: url(../../img/personal_home_bg.png) no-repeat 0 0;
}
.part-right .bill .bill-con ul li span {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}
.part-right .bill .bill-con ul li span:nth-child(1) {
  margin: 13px 0 0 20px;
}
.part-right .bill .bill-con ul li span:nth-child(2) {
  margin: 13px 38px 0 0;
}
.part-right .bill .bill-con ul li p {
  display: inline-block;
  font-size: 14px;
  color: #868686;
  margin: 56px 0 0 -32px;
}
.part-right .bill .bill-con ul li:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 5px;
  background: url(../../img/icon.png) no-repeat -396px 0;
  margin-left: -150px;
  margin-top: 38px;
  margin-right: 30px;
}
.part-right .show {
  display: block;
}
