.fl {
  float: left;
}
.fr {
  float: right;
}
.part-right {
  width: 1000px;
}
.part-right .collect-title {
  border-bottom: 1px solid #e6e6e6;
}
.part-right .collect-title span {
  display: inline-block;
  width: 100px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  text-align: center;
  font-size: 18px;
  line-height: 48px;
}
.part-right .collect-con {
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 50px;
}
.part-right .collect-con .con-title {
  background: #f7f7f7;
}
.part-right .collect-con .con-title .select {
  display: inline-block;
  margin-right: 66px;
}
.part-right .collect-con .con-title .select a {
  display: inline-block;
}
.part-right .collect-con .con-title .select .all {
  color: #000000;
}
.part-right .collect-con .con-title .select .all:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../img/icon.png) no-repeat -147px -422px;
  vertical-align: middle;
  margin: 0 20px 0 16px;
}
.part-right .collect-con .con-title .select .s-all:before {
  background: url(../../img/icon.png) no-repeat -147px -401px;
}
.part-right .collect-con .con-title .select .del {
  color: #ca4444;
  border-left: 2px solid #aeaeae;
  line-height: 14px;
  padding-left: 5px;
}
.part-right .collect-con .con-title span {
  color: #868686;
}
.part-right .collect-con .con-title .s1 {
  margin-right: 307px;
}
.part-right .collect-con .con-title .s2 {
  margin-right: 198px;
}
.part-right .collect-con table tr {
  padding: 10px 0;
}
.part-right .collect-con table tr td {
  font-size: 14px;
}
.part-right .collect-con table tr .td1 a {
  display: inline-block;
}
.part-right .collect-con table tr .td1 a:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../img/icon.png) no-repeat -147px -422px;
  vertical-align: middle;
  margin: 0 20px 0 16px;
}
.part-right .collect-con table tr .td1 a img {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  margin-right: 26px;
}
.part-right .collect-con table tr .td1 .s-it:before {
  background: url(../../img/icon.png) no-repeat -147px -401px;
}
.part-right .collect-con table tr .td2 {
  width: 192px;
  line-height: 14px;
}
.part-right .collect-con table tr .td2 span {
  display: inline-block;
  width: 195px;
  padding-right: 100px;
}
.part-right .collect-con table tr .td3 {
  color: #ffa130;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  border-top: 0;
  padding: 0 73px;
  height: 125px;
}
.part-right .collect-con table tr .td4 {
  width: 311px;
}
.part-right .collect-con table tr .td4 a {
  display: inline-block;
  color: #868686;
  margin-left: 130px;
}
