.fl {
  float: left;
}
.fr {
  float: right;
}
/**************section*****************/
.section {
  width: 1200px;
  margin: 0 auto;
}
.section {
  margin-top: 30px;
}
.part-left {
  width: 170px;
  height: 410px;
  border: 1px solid #e6e6e6;
}
.part-left .list-nav {
  text-align: center;
}
.part-left .list-nav li {
  height: 50px;
  box-sizing: border-box;
}
.part-left .list-nav li a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 50px;
  color: #000000;
}
.part-left .list-nav li .show {
  background: #ffa130;
}
.part-left .active {
  border-top: 4px solid #ffa130;
}
.part-right {
  width: 1000px;
}
.part-right .userinformation .user-title {
  border: 1px solid #e6e6e6;
}
.part-right .userinformation .user-title span {
  font-size: 18px;
  margin-left: 20px;
  line-height: 50px;
}
.part-right .userinformation .head-portrait {
  border: 1px solid #e6e6e6;
}
.part-right .userinformation .head-portrait span {
  display: inline-block;
  font-size: 14px;
  color: #868686;
  vertical-align: top;
  margin: 0 45px 0 20px;
}
.part-right .userinformation .head-portrait .change_head {
  display: inline-block;
  width: 90px;
  margin-top: 45px;
}
.part-right .userinformation .head-portrait input {
  display: inline-block;
  width: 266px;
  height: 45px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 45px;
  padding-left: 10px;
}
.part-right .userinformation .head-portrait .i1 {
  margin-top: 50px;
}
.part-right .userinformation .head-portrait .i2 {
  margin-top: 40px;
}
.part-right .userinformation .head-portrait p {
  font-size: 12px;
  color: #868686;
  margin: 10px  0 0 110px;
}
.part-right .userinformation .head-portrait .keepit {
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  background: #ffa130;
  width: 80px;
  height: 35px;
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  margin: 50px 0 114px 200px;
}
.part-right .userinformation .head-portrait .t1 {
  margin-top: 45px;
}
.part-right .userinformation .head-portrait .t2 {
  margin-top: 67px;
}
.part-right .userinformation .head-portrait .t3 {
  margin: 54px 17px 0 20px;
}
.part-right .userinformation .select {
  border: 1px solid #e6e6e6;
  border-top: 0;
  margin-bottom: 75px;
}
.part-right .userinformation .select ul .li .tit {
  font-size: 14px;
}
.part-right .userinformation .select ul .li .li-con {
  font-size: 12px;
  color: #868686;
}
.part-right .userinformation .select ul .li a {
  display: inline-block;
  width: 80px;
  height: 35px;
  border-radius: 4px;
  background: #26c08a;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}
.part-right .userinformation .select ul .li-1 {
  padding-top: 24px;
  margin: 0 0 0 22px;
}
.part-right .userinformation .select ul .li-1 .tit1 {
  margin-right: 45px;
}
.part-right .userinformation .select ul .li-1 .li-con1 {
  margin-right: 72px;
}
.part-right .userinformation .select ul .li-2 {
  margin: 25px 0 0 22px;
}
.part-right .userinformation .select ul .li-2 .tit2 {
  margin-right: 17px;
}
.part-right .userinformation .select ul .li-2 .li-con2 {
  margin-right: 72px;
}
.part-right .userinformation .select ul .li-3 {
  margin: 25px 0 50px 22px;
}
.part-right .userinformation .select ul .li-3 .tit3 {
  margin-right: 44px;
}
.part-right .userinformation .select ul .li-3 .li-con3 {
  margin-right: 180px;
}
