.section {
  margin-bottom: 447px;
}
.section .payit {
  background: #fef6ed;
}
.section .payit p {
  font-size: 16px;
  margin: 30px 0 22px 34px;
  padding-top: 23px;
}
.section .payit a {
  display: inline-block;
  width: 100px;
  height: 33px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  line-height: 33px;
}
.section .payit .payBtn {
  color: #FFFFFF;
  background: #f83131;
  border: 1px solid #f83131;
  margin: 0 26px 24px 39px;
}
.section .payit .cancelBtn {
  color: #000000;
  border: 1px solid #e6e6e6;
}
.section .pay-con {
  margin-top: 20px;
}
.section .pay-con .goods-information {
  font-size: 16px;
  line-height: 40px;
  border: 1px solid #e6e6e6;
  padding-left: 20px;
}
.section .pay-con .gi-title {
  font-size: 14px;
  line-height: 40px;
  border: 1px solid #e6e6e6;
  background: #f5f5f5;
}
.section .pay-con .gi-title li {
  display: inline-block;
  color: #868686;
}
.section .pay-con .gi-title .li1 {
  margin-left: 95px;
}
.section .pay-con .gi-title .li2 {
  margin-left: 337px;
}
.section .pay-con .gi-title .li3 {
  margin-left: 110px;
}
.section .pay-con .gi-title .li4 {
  margin-left: 117px;
}
.section .pay-con .gi-title .li5 {
  margin-left: 115px;
}
.section .pay-con .gi-title .li6 {
  margin-left: 108px;
}
.section .pay-con .gi-con {
  border: 1px solid #e6e6e6;
  border-top: none;
}
.section .pay-con .gi-con img {
  display: inline-block;
  width: 100px;
  margin: 20px 28px 20px 38px;
}
.section .pay-con .gi-con span {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.section .pay-con .gi-con .d1,
.section .pay-con .gi-con .d2 {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.section .pay-con .gi-con .d1 p,
.section .pay-con .gi-con .d2 p {
  font-size: 14px;
}
.section .pay-con .gi-con .s1 {
  margin-top: 64px;
}
.section .pay-con .gi-con .s2 {
  margin-top: 64px;
  margin-left: 165px;
}
.section .pay-con .gi-con .s3 {
  margin-top: 64px;
  margin-left: 100px;
}
.section .pay-con .gi-con .d1 {
  display: inline-block;
  margin-top: 55px;
  margin-left: 115px;
}
.section .pay-con .gi-con .s4 {
  width: 160px;
  height: 124px;
  border: 1px solid #e6e6e6;
  text-align: center;
  line-height: 124px;
  margin: 10px 53px 0 70px;
  border-top: none;
  border-bottom: none;
}
.section .pay-con .gi-con .d2 {
  margin-top: 55px;
}
.section .prices {
  height: 80px;
  border: 1px solid #e6e6e6;
  border-top: none;
  position: relative;
}
.section .prices p {
  position: absolute;
  top: 40px;
  right: 45px;
  font-size: 14px;
}
.section .prices p span {
  color: #ffa130;
}
