.part-right {
  width: 1000px;
}
.part-right .supply-title {
  border-bottom: 1px solid #e6e6e6;
}
.part-right .supply-title span {
  display: inline-block;
  width: 100px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  text-align: center;
  font-size: 18px;
  line-height: 48px;
}
.part-right .supply-con span {
  display: inline-block;
}
.part-right .supply-con input {
  display: inline-block;
  width: 260px;
  height: 32px;
  border: 1px solid #e6e6e6;
  padding-left: 15px;
  line-height: 32px;
}
.part-right .supply-con .t1,
.part-right .supply-con .t2,
.part-right .supply-con .t3 {
  margin-right: 10px;
  font-size: 14px;
}
.part-right .supply-con .t1 {
  margin-top: 34px;
}
.part-right .supply-con .i1 {
  margin-top: 23px;
}
.part-right .supply-con .i3 {
  resize: none;
  width: 449px;
  height: 103px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  overflow: auto;
}
.part-right .supply-con .t2 {
  margin-top: 26px;
}
.part-right .supply-con .i2 {
  margin-top: 15px;
}
.part-right .supply-con .t3 {
  margin-top: 23px;
}
.part-right .supply-con .i3 {
  margin-top: 15px;
}
.part-right .supply-con .addphoto {
  display: inline-block;
  margin-top: 15px;
  width: 90px;
  height: 90px;
  background: url(../../img/icon.png) no-repeat -300px -163px;
}
.part-right .supply-con .keepit {
  display: inline-block;
  width: 80px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  border-radius: 4px;
  background: #ffa130;
  color: #FFFFFF;
  text-align: center;
  margin-top: 46px;
}
