.fl {
  float: left;
}
.fr {
  float: right;
}
/**************section*****************/
.section {
  width: 1200px;
  margin: 0 auto;
}
.section {
  margin-top: 30px;
  margin-bottom: 480px;
}
.part-left {
  width: 170px;
  height: 410px;
  border: 1px solid #e6e6e6;
}
.part-left .list-nav {
  text-align: center;
}
.part-left .list-nav li {
  height: 50px;
  box-sizing: border-box;
}
.part-left .list-nav li a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 50px;
  color: #000000;
}
.part-left .list-nav li .show {
  background: #ffa130;
}
.part-left .active {
  border-top: 4px solid #ffa130;
}
.part-right {
  width: 1000px;
}
.part-right .pwd-title {
  border-bottom: 1px solid #e6e6e6;
}
.part-right .pwd-title span {
  display: inline-block;
  width: 100px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  text-align: center;
  font-size: 18px;
  line-height: 48px;
}
.part-right .pwd-con {
  border-bottom: 1px solid #e6e6e6;
}
.part-right .pwd-con span {
  display: inline-block;
}
.part-right .pwd-con input {
  display: inline-block;
  width: 260px;
  height: 32px;
  border: 1px solid #e6e6e6;
  padding-left: 15px;
  line-height: 32px;
}
.part-right .pwd-con .t1,
.part-right .pwd-con .t2,
.part-right .pwd-con .t3 {
  margin-right: 10px;
  font-size: 14px;
}
.part-right .pwd-con .t2 {
  margin-left: 12px;
}
.part-right .pwd-con .t1 {
  margin-top: 44px;
}
.part-right .pwd-con .i1 {
  margin-top: 34px;
}
.part-right .pwd-con .t2 {
  margin-top: 26px;
}
.part-right .pwd-con .i2 {
  margin-top: 15px;
}
.part-right .pwd-con .t3 {
  margin-top: 26px;
}
.part-right .pwd-con .i3 {
  margin-top: 15px;
}
.part-right .pwd-con p {
  font-size: 14px;
  color: #868686;
  margin-top: 18px;
  line-height: 14px;
}
.part-right .pwd-con .keepit {
  display: inline-block;
  width: 80px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  border-radius: 4px;
  background: #ffa130;
  color: #FFFFFF;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 65px;
}
